{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}Account Activated{% endblock %}

{% block registration_title %}
Optional Information
{% endblock %}

{% block registration_content %}
<form method="POST">
    {% csrf_token %}

    {% include "core/partials/non_field_errors.html" %}

    <div class="field">
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
    </div>
    <div class="field">
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
    </div>
    <div class="field">
        {{ form.zip_code.label_tag }}
        {{ form.zip_code }}
    </div>
    <h4>
        How did you hear about this?
    </h4>
    <ul class="list-unstyled register-referral">
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-toggle-field="#id_referrer_parks" />
                    NYC Parks
                </label>
            </div>
            {{ form.referrer_parks }}
        </li>
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-toggle-field="#id_referrer_group" />
                    Census Group
                </label>
            </div>
            {{ form.referrer_group }}
        </li>
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-toggle-field="#id_referrer_ad" />
                    Advertisement/Promotion
                </label>
            </div>
            {{ form.referrer_ad }}
        </li>
        <li>
            <div class="checkbox">
                <label>
                    {{ form.referrer_social_media }}
                    Social Media
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label>
                    {{ form.referrer_friend }}
                    Friends, family or co-workers
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label>
                    {{ form.referrer_311 }}
                    3-1-1
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-toggle-field="#id_referrer_other" />
                    Other
                </label>
            </div>
            {{ form.referrer_other }}
        </li>
    </ul>
    <div class="field">
        <label for="id_opt_in_stewardship_info">
            Are you interested in receiving additional information on
            stewardship opportunities available through NYC Parks?
        </label>
        <div class="checkbox">
            <label>
                {{ form.opt_in_stewardship_info }} Yes
            </label>
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-primary pull-right" value="Submit" />
        <a class="btn btn-link" href="{% url 'home_page' %}">Skip</a>
    </div>
</form>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/activation_form.js"|static_url }}"></script>
{% endblock page_js %}

{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
