{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}Account Activated{% endblock %}

{% block registration_title %}
Optional Information
{% endblock %}

{% block registration_content %}
<form method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="field">
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
    </div>
    <div class="field">
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
    </div>
    <div class="field">
        {{ form.zip_code.label_tag }}
        {{ form.zip_code }}
    </div>
    <h3>
        How did you hear about this?
    </h3>
    <ul>
        <li>
            <label>
                <input type="checkbox" data-toggle-field="#id_referrer_parks" />
                NYC Parks
            </label>
            {{ form.referrer_parks }}
        </li>
        <li>
            <label>
                <input type="checkbox" data-toggle-field="#id_referrer_group" />
                Census Group
            </label>
            {{ form.referrer_group }}
        </li>
        <li>
            <label>
                <input type="checkbox" data-toggle-field="#id_referrer_ad" />
                Advertisement/Promotion
            </label>
            {{ form.referrer_ad }}
        </li>
        <li>
            <label>
                {{ form.referrer_social_media }}
                Social Media
            </label>
        </li>
        <li>
            <label>
                {{ form.referrer_friend }}
                Friends, family or co-workers
            </label>
        </li>
        <li>
            <label>
                {{ form.referrer_311 }}
                3-1-1
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" data-toggle-field="#id_referrer_other" />
                Other
            </label>
            {{ form.referrer_other }}
        </li>
    </ul>
    <div class="field">
        <label for="id_opt_in_stewardship_info">
            Are you interested in receiving additional information on
            stewardship opportunities available through NYC Parks?
        </label>
        <label>
            {{ form.opt_in_stewardship_info }} Yes
        </label>
    </div>
    <div>
        <input type="submit" class="btn btn-primary pull-right" value="Submit" />
        <a class="btn" href="{% url 'home_page' %}">Skip</a>
    </div>
</form>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/activation_form.js"|static_url }}"></script>
{% endblock page_js %}

{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
