{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block registration_title %}{% trans "Change password" %}{% endblock %}

{% block registration_content %}
<form method="post" action="">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        {{ form.old_password.errors }}
        <label for="id_old_password">Old password:</label>
        <input id="id_old_password" name="old_password" type="password" class="form-control">
    </p>
    <p>
        {{ form.new_password1.errors }}
        <label for="id_new_password1">New password:</label>
        <input id="id_new_password1" name="new_password1" type="password" class="form-control">
    </p>
    <p>
        {{ form.new_password2.errors }}
        <label for="id_new_password2">New password confirmation:</label>
        <input id="id_new_password2" name="new_password2" type="password" class="form-control">
    </p>
    <input type="submit" value="{% trans 'Change password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
