{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block registration_title %}{% trans "Reset password" %}{% endblock %}

{% block registration_content %}
<p>
    Forgot your password? Enter your Trees Count! username or email address and click the "Reset" button below.
</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Reset password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
