{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block registration_title %}{% trans "Confirm password reset" %}{% endblock %}

{% block registration_content %}
<p>{% trans "Enter your new password below to reset your password:" %}</p>
<form method="post" action="">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        <label for="id_new_password1">New password:</label>
        <input id="id_new_password1" name="new_password1" type="password">
    </p>
    <p>
        <label for="id_new_password2">New password confirmation:</label>
        <input id="id_new_password2" name="new_password2" type="password">
    </p>
    <input type="submit" value="{% trans 'Set password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
