{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block registration_title %}{% trans "Reset password" %}{% endblock %}

{% block registration_content %}
<p>
    Forgot your password? Enter your TreesCount! username or email address and click the "Reset" button below.
</p>
<form method="post" action="">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        {{ form.email_or_username.errors }}
        <label for="id_email_or_username">Email or Username</label>
        <input type="text" name="email_or_username" required="" id="id_email_or_username" maxlength="254" class="form-control">
    </p>
    <input type="submit" value="{% trans 'Reset password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
