{% extends "base.html" %}
{% load utils %}

{% block content %}
<div class="page-registration">
    <div class="container">
        <div class="row">
            <aside class="pageheading col-sm-8 col-sm-offset-2">
                <div class="pageheading-description block">
                    <h2>
                      {% block registration_title %}
                      {% endblock %}
                    </h2>
                </div>
            </aside>
        </div>
        <div class="row">
            <main class="col-sm-8 col-sm-offset-2">
                {% block registration_content %}
                {% endblock %}
            </main>
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/registrationBase.js"|static_url }}"></script>
{% endblock %}
