{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block registration_title %}{% trans "Register" %}{% endblock %}

{% block registration_content %}
<p>
    Training for new TreesCount! volun<b>treers</b> has ended.
    Sign up below to be notified when TreesCount! data collection is complete,
    or learn about other volunteer opportunities. Please create a username and choose a password.
    If you are already a trained volun<b>treer</b>, you can <a href="{% url "auth_login" %}">log in</a>
    to your dashboard using the link in the top right corner.
</p>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}

    {% include "core/partials/non_field_errors.html" %}

    <p class="required">
        {{ form.username.errors }}
        {{ form.username.label_tag }}
        {{ form.username|add_class:"form-control" }}
    </p>
    <p class="required">
        {{ form.email.errors }}
        {{ form.email.label_tag }}
        {{ form.email|add_class:"form-control" }}
    </p>
    <p class="required">
        {{ form.password1.errors }}
        {{ form.password1.label_tag }}
        {{ form.password1|add_class:"form-control" }}
    </p>
    <p class="required">
        {{ form.password2.errors }}
        {{ form.password2.label_tag }}
        {{ form.password2|add_class:"form-control" }}
    </p>
    <p class="required">
        {{ form.tos.errors }}
        <span class="checkbox">
           <label for="id_tos">
               {{ form.tos }}
               I agree to the <a href="http://www1.nyc.gov/home/terms-of-use.page" target="new">terms of use</a>
           </label>
        </span>
    </p>
    <p>
        {{ form.age_over_13.errors }}
        <span class="checkbox">
            <label for="id_age_over_13">
                {{ form.age_over_13 }}
                I am over 13 years old
            </label>
        </span>
    </p>
    <input type="submit" class="btn btn-primary btn-mobile--max" value="{% trans 'Submit' %}" />
</form>
{% endblock %}

{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
