{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load waffle_tags %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block registration_title %}
  Welcome!
{% endblock %}

{% block registration_content %}
<p>
    Thank you for signing up as a volun<b>treer</b> with TreesCount! 2015.
    Please check your email inbox to confirm your account details.
</p>
<p>
    {% flag full_access %}
    Once confirmed, visit our TreesCount! <a href="{% url 'training_summary_pure' %}">census training</a>
    page to get started.
    {% endflag %}
</p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
