{% extends "base_two_frames.html" %}

{% load utils %}

{% block top %}

    {% if territory_bounds  %}
        <div id="map" class="map-small"
             data-tile-url="{{ layer.tile_url }}"
             data-bounds="{{ territory_bounds }}"
            ></div>
    {% endif %}

{% endblock top %}

{% block aside %}

    <div class="pageheading-description block">
        <div class="row">
            <div class="col-xs-4">
                {# TODO: Show a default image if group.image is null #}
                {% if group.image %}
                <div class="group-branding">
                    <img src="{{group.image.url}}"/>
                </div>
                {% endif %}
            </div>
            <div class="col-xs-8">
                <h2>{{group.name}}</h2>
            </div>
        </div>
    </div>
    <div class="pageheading-controls block">
        <div class="row">
            <div class="follow-detail">
                {% include 'groups/partials/follow_detail.html' %}
            </div>
        </div>
    </div>

{% endblock aside %}

{% block main %}

    <section>
        <div class="description block item">
            <h4 class="section-heading">Description</h4>
            <div>{{group.description}}</div>
        </div>
        <div class="description block item">
            <div class="row">
                <div class="col-xs-8">
                    <h5>{{group.contact_name}}</h5>
                    <div class="h6">Group Contact</div>
                </div>
                <div class="col-xs-4 text-right"><a href="mailto:{{group.contact_email}}" class="btn btn-default">Email</a></div>
            </div>
        </div>
        {% if group.contact_url %}
            <div class="description block item">
                <div class="row">
                    <div class="col-xs-8">
                        <h5>Website</h5>
                        <div class="h6">{{group.contact_url}}</div>
                    </div>
                    <div class="col-xs-4 text-right"><a href="{{group.contact_url}}" class="btn btn-default">Visit</a></div>
                </div>
            </div>
        {% endif %}
    </section>
    <section class="contributions">
        <h4 class="section-heading">Contributions</h4>
        <div class="contribution block item">
            <div class="row">
                <div class="contribution-label col-xs-6"><i class="icon-globe"></i>Trees</div>
                <div class="contribution-number col-xs-6">{{ counts.tree }}</div>
            </div>
        </div>
        <div class="contribution block item">
            <div class="row">
                <div class="contribution-label col-xs-6"><i class="icon-flow-tree"></i>Mapped in Area</div>
                <div class="contribution-number col-xs-6">{{ counts.block }}</div>
            </div>
        </div>
        <div class="contribution block item">
            <div class="row">
                <div class="contribution-label col-xs-6"><i class="icon-tag"></i>Events Held</div>
                <div class="contribution-number col-xs-6">{{ counts.event }}</div>
            </div>
        </div>
        <div class="contribution block item">
            <div class="row">
                <div class="contribution-label col-xs-6"><i class="icon-user"></i>Event Attendees</div>
                <div class="contribution-number col-xs-6">{{ counts.attendees }}</div>
            </div>
        </div>
    </section>
    <section class="events" id="{{ group_events_id }}">
        <h4 class="section-heading">Events</h4>
        <div data-class="event-list-container">
          {% include "groups/partials/detail_event_list.html" %}
        </div>
    </section>
    {% if show_mapper_request %}
    <section>
        <h4 class="section-heading">Individual Mapping</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue lorem, id feugiat tortor. Aliquam ante elit, sodales eget porttitor vel, commodo et felis.</p>
        <button class="btn btn-primary btn-mobile--max"
                data-action="request-access"
                data-group-slug="{{ group.slug }}">Request Individual Mapper Status</button>
    </section>
    {% endif %}

{% endblock main %}

{% block extra_content %}
<div class="modal fade" id="request-access-complete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Request Sent</h4>
            </div>
            <div class="modal-body">
                <p>Your request has been sent.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="request-access-fail-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Error Sending Request</h4>
            </div>
            <div class="modal-body">
                <p>There was a problem submitting your request. Please try again.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock extra_content %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/group_detail.js"|static_url }}"></script>
{% endblock page_js %}
