{% extends "base_two_frames.html" %}
{% load utils %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="groups" %}
{% endblock %}

{% block aside %}
<div class="pageheading-description block">
    <div class="row">
        <div class="col-xs-12">
            <h2>Groups</h2>
        </div>
    </div>
</div>
{% endblock aside %}

{% block main %}
{% block pre_loop_section %}
{% endblock pre_loop_section %}
{% if groups %}
<table class="group-table">
{% for group, user_is_following in groups %}
    <tr
         {% if chunk_size != None and forloop.counter > chunk_size %}
         style="display: none;"
         {% endif %}
         data-group-name="{{ group.name|lower }}"
         data-group-description="{{ group.description.lower }}">
        <td>
            <a href="{% url 'group_detail' group_slug=group.slug %}"><div class="h4 color--primary">{{ group.name }}</div></a>
            <div>{{ group.description }}</div>
        </td>
        <td>
            <div class="btn-follow-container pull-right">{% include 'groups/partials/follow_button.html' %}</div>
        </td>
    </tr>
{% endfor %}
</table>
<a href="#"
   {% if chunk_size == None or groups_count <= chunk_size %}
   style="display: none;"
   {% endif %}
   data-class="group-view-all">View All</a>

<div data-class="group-search-none-found" style="display: none;">
    <p>No groups match your search criteria.</p>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <p>No groups have been added, yet!</p>
    </div>
</div>
{% endif %}

{% block list_footer %}
{% endblock list_footer %}
{% endblock main %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/group_list.js"|static_url }}"></script>
{% endblock page_js %}
