{% extends "base.html" %}
{% load utils %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Groups</h1>
        </div>
    </div>
    {% for group, user_is_following in groups %}
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                {% include 'groups/partials/follow_button.html' %}
            </div>
            <a href="{% url 'group_detail' group_slug=group.slug %}"
                >{{ group.name }}</a>
            <p>
                {{ group.description }}
            </p>
        </div>
    </div>
    {% empty %}
    <div class="row">
        <div class="col-sm-12">
            <p>No groups have been added, yet!</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/group_list.js"|static_url }}"></script>
{% endblock page_js %}
