{% extends "base_two_frames.html" %}
{% load utils %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="groups" %}
{% endblock %}

{% block aside %}
  <h2>Groups</h2>
    <p class="pageheading-description-detail">
        NYC Parks and TreesCount! partner groups hosted training and mapping events across the
        five boroughs throughout the summer and fall of 2015.
    </p>
    <p class="pageheading-description-detail">
        Interested in being a TreesCount! partner group again in 2016? Please email
        <a href="mailto:Treescount@parks.nyc.gov">Treescount@parks.nyc.gov</a> and let us know.
    </p>
<!--
  <p class="pageheading-description-detail">
    NYC Parks and TreesCount! Partner groups will be hosting training and mapping events
    across the five boroughs.
  </p>
  <p class="pageheading-description-detail">
    Search for and follow a TreesCount! group to get information and RSVP to a mapping event near you!
  </p>
  <p class="pageheading-description-detail">
    Interested in being a TreesCount! group? Learn more about registering your group
    <a href="http://www.nycgovparks.org/trees/treescount/register-your-group">here</a>!
  </p>
-->
  {% block extra_description %}
 	{% endblock %}
{% endblock aside %}

{% block main %}
{% block pre_loop_section %}
{% endblock pre_loop_section %}

<div class="block">
    <div class="input-group">
      <span class="input-group-addon"><i class="icon-search"></i></span>
      <input type="text" class="form-control" placeholder="Filter groups" data-class="group-search">
    </div>
</div>

{% if groups %}
<table class="group-table">
{% for group, user_is_following in groups %}
    <tr
         {% if chunk_size != None and forloop.counter > chunk_size %}
         style="display: none;"
         {% endif %}
         data-group-name="{{ group.name|lower }}"
         data-group-description="{{ group.description.lower }}"
         data-affiliation="{{ group.affiliation.lower }}">
        <td>
            <a href="{% url 'group_detail' group_slug=group.slug %}"><div class="h4 color--primary">{{ group.name }}</div></a>
            <div>{{ group.description }}</div>
        </td>
    </tr>
{% endfor %}
</table>
<a href="#"
   {% if chunk_size == None or groups_count <= chunk_size %}
   style="display: none;"
   {% endif %}
   data-class="group-view-all">View All</a>

<div data-class="group-search-none-found" style="display: none;">
    <p>No groups match your search criteria.</p>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <p>No groups have been added, yet!</p>
    </div>
</div>
{% endif %}

{% endblock main %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/group_list.js"|static_url }}"></script>
{% endblock page_js %}
