{% load utils %}
{% load waffle_tags %}

{% flag full_access %}
    {% if show_request_access %}
    <section class="request-mapper-status">
        <form method="POST" action="{% url "request_individual_mapper_status" username=user.username %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-default" value="Request Independent Mapper Status" />
        </form>
    </section>
    {% endif %}
{% endflag %}

{% if show_contributions %}
<section class="contributions">
    <div>
        {% with title=contributions_title url="contributions" public=user.contributions_are_public %}
            {% include "users/partials/profile/contributions.html"%}
        {% endwith %}
    </div>
</section>
{% endif %}

{% if show_groups and follows.follows %}
<section class="groups">
    {% url 'group_list_page' as groups_url %}
    {% with title="Groups" url=groups_url public=user.group_follows_are_public %}
        {% include "users/partials/profile/groups.html" %}
    {% endwith %}
</section>
{% endif %}

{% flag full_access %}
    {% if show_reservations %}
    <section class="reservations">
        {% url 'reservations' as reservations_url %}
        {% with title="Reservations" url=reservations_url public=False %}
            {% include "users/partials/profile/reservations.html"%}
        {% endwith %}
    </section>
    {% endif %}
{% endflag %}

{% if show_achievements %}
<section class="achievements">
    {% url 'achievements' as achievements_url %}
    {% with title="Rewards" url=achievements_url public=user.achievements_are_public %}
        {% include "users/partials/profile/achievements.html" %}
    {% endwith %}
</section>
{% endif %}
