{% load utils %}
{% load waffle_tags %}

{% flag full_access %}
    {% if show_request_access %}
    <section class="request-mapper-status">
        <form method="POST" action="{% url "request_individual_mapper_status" username=user.username %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-default" value="Request Individual Mapper Status" />
        </form>
    </section>
    {% endif %}

    {% if show_contributions %}
    <section class="contributions">
        <div>
            {% with title=contributions_title section_id="contributions" public=user.contributions_are_public %}
                {% include "users/partials/profile/contributions.html"%}
            {% endwith %}
        </div>
    </section>
    {% endif %}

    {% if show_groups and follows.follows %}
    <section class="groups">
        {% with title="Groups" section_id="groups" public=user.group_follows_are_public %}
            {% include "users/partials/profile/groups.html" %}
        {% endwith %}
    </section>
    {% endif %}

    {% if show_reservations %}
    <section class="reservations">
        {% with title="Reservations" section_id="reservations" public=False %}
            {% include "users/partials/profile/reservations.html"%}
        {% endwith %}
    </section>
    {% endif %}

    {% if show_achievements %}
    <section class="achievements">
        {% with title="Achievements" section_id="achievements" public=user.achievements_are_public %}
            {% include "users/partials/profile/achievements.html" with section_id="achievements" %}
        {% endwith %}
    </section>
    {% endif %}
{% else %}
    <section class="soft-launch">
        {% with title="Your Profile" section_id="soft-launch" public=False %}
            {% include "users/partials/profile/soft_launch.html"%}
        {% endwith %}
    </section>
{% endflag %}
