<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porta diam vel
    consectetur. Sed aliquam odio risus, rhoncus suscipit est vulputate eget.
</div>

<div class="privacy-items">
    {% for category in privacy_categories %}
        <div class="privacy-item block item">
            <div class="row">
                <div class="col-xs-8{% if category.is_public %} icon-lock{% endif %}">
                    {{ category.title }}
                </div>
                <div class="col-xs-4 text-right">
                    <a href="javascript:;">
                        {% if category.is_public %}Public{% else %}Private{% endif %}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
