<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porta diam vel
    consectetur. Sed aliquam odio risus, rhoncus suscipit est vulputate eget.
</div>

<table>
    <tbody>
    {% for category in privacy_categories %}
        <tr>
            <td>
                {# TODO: use locked icon instead of text#}
                <span class="lock-icon">Private&nbsp;&nbsp;&nbsp;</span>
                {{ category.title }}
            </td>
            <td>
                <a class="privacy-toggler" href="javascript:;"
                   data-privacy-field-name="{{ category.field_name }}"
                   data-is-public="{{ category.is_public }}">
                    (Text set client-side)
                </a>
                {{ category.form_field.as_hidden }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


