<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porta diam vel
    consectetur. Sed aliquam odio risus, rhoncus suscipit est vulputate eget.
</div>

<div class="privacy-items">
    {% for category in privacy_categories %}
        <div class="privacy-item block item">
            <div class="row">
                <div data-privacy-toggle-target="{{ category.field_name }}"
                     class="col-xs-8">
                    {{ category.title }}
                </div>
                <div class="col-xs-4 text-right">
                    <a class="privacy-toggler" href="javascript:;"
                       data-privacy-field-name="{{ category.field_name }}"
                       data-is-public="{{ category.is_public }}">
                        (Text set client-side)
                    </a>
                    {{ category.form_field.as_hidden }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
