{% extends "base_two_frames.html" %}

{% load utils %}

{% block aside %}
    <div class="pageheading-description block">
        <div class="row">
            <div class="col-xs-12">
                <a href="{% url 'training' %}" class="breadcrumb">
                    <i class="icon-left-open-mini"></i>
                    Training
                </a>
            </div>
            <div class="col-xs-12">
                <h2>All Quizzes</h2>
            </div>
        </div>
    </div>
{% endblock aside %}

{% block main %}

<ul>
    {% for quiz_slug, quiz in quizzes %}
    <li><a href="{% url 'quiz' quiz_slug=quiz_slug %}">{{ quiz.title }}</a></li>
    {% endfor %}
</ul>

{% endblock main %}
