{% extends "../templates/registration/registration_base.html" %}
{% load i18n %}
{% load utils %}

{% block registration_title %}Recover Your Username{% endblock %}

{% block registration_content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    <form method="POST" id="forgot-username-form">
      <fieldset>
        {% csrf_token %}
        <p>
            Forgot your username? Enter the Email address you used to register
            with TreesCount! and click the “Find” button below.
        </p>
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.email.errors }}
          {{ form.email.label_tag }}
          {{ form.email }}
        </div>
        <input type="submit" class="btn btn-block btn-primary" value="Send" />
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/registrationBase.js"|static_url }}"></script>
{% endblock page_js %}
