{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block page_title %} | Recover Your Username{% endblock %}

{% block content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    <form method="POST" id="forgot-username-form">
      <fieldset>
        {% csrf_token %}
        <legend>Retrieve your Username</legend>
        <p>Forgot the username for your account? Enter your email address and click \"Send\" to receive an email with your username.</p>
        <h5>Fields marked with an asterisk (*) are required.</h5>
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.email.errors }}
          <label for="{{ form.email.id_for_label }}">Email Address:</label> *
          {{ form.email }}
        </div>
        <input type="submit" class="btn btn-block btn-primary" value="'Send'" />
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/forgot_username.js"|static_url }}"></script>
{% endblock page_js %}
