{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block page_title %} | Recover Your Username{% endblock %}

{% block content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    <form method="POST" id="forgot-username-form">
      <fieldset>
        {% csrf_token %}
        <legend>Retrieve your Username</legend>
        <p>
            Forgot your username? Enter the Email address you used to register
            with Trees Count! and click the “Find” button below.
        </p>
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.email.errors }}
          <label for="{{ form.email.id_for_label }}">Email Address:</label>
          {{ form.email }}
        </div>
        <input type="submit" class="btn btn-block btn-primary" value="Send" />
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/registrationBase.js"|static_url }}"></script>
{% endblock page_js %}
