{% extends "../templates/registration/registration_base.html" %}
{% load i18n %}
{% load utils %}

{% block registration_title %}Password Reset{% endblock %}

{% block registration_content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    <p>
        Your account has not yet been activated, which prevents us from sending a password reset email. Please email the TreesCount! 2015 Team at {{ "treescount.help@parks.nyc.gov"|urlize }} about activating your account.
    </p>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/registrationBase.js"|static_url }}"></script>
{% endblock page_js %}
