{% with event=info.event %}
{# If the user can edit the group, this section should be a div with hrefs, otherwise the whole thing should be an href #}
{% if event_list.user_can_edit_group %}
<div class="event block item">
{% else %}
<a href="{{ event.get_absolute_url }}" class="event block item rightarrow">
{% endif %}
    <div class="row">
        <div class="event-date col-xs-3">
            <div class="calendar">
                <div class="calendar-heading">
                    {{ event.begins_at|date:"M" }}
                </div>
                <div class="calendar-body">
                    {{ event.begins_at|date:"d" }}
                </div>
            </div>
        </div>
        <div class="event-details col-xs-7">
            {% if event_list.user_can_edit_group %}
            <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
            {% else %}
            <h5 class="event-detail--title">{{ event.title }}</h5>
            {% endif %}
            <table>
                <tr class="event-detail">
                    <td>
                        <i class="icon-user"></i>
                    </td>
                    <td>
                        {{ event.group.name }}
                    </td>
                </tr>
                <tr class="event-detail">
                    <td>
                        <i class="icon-clock"></i>
                    </td>
                    <td>
                        {{ event.begins_at|date:"f A" }}
                    </td>
                </tr>
                <tr class="event-detail">
                    <td>
                        <i class="icon-globe"></i>
                    </td>
                    <td>
                        {{ event.address }}
                    </td>
                </tr>
                <tr class="event-detail">
                    <td>
                        <i class="icon-leaf"></i>
                    </td>
                    <td>
                        {{ event.training_summary }}
                    </td>
                </tr>
            </table>
            {% if info.user_is_registered %}<div class="event-detail"><b>You are RSVPed!</b></div>{% endif %}
        </div>
        <div class="event-action col-xs-2">
            {% if event_list.user_can_edit_group %}
            <div class="dropdown text-right">
                <button class="btn btn-default dropdown-toggle"
                        type="button"
                        id="group-detail-event-info-submenu-{{ event.id }}"
                        data-toggle="dropdown"
                        aria-expanded="true">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="group-detail-event-info-submenu-{{ event.id }}">
                    <li><a role="menuitem" tabindex="-1" href="{{ event.get_absolute_url }}">View event</a></li>
                    <li><a role="menuitem" tabindex="-1" href="{% url 'event_edit' group_slug=event.group.slug event_slug=event.slug %}">Edit details</a></li>
                    <li><a role="menuitem" tabindex="-1" href="{% url 'event_email' group_slug=event.group.slug event_slug=event.slug %}">Email attendees</a></li>
                    <li><a role="menuitem" tabindex="-1" href="{% url 'event_admin_check_in_page' group_slug=event.group.slug event_slug=event.slug %}">Event check-in</a></li>
                    <li><a role="menuitem" tabindex="-1" href="javascript:;" class="js-copy-event-url"
                            data-event-url="{{ info.event_share_url }}">Get shareable link</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% if event_list.user_can_edit_group %}
</div>
{% else %}
</a>
{% endif %}
{% endwith %}
