{% if render_follow_button_without_count %}
    {% include 'groups/partials/follow_button.html' %}
{% else %}
    <div class="col-xs-6 secondary-heading">
        <span class="h2"><b>{{ counts.follows }}</b></span>
        <span class="h6">Follower{{ counts.follows|pluralize }}</span>
    </div>
    <div class="col-xs-6 text-right">
        {% if event_list.user_can_edit_group %}
            <a href="{{edit_url}}" class="btn btn-switch icon-cog">Admin</a>
        {% else %}
        <div class="btn-follow-container">
            {% include 'groups/partials/follow_button.html' %}
        </div>
        {% endif %}
    </div>
{% endif  %}
