{% extends "users/partials/profile/section.html" %}

{% block section_content %}

{% for key, achievement in achievements %}
    {% include "users/partials/achievement.html" with description=achievement.description_achieved %}
{% endfor %}

{# The achievements page is only meaningful for the currently logged in user #}
{% if viewing_own_profile %}
    <p class="block--top">Learn more about TreesCount! 2015 <a href="{% url 'achievements' %}">rewards.</a></p>
{% endif %}

{% endblock section_content %}
