{% extends "users/partials/profile/section.html" %}
{% load utils %}

{% block section_content %}

{% for achievement in achievements %}

<div class="achievement block item">
    <div class="row">
        <div class="col-xs-8">
            <h5>{{ achievement.name }}</h5>
            <p class="h6 nobold">{{ achievement.description }}</p>
        </div>
        <div class="col-xs-4 text-right">
            <img src="{{ achievement.badge|static_url }}" />
        </div>
    </div>
</div>

{% endfor %}

{% endblock section_content %}
