{% extends "users/partials/profile/section.html" %}

{% block section_content %}

{% url 'progress_page' as progress_page_url %}

<div class="progress-circles">
        {% include "home/partials/circle.html" with label="Trees" n=counts.tree color="primary" url=progress_page_url %}
        {% include "home/partials/circle.html" with label="Blocks" n=counts.block color="quaternary" url=progress_page_url %}
        {% include "home/partials/circle.html" with label="Species" n=counts.species color="secondary" modal="#species-modal" %}
</div>

{% endblock section_content %}
