{% extends "users/partials/profile/section.html" %}

{% block section_content %}

{% for follow in follows.follows %}
<a href="{% url 'group_detail' group_slug=follow.group.slug %}"
   class="group block item rightarrow"
   {% if forloop.counter > follows.chunk_size %}style="display: none;"{% endif %}
   data-class="group-row">
   <div class="row"><div class="col-xs-12"><h5>{{ follow.group.name }}</h5></div></div>
</a>
{% endfor %}

{% if follows.hidden_count > 0 %}
<a data-class="show-all-list-rows" data-row-data-class="group-row" href="javascript:;" class="group block item">
   <div class="row"><div class="col-xs-12"><h5>+{{ follows.hidden_count }} more group{{ follows.hiduden_count|pluralize }}</h5></div></div>
</a>
{% endif %}

{% endblock section_content %}
