{% extends "users/partials/profile/section.html" %}
{% load humanize %}

{% block section_content %}

{% for reservation in reservations.reservations %}
<a href="{% url 'reservations' %}#{{reservation.blockface.id}}"
   class="reservation block item rightarrow"
   {% if forloop.counter > reservations.chunk_size %}style="display: none;"{% endif %}
   data-class="reservation-row">
   <div class="row">
     <div class="col-xs-12"><h5>Block {{ reservation.blockface.id }}</h5></div>
     <div class="col-xs-12">Expires {{ reservation.expires_at|naturalday }}</div>
   </div>
</a>
{% endfor %}

{% if reservations.hidden_count > 0 %}
<a data-class="show-all-list-rows" data-row-data-class="reservation-row" href="javascript:;" class="reservation block item showmore">
   <div class="row"><div class="col-xs-12"><h5 class="color--secondary text--normal">+{{ reservations.hidden_count }} more reservation{{ reservations.hidden_count|pluralize }}</h5></div></div>
</a>
{% endif %}

{% if reservations.count > 0 %}
    {% include "core/partials/polling_download_section.html" with poll_url=reservations.map_poll_url %}
{% else %}
    If you are an independent mapper, <b>register for a Leafout Workshop</b>,
    to find out what’s new and receive helpful mapping tips from Parks staff.
{% endif %}

{% endblock section_content %}
