
<footer>
  <div class="container">
  <div class="row footer-section">
    
    <p class="text-center">Copyright &copy; 2014</p>
    <p class="text-center">Maintained by <a href="http://dereknutile.com/" target="_blank">Derek Nutile</a> here: <a href="https://github.com/dereknutile/django-1.7-template" target="_blank">https://github.com/dereknutile/django-1.7-template</a>.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->
</footer>

{% include 'framing/scripts.html' %}
{% include 'framing/analytics.html' %}
