{% extends "base_two_frames.html" %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="achievements" %}
{% endblock %}

{% block aside %}
<div class="pageheading-description block">
    <h2>Rewards</h2>
    <p class="pageheading-description-detail">
        A new year of mapping brings new rewards.
        2016 will bring an array of achievements and badges for independent mappers,
        geared towards tree counter progress, rather than block edges (don’t worry you will
        still be able to keep last year’s badges!) Service letters available on request.
    </p>
</div>
{% endblock aside %}

{% block main %}
{% if user.is_authenticated %}
    <section class="user-achievements">
        <h3 class="color--primary">Earned</h3>
        {% for key, achievement in achievements.achieved %}
            {% include "users/partials/achievement.html" with description=achievement.description_achieved %}
        {% empty %}
            <p>You haven't unlocked any rewards yet!</p>
        {% endfor %}
    </section>
{% endif %}

<section class="remaining-achievements">
    {% if user.is_authenticated %}
        <h3 class="color--primary">In Progress</h3>
    {% else %}
        <h3 class="color--primary">All Rewards</h3>
    {% endif %}

    {% for key, achievement in achievements.remaining %}
        {% include "users/partials/achievement.html" with description=achievement.description %}
    {% endfor %}
</section>
{% endblock main %}

{% block extra_content %}
    {% for key, achievement in achievements.all.iteritems %}
        {% include "users/partials/achievement_modal.html" %}
    {% endfor %}
{% endblock extra_content %}
