{% extends "base.html" %}
{% load utils %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#account-pane" data-toggle="tab">Account</a>
        </li>
        <li>
            <a href="#emails-pane" data-toggle="tab">Emails</a>
        </li>
        <li>
            <a href="#privacy-pane" data-toggle="tab">Privacy</a>
        </li>
    </ul>

    <form id="form" method="POST">
        <fieldset>
            {% csrf_token %}

            <div class="tab-content">
                <div class="tab-pane active" id="account-pane">
                    <div class="fieldWrapper">
                        {{ profile_form.first_name.label_tag }}
                        {{ profile_form.first_name }}
                    </div>
                    <div class="fieldWrapper">
                        {{ profile_form.last_name.label_tag }}
                        {{ profile_form.last_name }}
                    </div>
                </div>

                <div class="tab-pane" id="emails-pane">
                    <h3>NYC Parks</h3>
                    <div>I am interested in receiving additional information on stewardship opportunities available through NYC Parks.</div>
                    <div class="fieldWrapper">
                        {{ profile_form.opt_in_stewardship_info }}
                        {{ profile_form.opt_in_stewardship_info.label_tag }}
                    </div>
                    <div>I want to receive emails for these events:</div>
                    <table>
                        {% for event_form in event_formset %}
                            {% with event=event_form.instance.event %}
                                <tr>
                                    <td style="text-align:right; vertical-align:top; padding: 0 15px;">
                                        <div>{{ event.begins_at|date:"b"|upper }}</div>
                                        <div>{{ event.begins_at|date:"j" }}</div>
                                    </td>
                                    <td>
                                        <div>{{ event.name }}</div>
                                        <div>{{ event.begins_at|date:"f A" }} at {{ event.address }}</div>
                                        <div>{{ event.group.name }}</div>
                                        <div>{% if event.includes_training %}Training{% else %}Mapping{% endif %}</div>
                                    </td>
                                    <td>{{ event_form.opt_in_emails }}</td>
                                </tr>
                            {% endwith %}
                            {% for hidden in event_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endfor %}
                    </table>
                    {{ event_formset.management_form }}
                </div>

                <div class="tab-pane" id="privacy-pane">
                    {% include 'users/partials/privacy_controls.html' %}
                </div>

            </div>

            <div class="pull-right">
                <input type="submit" class="btn" value="Save" />
            </div>
            <a class="btn" href="{% url 'user_profile_settings' %}">Cancel</a>

        </fieldset>
    </form>

{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="{{ "js/userSettings.js"|static_url }}"></script>
{% endblock page_js %}
