{% extends "base_two_frames.html" %}
{% load utils %}

{% block aside %}
    <div class="pageheading-description block">
        <div class="row">
            {% include "event/partials/back_to_event.html" %}
            <div class="col-xs-12">
                <h2>Check-in</h2>
            </div>
        </div>
    </div>
{% endblock aside %} 

{% block main %}

<section>
    <div class="row">
        <div class="col-xs-12">
            {{ rsvp_count }} /
                <span id="max-attendees">{{ event.max_attendees }}</span>
            RSVP{{ rsvp_count|pluralize:"S" }}

            <a href="javascript:void(0)"
               id="increase-rsvp-limit"
               data-verb="POST"
               data-url="{% url 'increase_rsvp_limit' group_slug=group.slug event_slug=event.slug %}"
               class="btn btn-primary">+</a>

            <a href="{% url "survey_from_event" group_slug=group.slug event_slug=event.slug %}" class="btn btn-default pull-right">Start Mapping</a>

            <hr />
        </div>
    </div>

    {% if users %}
        {% for user, did_attend in users %}
        {% if forloop.first %}
        <div class="row first">
        {% elif forloop.last %}
        <div class="row last">
        {% else %}
        <div class="row">
        {% endif %}
            <div class="col-xs-12">
                {% if event.starting_soon %}
                    <div class="btn-checkin-container pull-right">
                    {% include "event/partials/checkin_button.html" %}
                    </div>
                {% endif %}

                {% if user.profile_is_public %}
                <a href="{{ user.get_absolute_url}}">{{ user.username }}</a>
                {% else %}
                {{ user.username }}
                {% endif %}

                {% if user.real_name_is_public %}
                <br />{{ user.get_full_name }}
                {% endif %}

                <hr />
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-xs-12">
            <p>Nobody has RSVPd, yet!</p>
        </div>
    </div>
    {% endif %}
</section>

{% endblock main %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/eventCheckin.js"|static_url }}"></script>
{% endblock page_js %}
