{% extends "base_two_frames.html" %}

{% load utils %}

{% block top %}

    <div id="map" class="map-small"
         data-lat="{{ event.location.y }}" data-lon="{{ event.location.x }}">
    </div>

    {% if event.starting_soon %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="block">
                    {% if is_admin %}
                    <a href="{{ event.get_admin_checkin_url }}"
                        class="btn btn-switch pull-right">Check-in guests</a>
                    {% elif event in my_events_now_all %}
                    <a href="{{ event.get_user_checkin_url }}"
                        class="btn btn-switch pull-right">Start Mapping</a>
                    {% endif %}
                    {% if event.in_progress %}
                      <p>This event is currently in-progress!</p>
                    {% else %}
                      <p>This event is starting soon!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock top %}

{% block aside %}

    <div class="pageheading-description block">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{ event.title }}</h2>
                <p class="h4">
                    by <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="calendar">
                    <div class="calendar-heading">
                        {{ event.begins_at|date:"M" }}
                    </div>
                    <div class="calendar-body">
                        {{ event.begins_at|date:"d" }}
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <table>
                    {% if event.includes_training %}
                    <tr class="event-detail">
                        <td>
                            <i class="icon-leaf"></i>
                        </td>
                        <td>
                            Training
                        </td>
                    </tr>
                    {% endif %}
                    <tr class="event-detail">
                        <td>
                            <i class="icon-clock"></i>
                        </td>
                        <td>
                            {{ event.begins_at|time:"g:iA" }}–{{ event.ends_at|time:"g:iA" }}
                        </td>
                    </tr>
                    <tr class="event-detail">
                        <td>
                            <i class="icon-globe"></i>
                        </td>
                        <td>
                            {{ event.address }}
                        </td>
                    </tr>
                    <tr class="event-detail">
                        {% if event.is_private %}
                            <td>
                                <i class="icon-lock"></i>
                            </td>
                            <td>
                                Private
                            </td>
                        {% else %}
                            <td>
                                <i class="icon-eye"></i>
                            </td>
                            <td>
                                Public
                            </td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="pageheading-controls block">
        <div id="rsvp-section" class="row">
            {% include "event/partials/rsvp.html" %}
        </div>
    </div>

{% endblock aside %}

{% block main %}

    <section>
        <div class="description block item">
            <h4 class="section-heading">Description</h4>
            <div>{{event.description}}</div>
        </div>
        <div class="description block item">
            <h4 class="section-heading">How to find us</h4>
            <div>{{event.location_description}}</div>
        </div>
        <div class="description block item">
            <div class="row">
                <div class="col-xs-8">
                    <h5>{{ event.contact_name }}</h5>
                    <div class="h6">Group Contact</div>
                </div>
                <div class="col-xs-4 text-right"><a href="mailto:{{event.contact_email}}" class="btn btn-default">Email</a></div>
            </div>
        </div>
        <div class="description block item">
            <div class="row">
                <div class="col-xs-8 text--break">
                    <h5>Share Link</h5>
                    <div class="h6">{{share_url}}</div>
                </div>
                <div class="col-xs-4 text-right js-copy-event-url"><a href="javascript:;" class="btn btn-default" data-event-url="{{ share_url }}">Copy</a></div>
            </div>
        </div>
        {% include "core/partials/polling_download_section.html" with poll_url=event_map_poll_url %}
    </section>
    <div class="content-nextsteps">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2><span class="color--primary">Dig</span> this event?</h2>
                <div><a href="{{ group_events_url }}" class="color--secondary">Find more events by this group →</a></div>
            </div>
        </div>
    </div>
{% endblock main %}



{% block page_js %}
<script type="text/javascript" src="{{ "js/event.js"|static_url }}"></script>
{% endblock page_js %}
