{% extends "base_event.html" %}
{% load utils %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="events" %}
{% endblock %}

{% block aside %}

  <div class="map-sidebar">
    <h2>Events</h2>
    <p class="pageheading-description-detail">
      NYC Parks and TreesCount! partner groups hosted more than 900 events in 2015.
<!--
      Check out our upcoming TreesCount! events and sign up to map street trees with fellow volun<strong>treers</strong>!
-->
    </p>
<!--
    <p class="pageheading-description-detail">Click to view as a list or find an event nearby using the map.</p>
-->
    <div id="action-bar" class="action-bar">
<!--
      Select an event to view additional details
-->
    </div>
    <div class="row">
      <ul class="nav nav-tabs nav-tabs-event" id="nav-tabs-event">
        <li class="active">
          <a class="toggle-tab-button" data-toggle="tab" href="#list">List</a>
        </li>
        <li>
          <a class="toggle-tab-button" data-toggle="tab" href="#map-tab">Map</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock aside %}

{% block main %}

  <div class="tab-content">
    <div class="tab-pane active" id="list">
      <section>
        {% if user.is_authenticated %}
          {# TODO: make event_list return a totally empty context to avoid introspection #}
          <h4>Your events this week</h4>
          <div data-class="event-list-container">
          {% if immediate_events.event_infos %}
            {% include "event/partials/event_list.html" with event_list=immediate_events %}
          {% else %}
            <p class="no-data">You are not attending any events yet.</p>
          {% endif %}
          </div>
        {% endif %}

        {# TODO: make event_list return a totally empty context to avoid introspection #}
        <h4>Browse events</h4>
        <div data-class="event-list-container">
        {% include "event/partials/event_list.html" with event_list=all_events %}
        </div>
      </section>
    </div>
    <div class="tab-pane map-container" id="map-tab">
      <div id="map" class="map-event">
      </div>
    </div>
    {% include 'home/partials/location_search.html' %}
  </div>


{% endblock main %}


<div class="page-settings">
    <div class="container">
        <div class="row">
            <aside class="pageheading col-sm-4">
                <div class="pageheading-description block">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Events</h2>
                        </div>
                    </div>
                </div>
            </aside>

            <main class="main-manage col-sm-8">

            </main>
        </div>
    </div>
</div>


{% block footer %}
{# Map pages hide the footer to maximize viewable area #}
{% endblock footer%}

{% block page_js %}
<script type="text/javascript" src="{{ "js/event_list_page.js"|static_url }}"></script>
{% endblock page_js %}
