{% extends "base_two_frames.html" %}

{% load utils %}

{% block aside %}

  <h2>Events</h2>
  <p class="pageheading-description-detail">
      Take a look at upcoming events and find your next tree mapping project.
  </p>

{% endblock aside %}

{% block main %}

  <div class="row">
      <ul class="nav nav-tabs">
          <li class="active">
              <a data-toggle="tab" href="#list">List</a>
          </li>
          <li>
              <a data-toggle="tab" href="#map">Map</a>
          </li>
      </ul>
  </div>

  <section>
      <div class="tab-content">
          <div class="tab-pane active" id="list">
            {# TODO: make event_list return a totally empty context to avoid introspection #}
            {% if immediate_events.event_infos %}
                <h4>Your Events this week</h4>
                {% include "event/partials/event_list.html" with event_list=immediate_events %}
            {% endif %}

            {# TODO: make event_list return a totally empty context to avoid introspection #}
            {% if all_events.event_infos %}
                <h4>Browse events</h4>
                {% include "event/partials/event_list.html" with event_list=all_events %}
            {% endif %}
          </div>
          <div class="tab-pane" id="map">
          </div>
      </div>
  </section>


{% endblock main %}


<div class="page-settings">
    <div class="container">
        <div class="row">
            <aside class="pageheading col-sm-4">
                <div class="pageheading-description block">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Events</h2>
                        </div>
                    </div>
                </div>
            </aside>

            <main class="main-manage col-sm-8">

            </main>
        </div>
    </div>
</div>


{% block page_js %}
<script type="text/javascript" src="{{ "js/event_list_page.js"|static_url }}"></script>
{% endblock page_js %}
