{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ event.title }}</h2>
            <p>
                by <a href="{{ group_detail_url }}">{{ group.name }}</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
                {{ event.begins_at|date:"DATE_FORMAT" }}
            </p>
            <p>
                <i class="icon-clock"></i>
                {{ event.begins_at|date:"TIME_FORMAT" }}
            </p>
            <p>
                <i class="icon-globe"></i>
                {{ event.address }}
            </p>
        </div>
        <div class="col-sm-6">
            {% if event.includes_training %}
            <p><i class="icon-leaf"></i> Training</p>
            {% endif %}

            <p>
            {% if event.is_private %}
            <i class="icon-lock"></i> Private
            {% else %}
            <i class="icon-eye"></i> Public
            {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                {{ rsvp_count }} / {{ event.max_attendees }}
                RSVP{{ rsvp_count|pluralize:"S" }}
            </p>
        </div>
        <div class="col-sm-6">
            {% if is_admin %}
            <a href="{{ event_edit_url }}" class="btn btn-switch"
                ><i class="icon-cog"></i> Admin</a>
            {% elif can_rsvp %}
            <a href="{{ rsvp_url }}" class="btn btn-switch">RSVP</a>
            {% else %}
            <a href="#" class="btn btn-switch disabled">At Capacity</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Description</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ event.description }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>How to find us</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ event.location_description }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Contact</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ event.contact_info }}
        </div>
        <div class="col-sm-6">
            <a href="mailto:{{ event.contact_email }}" class="btn btn-switch"
                >Email</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Share Link</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ share_url }}
        </div>
        <div class="col-sm-6">
            <a href="#" class="btn btn-switch">Copy</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p><a href="{{ group_events_url }}"
                >Find more events by this group</a></p>
        </div>
    </div>
</div>


{% endblock content %}
