{% extends "base_two_frames.html" %}

{% load utils %}
{% load waffle_tags %}

{% block top %}

    <div id="map" class="map-small"
         data-location="{{ location }}">
    </div>

    {% if event.starting_soon %}
    <div class="event-alert">
        <div class="container">
            <div class="row">
                <div class="event-alert-text col-md-8 col-md-offset-1 col-xs-8">
                    This event
                    {% if event.in_progress %}
                        has started!
                    {% else %}
                        is starting soon.
                    {% endif %}
                </div>
                {% if request.user == event.group.admin %}
                    <div id="event-button" class="event-alert-button col-md-2 col-xs-4">
                        {% include "event/partials/event_alert_button.html" with did_attend_event=True %}
                    </div>
                {% elif event_registration %}
                    <div id="event-button" class="event-alert-button col-md-2 col-xs-4">
                        {% include "event/partials/event_alert_button.html" with did_attend_event=event_registration.did_attend %}
                    </div>
                {% else %}
                    <div id="event-button" class="event-alert-button col-md-2 col-xs-4 hidden">
                        {% include "event/partials/event_alert_button.html" with did_attend_event=False %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock top %}

{% block aside %}

    <div class="pageheading-description block">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{ event.title }}</h2>
                <p class="h4">
                    by <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="calendar">
                    <div class="calendar-heading">
                        {{ event.begins_at|date:"M" }}
                    </div>
                    <div class="calendar-body">
                        {{ event.begins_at|date:"d" }}
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <table>
                    {% if event.includes_training %}
                    <tr class="event-detail">
                        <td>
                            <i class="icon-leaf"></i>
                        </td>
                        <td>
                            Training
                        </td>
                    </tr>
                    {% endif %}
                    <tr class="event-detail">
                        <td>
                            <i class="icon-clock"></i>
                        </td>
                        <td>
                            {{ event.begins_at|time:"g:iA" }}–{{ event.ends_at|time:"g:iA" }}
                        </td>
                    </tr>
                    <tr class="event-detail">
                        <td>
                            <i class="icon-globe"></i>
                        </td>
                        <td>
                            {{ event.address }}
                        </td>
                    </tr>
                    <tr class="event-detail">
                        {% if event.is_private %}
                            <td>
                                <i class="icon-lock"></i>
                            </td>
                            <td>
                                Private
                            </td>
                        {% else %}
                            <td>
                                <i class="icon-eye"></i>
                            </td>
                            <td>
                                Public
                            </td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% flag full_access %}
    <div class="pageheading-controls block">
        <div id="rsvp-section" class="row">
            {% include "event/partials/rsvp.html" %}
        </div>
    </div>
    {% endflag %}

{% endblock aside %}

{% block main %}

    <section>
        {% if event.description %}
        <div class="description block item">
            <h4 class="section-heading">Description</h4>
            <div>{{event.description}}</div>
        </div>
        {% endif %}
        {% if event.location_description %}
        <div class="description block item">
            <h4 class="section-heading">How to find us</h4>
            <div>{{event.location_description}}</div>
        </div>
        {% endif %}
        {% if event.contact_name %}
        <div class="description block item">
            <div class="row">
                <div class="col-xs-8">
                    <h5>Event Contact</h5>
                    <div class="h6">{{ event.contact_name }}</div>
                    <div class="h6"><a href="mailto:{{ event.contact_email }}">{{ event.contact_email }}</a></div>
                </div>
                <div class="col-xs-4 text-right"><a href="mailto:{{event.contact_email}}" class="btn btn-default">Email</a></div>
            </div>
        </div>
        {% endif %}
        <div class="description block item">
            <div class="row">
                <div class="col-xs-8 text--break">
                    <h5>Share Link</h5>
                    <div class="h6">{{share_url}}</div>
                </div>
                <div class="col-xs-4 text-right js-copy-event-url"><a href="javascript:;" class="btn btn-default" data-event-url="{{ share_url }}">Copy</a></div>
            </div>
        </div>
        {% include "core/partials/polling_download_section.html" with poll_url=event_map_poll_url %}
    </section>
    <div class="content-nextsteps">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2><span class="color--primary">Dig</span> this event?</h2>
                <div><a href="{{ group_events_url }}" class="color--secondary">Find more events by this group →</a></div>
            </div>
        </div>
    </div>
{% endblock main %}



{% block page_js %}
<script type="text/javascript" src="{{ "js/event.js"|static_url }}"></script>
{% endblock page_js %}
