{% extends "base_two_frames.html" %}
{% load utils %}

{% block aside %}
    <div class="pageheading-description block">
        <div class="row">
            {% include "event/partials/back_to_event.html" %}
            <div class="col-xs-12">
                <h2>Check-in to event</h2>
            </div>
        </div>
    </div>
{% endblock aside %} 

{% block main %}
    <input type="hidden" id="poll-url"
        value="{% url "event_user_check_in_poll" group_slug=group.slug event_slug=event.slug %}" />

    <div id="not-checked-in"{% if checked_in %} class="hidden"{% endif %}>
        <p>When you arrive on site, check in with the event coordinator.
           They will enable you to start mapping!</p>
    </div>

    <div id="checked-in"{% if not checked_in %} class="hidden"{% endif %}>
        <h3>You are checked in!</h3>
        <p>Great, you have been checked in for this event. You can start
           mapping whenever you are ready.</p>
        <p><a href="{% url "choose_blockface_survey_page" %}" class="btn btn-primary">Start Mapping</a></p>
    </div>

    <p>Actually, I need to <a href="{{ event.get_absolute_url }}">change my RSVP</a>.</p>
{% endblock main %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/userCheckinPage.js"|static_url }}"></script>
{% endblock page_js %}
