{% load utils %}
{% load waffle_tags %}

<div class="page-dashboard">

    <div class="hero">
        <div class="hero-background" style="background-image: url({{ "img/hero-background.jpg"|static_url }})">
        </div>
        <div class="hero-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="hero-content">
                            <h1 class="hero-heading">Welcome back,
                            volun<span class="color--primary">treer!</span></h1>
                            {% flag full_access %}
                                <p class="hero-text">In the past week, <span class="color--primary">405 trees</span> in <span class="color--primary">12 blocks</span> have been added. We're <span class="color--primary">43%</span> of the way to our goal!</p>
                                <div class="text-right">
                                    <a class="hero-link hero-text text-center color--secondary h4" href="{% url 'progress_page' %}">Show me the map →</a>
                                </div>
                            {% endflag %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <main class="col-sm-12 main-dashboard">
                {% flag full_access %}
                    {% if user.online_training_complete %}
                    {% if immediate_events.event_infos %}
                    <section class="events section-home">
                        <div class="home-container">
                            <h4 class="section-heading">This week's events</h4>
                            <div data-class="event-list-container">
                                {% include "event/partials/event_list.html" with event_list=immediate_events %}
                            </div>
                        </div>
                    </section>
                    {% endif %}
                    {% include "users/partials/activity.html" %}

                    {% else %}
                    <section class="trainings section-home">
                        <div class="home-container">
                            {% include "home/partials/training.html" %}
                        </div>
                    </section>
                    {% endif %}
                {% else %}
                    <section class="soft-launch">
                        {% with title="" section_id="soft-launch" public=False %}
                            {% include "users/partials/profile/soft_launch.html"%}
                        {% endwith %}
                    </section>
                {% endflag %}
            </main>
        </div>
    </div>
</div>
