{% load utils %}
{% load waffle_tags %}

{% url 'events_list_page' as events_page_url %}
{% url 'progress_page' as progress_page_url %}
{% if event %}
    <div class="event-alert">
        <div class="container">
            <div class="row">
                <div class="event-alert-text col-xs-8">
                    The event {{ event.title }} for {{ event.group.name }}
                    {% if event.in_progress %}
                        has started!
                    {% else %}
                        is starting soon.
                    {% endif %}
                </div>
                <div class="event-alert-button col-xs-4">
                    {% include "event/partials/event_alert_button.html" %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="page-dashboard">

    <div class="hero">
        <div class="hero-background hidden-xs" style="background-image: url({{ "img/hero-background.jpg"|static_url }})">
        </div>
        <div class="hero-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hero-content">
                            <h1 class="hero-heading">Congratulations volun<span class="color--primary">treer!</span></h1>
                            <p>Data collection for NYC’s third street tree census has officially ended.
                               Thank you for playing a key role in the future of our urban forest.
                               Volunteers like you helped map and collect data from over 650,000 street trees.
                               This information will help us better maintain and care for our
                               existing street trees and plan for the future of our urban forest.</p>
                            <p>Using TreesCount! data, NYC Parks will launch the
                               <a href="https://tree-map.nycgovparks.org/">NYC Street Tree Map</a>.
                               You will be able to see and explore the forest, and record and share
                               tree stewardship like weeding, watering and mulching.</p>
                            <p>Stay tuned for the final number to be announced in early November.</p>
                            <p>There are many opportunities year round to continue caring for the urban forest.
                               Check out NYC Parks’
                               <a href="http://www.nycgovparks.org/reg/stewardship">Stewardship page</a>
                               to find out more!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <main class="col-sm-12 main-dashboard">
                {% flag full_access %}
                    {% if not user.online_training_complete %}
                        <div class="home-container">
                            <section class="trainings">
                                <div class="home-container">
                                    {% include "home/partials/training.html" %}
                                </div>
                            </section>
                        </div>
                    {% endif %}
                {% endflag %}

                <section class="section-home text-center">
                    <div class="home-container clearfix">
                        <h2 class="color--primary">We’re almost done.</h2>
                        <h2 class="color--primary">Final count coming soon!</h2>
                    </div>
                </section>

                {% if user.online_training_complete %}
                    <div class="dashboard-columns">
                        {% include "users/partials/activity.html" %}
                    </div>
                {% endif %}
            </main>
        </div>
    </div>
</div>
