{% load utils %}
{% load waffle_tags %}

<div class="page-home">

    <div class="hero">
        <div class="hero-background" style="background-image: url({{ "img/hero-background.jpg"|static_url }})">
        </div>
        <div class="hero-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="hero-content">
                            <h1 class="hero-heading">We're mapping <span class="color--primary">every&nbsp;street&nbsp;tree</span> in&nbsp;New&nbsp;York&nbsp;City!</h1>
                            {% flag full_access %}
                                <div class="text-right">
                                    <a class="hero-link hero-text text-center color--secondary h4" href="{% url 'progress_page' %}">Show me the map →</a>
                                </div>
                            {% endflag %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <main class="col-sm-12 main-home">
                <section class="section-about section-home">
                    <div class="home-container home-description">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <img class="section-about-logo"
                                     src="{{ "img/logo-nycparks.png"|static_url }}"
                                     srcset="{{ "img/logo-nycparks@2x.png"|static_url }} 2x">
                            </div>
                            <div class="col-xs-8">
                                Join the Counter Culture!
                                This year, NYC Parks is counting and mapping all the beautiful street trees that grace our city, and we need your help!
                                Sign up to become a volun<b>treer</b> for TreesCount! 2015 and play a key role in the future of our urban forest!
                            </div>
                        </div>

                        <p></p>
                        <p class="text-center block">
                            <a href="{% url 'registration_register' %}" class="btn btn-secondary btn-lg">Create an Account →</a>
                        </p>
                    </div>
                </section>

                {% flag full_access %}
                <section class="section-ticker text-center section-home">
                    <div class="home-container">
                        <h2>Help us count our <span class="color--primary">street trees</span>!</h2>
                        {% include "home/partials/ticker.html" with tree_count=counts.tree %}
                    </div>
                </section>
                <section class="section-progress text-center section-home">
                    <div class="home-container clearfix">
                        <div class="progress-circles">
                            <div class="col-xs-4 col-sm-3 col-circle">
                                <div class="progress-circle color--primary">
                                    <div class="progress-circle-content">
                                        <div class="progress-circle-number">{{ counts.block }}</div>
                                        <div class="progress-circle-label">Blocks</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3 hidden-xs col-circle">
                                <div class="progress-circle color--primary">
                                    <div class="progress-circle-content">
                                        <div class="progress-circle-number">{{ counts.block_percent }}</div>
                                        <div class="progress-circle-label">Complete</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-circle">
                                <div class="progress-circle color--quaternary">
                                    <div class="progress-circle-content">
                                        <div class="progress-circle-number">{{ counts.user }}</div>
                                        <div class="progress-circle-label">Users</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-circle">
                                <div class="progress-circle color--secondary">
                                    <div class="progress-circle-content">
                                        <div class="progress-circle-number">{{ counts.species }}</div>
                                        <div class="progress-circle-label">Species</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endflag %}

                <section class="section-appeal section-home">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="{{ "img/homepage-brownstone.jpg"|static_url }}">
                        </div>
                        <div class="section-appeal-text col-sm-6">
                            <h2>Collecting data on street trees leads to a greener and greater NYC!</h2>
                            <p>Our street trees work hard every day to make our city cooler, our air cleaner, and our neighborhoods more beautiful.  <b>TreesCount! 2015</b> is New York City’s third decadal effort to inventory, understand and better manage our urban forest.  And we need tree-loving citizens to help us make trees count!</p>
                            <p>Can we count on you?  Create an account to become a volun<b>treer</b> today!</p>
                        </div>
                    </div>
                </section>
                <!-- Hide sponsor section until logos are available
                    <section class="section-sponsors section-home">
                        <div class="home-container">
                            <h3 class="color--primary text--normal">Our sponsors</h3>
                            <img src="http://placehold.it/120x120">
                            <img src="http://placehold.it/120x120">
                            <img src="http://placehold.it/120x120">
                            <img src="http://placehold.it/120x120">
                            <img src="http://placehold.it/120x120">
                        </div>
                    </section>
                -->
            </main>
        </div>
    </div>

</div>
