{% load utils %}
{% load waffle_tags %}

{% url 'progress_page' as progress_page_url %}

<div class="page-home">

    <div class="hero">
        <div class="hero-background" style="background-image: url({{ "img/hero-background.jpg"|static_url }})">
        </div>
        <div class="hero-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-4 col-md-6 col-md-push-6">
                        <div class="hero-content">
                            <h1 class="hero-heading">We're mapping <span class="color--primary">every&nbsp;street&nbsp;tree</span> in&nbsp;New&nbsp;York&nbsp;City!</h1>
                            <div class="text-right">
                                <a class="hero-link hero-text text-center color--secondary h4" href="{% url 'progress_page' %}">Show me the map →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <main class="col-sm-12 main-home">
                <section class="section-about">
                    <div class="home-container home-description">
                        <div class="row">
                            <div class="col-xs-3 col-lg-2 col-lg-offset-1 text-center">
                                <img src="{{ "img/logo-nycparks.png"|static_url }}"
                                     srcset="{{ "img/logo-nycparks@2x.png"|static_url }} 2x" alt="NYC Parks Logo" />
                            </div>
                            <div class="col-xs-9 col-sm-8">
                                <p>Congratulations!</p>
                                <p>Since May 2015, we have counted over 650,000 trees on New York
                                   City’s streets! Stay tuned for the final results of TreesCount! 2015-2016.</p>
                                <p>To explore more urban forest volunteer opportunities with Parks, visit our
                                   <a href="http://www.nycgovparks.org/reg/stewardship">Stewardship page</a>.
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-ticker text-center">
                    <div class="home-container">
                        <h2 class="color--primary">We’re almost done.</h2>
                        <h2 class="color--primary">Final count coming soon!</h2>
                    </div>
                </section>

                <section class="section-appeal">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="{{ "img/homepage-brownstone.jpg"|static_url }}" alt="" />
                        </div>
                        <div class="section-appeal-text col-sm-6">
                            <h2>Collecting data on street trees leads to a greener and greater NYC!</h2>
                            <p>Our street trees make our city cooler, our air cleaner, and our neighborhoods more
                                beautiful. <b>TreesCount!</b> is New York City’s third census of our urban forest.
                                forest. This citizen science initiative engaged over 2,000 volunteers citywide to map and collect data from
                                NYC’s street trees. This information will help us better maintain and care for our existing
                                street trees and plan for the future of our urban forest.</p>

                            <p>Using TreesCount! data, NYC Parks will launch the
                               <a href="https://tree-map.nycgovparks.org/">NYC Street Tree Map</a>. You will be able
                               to see and explore the forest, and record and share tree stewardship like weeding, watering
                               and mulching.</p>

                            <p>Although data collection for TreesCount! is officially over, there are many opportunities year
                               round to get involved in caring for the urban forest. Check out NYC Parks’
                               <a href="https://tree-map.nycgovparks.org/">Stewardship page</a> to find out more!</p>
                        </div>
                    </div>
                </section>
                    <section class="section-sponsors">
                        <div class="home-container">
                            <h3 class="color--primary text--normal">Presenting Sponsors</h3>
                            <div class="row">
                                <div class="sponsor col-xs-6 col-md-4">
                                    <img src="{{ "img/sponsors/sponsors-bmw.png"|static_url }}" alt="BMW" />
                                </div>
                                <div class="sponsor col-xs-5 col-md-3">
                                    <img src="{{ "img/sponsors/sponsors-wholefoods.png"|static_url }}" alt="Whole Foods Market" />
                                </div>
                            </div>
                            <hr>
                            <h3 class="color--primary text--normal">Partners and Sponsors</h3>
                            <div class="row">
                                <div class="sponsor sponsor-durst col-xs-6">
                                    <img src="{{ "img/sponsors/sponsors-durst.png"|static_url }}" alt="The Durst Organization" />
                                </div>
                                <div class="sponsor sponsor-azavea col-xs-6">
                                    <img src="{{ "img/sponsors/sponsors-azavea.png"|static_url }}" alt="Azavea" />
                                </div>
                                <div class="sponsor sponsor-att col-xs-4 col-xs-offset-1 clearleft">
                                    <img src="{{ "img/sponsors/sponsors-att.png"|static_url }}" alt="AT&amp;T" />
                                </div>
                                <div class="sponsor sponsor-aws col-xs-6">
                                    <img src="{{ "img/sponsors/sponsors-aws.png"|static_url }}" alt="Amazon Web Services" />
                                </div>
                                <div class="sponsor sponsor-nyp col-xs-10">
                                    <img src="{{ "img/sponsors/sponsors-nyp.png"|static_url }}" alt="New York Presbyterian" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="sponsor sponsor-histree col-xs-6">
                                    <img src="{{ "img/sponsors/sponsors-histree.png"|static_url }}" alt="Histree" />
                                </div>
                                <div class="sponsor sponsor-tk col-xs-4 col-xs-offset-1">
                                    <img src="{{ "img/sponsors/sponsors-treekit.png"|static_url }}" alt="TreeKIT" />
                                </div>
                            </div>
                        </div>
                    </section>
            </main>
        </div>
    </div>

</div>
