{% load utils %}
{% load waffle_tags %}

{% url 'progress_page' as progress_page_url %}

<div class="page-home">

    <div class="hero">
        <div class="hero-background" style="background-image: url({{ "img/hero-background.jpg"|static_url }})">
        </div>
        <div class="hero-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-4 col-md-6 col-md-push-6">
                        <div class="hero-content">
                            <h1 class="hero-heading">We're mapping <span class="color--primary">every&nbsp;street&nbsp;tree</span> in&nbsp;New&nbsp;York&nbsp;City!</h1>
                            <div class="text-right">
                                <a class="hero-link hero-text text-center color--secondary h4" href="{% url 'progress_page' %}">Show me the map →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <main class="col-sm-12 main-home">
                <section class="section-about">
                    <div class="home-container home-description">
                        <div class="row">
                            <div class="col-xs-3 col-lg-2 col-lg-offset-1 text-center">
                                <img src="{{ "img/logo-nycparks.png"|static_url }}"
                                     srcset="{{ "img/logo-nycparks@2x.png"|static_url }} 2x" alt="NYC Parks Logo" />
                            </div>
                            <div class="col-xs-9 col-sm-8">
                                Join the Counter Culture! NYC Parks, partner groups and trained
                                volun<b>treers</b> are counting and mapping all the beautiful street trees that
                                grace our city. Sign up to find out more about how you too can play a
                                key role in the future of our urban forest!
<!--
                                Join the Counter Culture!
                                This year, NYC Parks is counting and mapping all the beautiful street trees that grace our city, and we need your help!
                                Sign up to become a volun<b>treer</b> for TreesCount! 2015 and play a key role in the future of our urban forest!
-->
                            </div>
                        </div>

                        <p></p>
                        <p class="text-center block">
                            <a href="{% url 'registration_register' %}" class="btn btn-secondary btn-lg">Create an Account →</a>
                        </p>
                    </div>
                </section>

                <section class="section-ticker text-center">
                    <div class="home-container">
                        <h2>Help us count our <span class="color--primary">street&nbsp;trees</span>!</h2>
                        {% include "home/partials/ticker.html" with n=counts_all.tree %}
                    </div>
                </section>
                <section class="section-progress text-center">
                    <div class="home-container clearfix">
                        <div class="progress-circles col-md-10 nofloat">
                            {% with xs3col=True %}
                                {% include "home/partials/circle.html" with label="Blocks" n=counts_all.block color="primary" url=progress_page_url %}
                                {% include "home/partials/circle.html" with label="Complete" n=counts_all.block_percent color="primary" hide_xs=True  url=progress_page_url %}
                                {% include "home/partials/circle.html" with label="Users" n=counts_all.user color="quaternary" modal="#users-modal" %}
                                {% include "home/partials/circle.html" with label="Species" n=counts_all.species color="secondary" modal="#species-modal" %}
                            {% endwith %}
                        </div>
                    </div>
                </section>

                <section class="section-appeal">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="{{ "img/homepage-brownstone.jpg"|static_url }}" alt="" />
                        </div>
                        <div class="section-appeal-text col-sm-6">
                            <h2>Collecting data on street trees leads to a greener and greater NYC!</h2>
                            <p>Our street trees make our city cooler, our air cleaner, and our neighborhoods more
                                beautiful. <b>TreesCount!</b> is New York City’s third census of our urban forest, and tree-loving
                                citizens like you are helping us collect data.</p>
                            <p>New volunteer training and data collection has now ended for 2015. Expert staff and
                                independent mappers trained in winter data collection are continuing to map, and all trained
                                volun<b>treers</b> will be able to help us finish mapping in 2016.</p>
                            <p>Once the census is complete, NYC Parks will launch a new Street Tree Map using
                                TreesCount! data. You will be able to see and explore the forest, and record tree
                                stewardship like weeding, watering and mulching.</p>
                            <p>There are also opportunities year round to get involved in caring for the urban forest. Check
                                out NYC Parks <a href="http://www.nycgovparks.org/reg/stewardship">stewardship page</a>
                                to find out more!</p>
 <!--
                            <p>
                                Our street trees make our city cooler, our air cleaner, and our neighborhoods more beautiful.
                                <b>TreesCount!&nbsp;2015</b> is New York City&rsquo;s third decadal effort to inventory our urban forest,
                                and we need tree-loving citizens like you to help us collect data.
                                Volunteers will be trained on how to identify and assess street trees,
                                using simple site surveying tools and software to map them block by block.
                            </p>
                            <p>Along the way, to show our appreciation, volunteers will receive rewards when they hit certain milestones!
                                <a href="{% url 'achievements' %}">Learn more here</a>.
                            </p>
                            <p>
                                For more information on the volunteer experience check out our <a href="{% url 'about_faq_page' %}">FAQ</a>!
                            </p>
                            <p>Can we count on you? Create an account to become a volun<b>treer</b> today!</p>
-->
                        </div>
                    </div>
                </section>
                    <section class="section-sponsors">
                        <div class="home-container">
                            <h3 class="color--primary text--normal">Presenting Sponsors</h3>
                            <div class="row">
                                <div class="sponsor col-xs-6 col-md-4">
                                    <img src="{{ "img/sponsors/sponsors-bmw.png"|static_url }}" alt="BMW" />
                                </div>
                                <div class="sponsor col-xs-5 col-md-3">
                                    <img src="{{ "img/sponsors/sponsors-wholefoods.png"|static_url }}" alt="Whole Foods Market" />
                                </div>
                            </div>
                            <hr>
                            <h3 class="color--primary text--normal">Partners and Sponsors</h3>
                            <div class="row">
                                <div class="sponsor sponsor-durst col-xs-6">
                                    <img src="{{ "img/sponsors/sponsors-durst.png"|static_url }}" alt="The Durst Organization" />
                                </div>
                                <div class="sponsor sponsor-azavea col-xs-6">
                                    <img src="{{ "img/sponsors/sponsors-azavea.png"|static_url }}" alt="Azavea" />
                                </div>
                                <div class="sponsor sponsor-att col-xs-4 col-xs-offset-1 clearleft">
                                    <img src="{{ "img/sponsors/sponsors-att.png"|static_url }}" alt="AT&amp;T" />
                                </div>
                                <div class="sponsor sponsor-aws col-xs-6">
                                    <img src="{{ "img/sponsors/sponsors-aws.png"|static_url }}" alt="Amazon Web Services" />
                                </div>
                                <div class="sponsor sponsor-nyp col-xs-10">
                                    <img src="{{ "img/sponsors/sponsors-nyp.png"|static_url }}" alt="New York Presbyterian" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="sponsor sponsor-histree col-xs-6">
                                    <img src="{{ "img/sponsors/sponsors-histree.png"|static_url }}" alt="Histree" />
                                </div>
                                <div class="sponsor sponsor-tk col-xs-4 col-xs-offset-1">
                                    <img src="{{ "img/sponsors/sponsors-treekit.png"|static_url }}" alt="TreeKIT" />
                                </div>
                            </div>
                        </div>
                    </section>
            </main>
        </div>
    </div>

</div>
