<div id="legend" class="modal fade modal-hidden-xs">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close visible-xs pull-right btn-plain" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cancel"></i></span>
                </button>
                <span>
                    <h2>Progress</h2>
                    <div>
                        The progress map shows lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Sed eu congue lorem, id feugiat tortor. Aliquam ante elit, sodales eget
                        porttitor vel, commodo et felis.
                    </div>
                    <h5>Legend</h5>
                    {% for entry in legend_entries %}
                        <div>
                            <div class="swatch {{ entry.css_class }}"></div>
                            {{ entry.label }}
                        </div>
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
</div>
