<div id="legend" class="modal fade modal-hidden-xs">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close visible-xs pull-right btn-link" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cancel"></i></span>
                </button>
                <h2 class="visible-xs nomargin--top">
                {% block legend_title %}
                {% endblock %}
                </h2>
                <div>
                {% block legend_text %}
                {% endblock %}
                </div>
                <h5 class="js-legend-title">Legend</h5>
                {% block legend_entries %}
                {% for entry in legend_entries %}
                    <div class="entry {% if entry.mode != legend_mode %}hidden{% endif%}" data-mode="{{ entry.mode }}">
                        <div class="swatch {{ entry.css_class }}"></div>
                        {{ entry.label }}
                    </div>
                {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
