<script type="text/template" id="template-map-search-toolbar-button">
    <a class="icon-search location-search-show-button" href="javascript:;" title="Search"></a>
</script>

<script type="text/template" id="template-map-search">
    <div class="location-search-container" style="background: pink; display: none;">
        <input type="text" class="location-search-box">
        <a class="location-search-button" href="javascript:;" title="Run search">Search</a>
        <a class="btn icon-cancel location-search-close" href="javascript:;" title="Close search"></a>
        <div class="location-search-status" style="display: none;">Searching...</div>
        <!-- location-search-results is appended to location-search-container -->
    </div>
</script>

<script type="text/template" id="template-map-search-result-list">
    <ul class="location-search-results">
        <li class="location-search-result"><a href="javascript:;"><span class="location-address"></span></a></li>
    </ul>
</script>
