<h3>You're almost there! Continue your training.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu congue lorem, id feugiat tortor. Aliquam ante elit, sodales eget porttitor vel, commodo et felis.</p>

<a href="#" class="training block item">
    <div class="row">
        <div class="col-xs-8">
            <h5>Introduction video</h5>
            <div class="h6">20 minutes</div>
        </div>
        <div class="col-xs-4 text-right">
            <i class="icon-check h4"></i>
        </div>
    </div>
</a>

<a href="#" class="training block item">
    <div class="row">
        <div class="col-xs-8">
            <h5>Introduction video</h5>
            <div class="h6">20 minutes</div>
        </div>
        <div class="col-xs-4 text-right">
            <button class="btn-primary btn">Start</button>
        </div>
    </div>
</a>

