.btn-group-justified {
  min-height: 45px;
  .btn + .btn {
    border-left: none;
  }
}

.btn-switch {
  border: 2px solid $brand-secondary;
  color: $brand-secondary !important;
  background-color: transparent;
  white-space: normal;
  &:hover {
    color: $brand-secondary !important;
    opacity: .7;
  }
  &.active {
    border: 2px solid $brand-secondary;
    color: #fff !important;

    background-color: $brand-secondary;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-mobile--max {
  @media only screen and (max-width : $screen-xs) {
    width: 100%;
  }
}

.btn-plain {
  background-color: transparent;
  border: 0;
  box-shadow: none !important;
  &:hover {
    color: $brand-secondary !important;
  }
}

.btn-secondary {
  background-color: $brand-secondary;
  color: #fff;
}

.btn-gray {
  background-color: $gray;
  color: #fff;
}

.btn-unfollow, .btn-follow {
  width: 9rem;
}

.btn-rsvp {
  width: 8.5rem;
}

.btn {
  transition: all 100ms $transition;
}
