.btn-switch {
  border: 2px solid $brand-secondary;
  color: $brand-secondary !important;
  background-color: transparent;
  white-space: normal;
  &.active {
    border: 2px solid $brand-secondary;
    color: #fff !important;
    background-color: $brand-secondary;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-mobile--max {
  @media only screen and (max-width : $screen-xs) {
    width: 100%;
  }
}

.btn-plain {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.btn-unfollow, .btn-follow {
  width: 9rem;
}

.btn-rsvp {
  width: 8.5rem;
}

.btn {
  transition: all 100ms ease-in-out;
}
