.btn-switch {
  border: 2px solid $brand-primary;
  color: $brand-primary;
  background-color: transparent;
  max-width: 9rem;
  white-space: normal;
  &.active {
    border: 2px solid $brand-primary;
    color: #fff;
    background-color: $brand-primary;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-mobile--max {
  @media only screen and (max-width : $screen-xs) {
    width: 100%;
  }
}
