.btn-group-justified {
  min-height: 45px;
  .btn + .btn {
    border-left: none;
  }
}

.btn-group-toggles {
  vertical-align: middle;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  min-height: 45px;

  .btn {
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding: 8px;
    width: 100%;
  }
}

.btn-switch {
  border: 2px solid $brand-secondary;
  color: $brand-secondary !important;
  background-color: transparent;
  white-space: normal;
  &:hover {
    color: $brand-secondary !important;
    opacity: .7;
  }
  &.active {
    border: 2px solid $brand-secondary;
    color: #fff !important;

    background-color: $brand-secondary;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-mobile--max {
  @media only screen and (max-width : $screen-xs) {
    width: 100%;
  }
}

.btn-secondary {
  background-color: $brand-secondary;
  color: #fff;
}

.btn-gray {
  background-color: $gray;
  color: #fff;
}

.btn-unfollow, .btn-follow {
  width: 9rem;
}

.btn-rsvp {
  width: 8.5rem;
}

.btn-link {
  padding-left: 0;
  padding-right: 0;
}
