.event-detail {
  font-size: $font-size-h6;
  color: $gray-light;
  vertical-align: top;
  &.event-detail--title {
    font-size: $font-size-h5;
    color: $text-color;
  }
}

.calendar {
  background-color: #fff;
  max-width: 8rem;
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.3);
  @media (max-width: $screen-phone) {
    max-width: 5rem;
  }
}

.calendar-heading {
  background-color: $brand-secondary;
  color: #fff;
  font-size: $font-size-h6;
  text-transform: uppercase;
}

.calendar-body {
  font-size: $font-size-h3;
  color: $headings-color;
  font-weight: $headings-font-weight;

  @media (max-width: $screen-phone) {
    font-size: $font-size-h5;
    line-height: 1.8;
  }
}

.calendar-body, .calendar-heading {
  padding: .5rem;
  text-align: center;
  @media (max-width: $screen-phone) {
    padding: 0;
  }
}

.event-action {
  padding-left: 0;
}

.rsvp-count-context {
  margin-top: 0;
  position: relative;
  top: .7rem;
  left: .6rem;
  line-height: 1;
  color: #777;
}

// Add event page

#address-search {
    .state {
        display: none;
    }
}


.state.results {
  padding: 5px 0 2px;
  background: #f3f3f3;
  margin: -10px 1px 0 0;
  padding-top: 12px;
  border-radius: 0 0 $border-radius-base $border-radius-base;
  border: 1px solid #ddd;
  border-top: none;

  ul {
    list-style-type: circle;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid #ddd;
    padding: 4px 20px;

    &:last-child {
      border: none;
    }

    a {
      display: block;
    }
  }
}

.event-time {
  &:last-child:before {
    content: 'to';
    position: absolute;
    left: -7px;
    top: 8px;
    font-size: 1.3rem;
  }

  @media (max-width: $screen-tablet) {
    &:last-child {
      margin-top: 20px;
      &:before {
        display: none;
      }
    }
  }
}
