.event-detail {
  font-size: $font-size-h6;
  color: $gray-light;
  vertical-align: top;
  &.event-detail--title {
    font-size: $font-size-h5;
    color: $text-color;
  }
}

.calendar {
  background-color: #fff;
  max-width: 10rem;
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.3);
}

.calendar-heading {
  background-color: $brand-secondary;
  color: #fff;
  font-size: $font-size-h6;
  text-transform: uppercase;
}

.calendar-body {
  font-size: $font-size-h3;
  color: $headings-color;
  font-weight: $headings-font-weight;

  @media (max-width: $screen-phone) {
    font-size: $font-size-h5; 
    line-height: 1.8;
  }
}

.calendar-body, .calendar-heading {
  padding: .5rem;
  text-align: center;
  @media (max-width: $screen-phone) {
    padding: 0;  
  }
}

@media (max-width: $screen-phone) {
  .event-action .btn {
    padding: 5px 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 3px;
    background: #fff;
    color: $brand-primary;
  }
}

.rsvp-count-context {
  margin-top: 0;
  position: relative;
  top: .7rem;
  left: .6rem;
  line-height: 1;
  color: #777;
}


// Add event page

#address-search {
    .state {
        display: none;
    }
}
