.event-detail {
  font-size: $font-size-h6;
  color: $gray-light;
  vertical-align: top;
  &.event-detail--title {
    font-size: $font-size-h5;
    color: $text-color;
  }
}

.calendar {
  background-color: #fff;
  max-width: 10rem;
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.3);
}

.calendar-heading {
  background-color: $brand-secondary;
  color: #fff;
  font-size: $font-size-h6;
  text-transform: uppercase;
}

.calendar-body {
  font-size: $font-size-h3;
  color: $headings-color;
  font-weight: $headings-font-weight;
}

.calendar-body, .calendar-heading {
  padding: .5rem;
  text-align: center;
}

.rsvp-count-context {
  margin-top: 0;
  position: relative;
  top: .7rem;
  left: .6rem;
  line-height: 1;
  color: #777;
}
