footer {
  background-color: $gray-lightest;
  padding: 2rem 0;
  transition: all 400ms $transition;
  position: relative;
  left: 0;
  @media (min-width: $screen-md) {
    padding: 5rem 0 4rem;
  }
}


