//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: $font-family-base;
  // Work around for Chrome rem glitch http://www.wp-code.com/wordpress-snippets/how-to-stop-chrome-using-a-large-font-size-after-refreshing/
  font-size: strip-units(rem($font-size-base))+em;
  line-height: $line-height-base;
  color: $text-color;
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  font-feature-settings: "kern" 1;
  text-rendering: geometricPrecision;
  min-height: 100%;
  @media (min-width: $screen-sm) {
    background-color: $body-bg;
  }
}

section {
  margin: 0 0 4rem;
  border-bottom: solid 1px $gray-lightest;
  &:last-child {
    border-bottom: 0;
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Links

a {
  color: $brand-secondary;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($text-color, .3);
  }

  &:focus {
    @include tab-focus;
  }

  .item.block &:not(.btn), &.item.block {
    color: inherit;
  }

}

// Horizontal rules

hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

img {
  @include img-responsive(inline);
}

main {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  & > .row > .nav-tabs {
    margin-top: -2rem;
  }
}

.main-footer {
  border-top: 1px solid $gray-lighter;
  padding-top: 2rem;
  margin-top: 2rem;
}

.section-heading, .secondary-heading {
  font-weight: normal;
  color: $brand-primary;
  a {
    color: $brand-primary;
    text-decoration: none;
  }
}

aside {
  background-color: $gray-lightest;
}

.nomargin {
  margin: 0 !important;
}

.nomargin--top {
  margin-top: 0 !important;
}

.nomargin--bottom {
  margin-bottom: 0 !important;
}

.nopadding--top {
  padding-top: 0 !important;
}

.nopadding--bottom {
  padding-bottom: 0 !important;
}

.rightarrow {
  padding-right: $grid-gutter-width / 2;
  &:after {
    font-family: "entypo";
    position: absolute;
    width: 1em;
    content: '\e80e';
    right: 0;
    top: 25%;
  }
}

.breadcrumb {
  font-weight: normal;
  font-size: $font-size-h5;
  color: $gray-lighter;
}

.block {
  position: relative;
  display: block;
  @include blockpadding();
  &.item {
    border-bottom: solid 1px $gray-lightest;
    &.inactive {
      opacity: .5;
    }
    &:last-child {
      border-bottom: 0;
    }
    a & {
      color: $text-color;
      &:hover, &:active {
        background-color: $primary-light;
      }
    }
  }
}

.pageheading-details.block {
  @media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.block--bottom {
  padding-bottom: $block-unit;
}

.block--top {
  padding-top: $block-unit;
}

.field {
  @include blockpadding();
}

.contribution-number {
  font-size: $font-size-h2;
  font-weight: bold;
  text-align: right;
  color: $headings-color;
}

.pageheading-controls {
  @include extend();
  border-top: solid 1px $gray-lighter;
}

.nav-tabs {
  background-color: $body-bg;
}

.nav-tabs--filter {
  background-color: #fff;
  border: 0;
  padding-top: .4rem;
  > li {
    display: inline-block;
    background-color: #fff;
    &.active {
      & > a {
        font-weight: bold;
        color: $brand-secondary !important;
      }
    }
    & > a {
      color: $gray-light;
      &:hover {
        background-color: transparent;
        opacity: .8;
      }
      border: 0 !important;
      padding-left: 0;
      text-transform: uppercase;
      outline: none;
    }
  }
}

.main-manage {
  textarea {
    max-width: 100%;
  }
  input {
    max-width: 100%;
  }
}

.panel {
  overflow: hidden;
  ul:last-child {
    margin-bottom: 0;
  }
}

.tab-pane {
  padding-top: 6px;
}

.content--disabled {
  opacity: .3;
}

.highlight {
  margin-top: 3rem;
  padding: 4rem;
  background-color: lighten($brand-primary, 60%);
}

.privacy-item {
  .disabled {
      opacity: .5;
  }
}

.select2-container {
  display: block !important;
}

.no-data {
  padding: 5px 10px;
  margin-bottom: 1em;
  border: 1px solid $state-warning-border;
  border-radius: $border-radius-base;
  color: $state-warning-text;
  background-color: $state-warning-bg;
}

.pageheading-description h2 {
  @media (max-width: $screen-xs) {
    font-size: 2.3rem;
  }
}

.event-detail i {
  padding-right: 0.5rem;
}

@media (max-width: $screen-md) and (min-width: $screen-sm) {
  html {
    font-size: 72.5%;
  }
}

@media (max-width: $screen-sm) {
  html {
    font-size: 60%;
  }
}

@media (min-width: $screen-md) {
  .two-frames {
    aside {
      background-color: #fff;
      margin-right: 10px;
    }
    aside, main {
      margin-top: 24px;
    }
  }
  .tab-status-list {
    .map-sidebar {
      background-color: #fff !important;
      margin-right: 10px;
    }
    .map-sidebar, main {
      margin-top: 24px;
    }
    aside {
      padding-top: 0;
    }
  }
}

@media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
  .pageheading-details {
    h2 {
      font-size: 1.8rem;
    }
    .dropdown-toggle {
      padding: 0 2.8rem 0 1rem;
      margin-top: -.4rem;
    }
  }
}

.nofloat {
  float: none;
}

.badge {
  max-width: 5rem;
  .remaining-achievements & {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
  }
}

.achievement-sponsor {
  color: #bbb;
}

.glyphicon.glyphicon-chevron-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $brand-primary;
}

.glyphicon.glyphicon-chevron-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $brand-primary;
}

.bootstrap-datetimepicker-widget td span:hover {
  background: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu td {
  line-height: 20px;
  width: 20px;
  height: 20px;
}

.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 10px !important;
  &:hover {
    background-color: #eee;
}

.clear {
  clear: both;
}
