//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: $font-family-base;
  // Work around for Chrome rem glitch http://www.wp-code.com/wordpress-snippets/how-to-stop-chrome-using-a-large-font-size-after-refreshing/
  font-size: strip-units(rem($font-size-base))+em;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  overflow-x: hidden;
  width: 100%;
  transition: all 500ms $transition;
  position: relative;
  height: 100%;
  font-feature-settings: "kern" 1;
  text-rendering: geometricPrecision;
}

section {
  margin: 0 0 4rem;
  border-bottom: solid 1px $gray-lightest;
  &:last-child {
    border-bottom: 0;
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Links

a {
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($text-color, .3);
  }

  &:focus {
    @include tab-focus;
  }
}

// Horizontal rules

hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

img {
  @include img-responsive(inline);
}

main {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  & > .row > .nav-tabs {
    margin-top: -2rem;
  }
}

.main-footer {
  border-top: 1px solid $gray-lighter;
  padding-top: 2rem;
  margin-top: 2rem;
}

.section-heading, .secondary-heading {
  font-weight: normal;
  color: $brand-primary;
  a {
    color: $brand-primary;
    text-decoration: none;
  }
}

aside {
  background-color: $gray-lightest;
}

.nomargin {
  margin: 0;
}

.rightarrow {
  padding-right: $grid-gutter-width / 2;
  &:after {
    font-family: "entypo";
    position: absolute;
    width: 1em;
    content: '\e80e';
    right: 0;
    top: 25%;
  }
}

.breadcrumb {
  font-weight: normal;
  font-size: $font-size-h5;
  color: $gray-lighter;
}

.block {
  position: relative;
  display: block;
  @include blockpadding();
  &.item {
    border-bottom: solid 1px $gray-lightest;
    &:last-child {
      border-bottom: 0;
    }
    a & {
      color: $text-color;
      &:hover, &:active {
        background-color: $primary-light;
      }
    }
  }
}

.field {
  @include blockpadding();
}

.contribution-number {
  font-size: $font-size-h2;
  font-weight: bold;
  text-align: right;
  color: $headings-color;
}

.event-detail {
  font-size: $font-size-h6;
  color: $gray-light;
  vertical-align: top;
  &.event-detail--title {
    font-size: $font-size-h5;
    color: $text-color;
  }
}

.pageheading-controls {
  @include extend();
  border-top: solid 1px $gray-lighter;
}

label {
  display: block;
}

.nav-tabs {
  background-color: $body-bg;
}

.nav-tabs--filter {
  background-color: #fff;
  border: 0;
  padding-top: .4rem;
  > li {
    display: inline-block;
    &.active {
      & > a {
        font-weight: bold;
        color: $brand-primary !important;
      }
    }
    & > a {
      color: $gray-light;
      &:hover {
        background-color: transparent;
        opacity: .8;
      }
      border: 0 !important;
      padding-left: 0;
      text-transform: uppercase;
    }
  }
}

.main-manage {
  textarea {
    max-width: 100%;
  }
  input {
    max-width: 100%;
  }
}

.tab-pane {
  padding-top: 6px;
}

.content--disabled {
  opacity: .3;
}

.highlight {
  margin-top: 3rem;
  padding: 4rem;
  background-color: lighten($brand-primary, 60%);
}

.calendar {
  background-color: #fff;
  max-width: 10rem;
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.3);
}

.calendar-heading {
  background-color: $brand-secondary;
  color: #fff;
  font-size: $font-size-h6;
  text-transform: uppercase;
}

.calendar-body {
  font-size: $font-size-h3;
  color: $headings-color;
  font-weight: $headings-font-weight;
}

.calendar-body, .calendar-heading {
  padding: .5rem;
  text-align: center;
}

.group-table {
  width: 100%;
  vertical-align: top;
  tr {
    border-bottom: 1px solid $gray-lighter;
    vertical-align: top;
    &:last-child {
      border-bottom: 0;
    }
  }
  td {
    padding: 1rem 1rem 1rem 0;
    &:last-child {
      padding-right: 0;
    }
  }
}
