.group-branding {
  width: 100px;
  height: 100px;
  border-radius: $border-radius-base;
  overflow: hidden;
  border: 1px solid #ddd;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  .group-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }
}

.group-table {
  width: 100%;
  vertical-align: top;
  tr {
    border-bottom: 1px solid $gray-lighter;
    vertical-align: top;
    &:last-child {
      border-bottom: 0;
    }
  }
  td {
    padding: 1rem 1rem 1rem 0;
    &:last-child {
      padding-right: 0;
    }
  }
}

#new-group {
  @media (min-width: 768px) and (max-width: 991px) {
    float: none !important;
  }
  @media (max-width: 767px){
    position: relative;
    top: -5px;
  }
}