.group-branding {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.group-table {
  width: 100%;
  vertical-align: top;
  tr {
    border-bottom: 1px solid $gray-lighter;
    vertical-align: top;
    &:last-child {
      border-bottom: 0;
    }
  }
  td {
    padding: 1rem 1rem 1rem 0;
    &:last-child {
      padding-right: 0;
    }
  }
}

#new-group {
  @media (min-width: 768px) and (max-width: 991px) {
    float: none !important;
  }
  @media (max-width: 767px){
    position: relative;
    top: -5px;
  }
}