.nav-main {
  @include clearfix;
  background-color: $nav-color;
  color: #fff;
  padding: 1rem 0;
  height: $navbar-height;
}

.nav-right {
  float: right;
}

.nav-left {
  float: left;
}

.nav-account {
  padding-top: .7rem;
}

.nav-alert {
  & > .dropdown {
    &.open {
      & > button {
        background-color: #fff;
      }
    }
    & > button {
      border: 0;
      background-color: transparent;
    }
    & > .dropdown-menu {
      padding: 0;
      margin: 0;
      border: 0;
      & > li > a {
        padding: $block-unit;
        background-color: #fff;
      }
    }
  }
  @media (max-width: $screen-sm) {
    & > .dropdown {
      position: static;
      & > .dropdown-menu {
        left: 0;
        right: 0;
      }
    }
  }
}

.nav-alert-badge {
  border-radius: 100%;
  background-color: $brand-primary;
  color: #fff;
  width: 2.4rem;
}

.brand {
  vertical-align: middle;
  width: 15rem;
  padding-top: .9rem;
  @media (min-width: $screen-sm) {
    width: auto;
    padding-top: .5rem;
  }
}

.nav-account {
  padding: .9rem;
}

.nav-menubutton {
  nav > & {
    float: left;
  }
  background-color: transparent;
  border: 0;
  padding: 1.0rem 1.0rem;
  width: auto;
}

.icon-bar {
  display: block;
  width: 2.2rem;
  height: .2rem;
  border-radius: .1rem;
  background-color: #fff;

  &+.icon-bar {
    margin-top: .5rem;
  }
}

.nav-side {
  background-color: $nav-side-color;
}

.left-content {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: $nav-side-color;
  width: 30rem;
  -webkit-transform: translateX(-30rem);
  -moz-transform: translateX(-30rem);
  -ms-transform: translateX(-30rem);
  transform: translateX(-30rem);
  position: absolute;
  z-index: 1;
  transition: all 400ms $transition;
  .menu-active & {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0px 1rem 6rem 0px #0A0B0B;
  }
}

.right-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  position: relative;
  min-height: 100vh;
  transition: all 400ms $transition;
  .menu-active & {
    -webkit-transform: translateX(30rem);
    -moz-transform: translateX(30rem);
    -ms-transform: translateX(30rem);
    transform: translateX(30rem);
  }
}

.main-header {
  position: relative;
}

.btn-nav-user {
  color: #fff;
}

.nav-side-user {
  border-bottom: 1px solid transparentize($gray-lightest, .85);
  padding: 1rem;
}

.nav-side-user-name {
  color: #fff;
}

.nav-side-achievement {
  width: 8rem;
  height: 8rem;
  background-color: #000;
  border-radius: 100%;
  float: left;
  margin: 0 1rem 0 -2rem;
}

.nav-side-list {
  padding: 0;
  list-style: none;
  & > li {
    &.active {
      & > a {
        border-left: 3px solid $brand-primary;
        color: #fff;
      }
    }
    & > a {
      color: $gray-lighter;
      border-bottom: 1px solid transparentize($gray-lightest, .85);
      padding: 1rem;
      width: 100%;
      display: block;
      transition: all 100ms $transition;
      &:hover {
        background-color: $gray-dark;
      }
    }
  }
}

.nav-side-sub {
  text-align: center;
  & > a {
    color: $gray-lighter;
    width: 100%;
    display: block;
  }
}

.overlay-menued {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: $zindex-overlaymenu;
  display: none;
  .menu-active & {
    display: block;
    transition: all 400ms $transition;
    cursor: pointer;
  }
}
