nav {
  background-color: $brand-secondary;
  padding-right: 1.0rem;
  @include clearfix;
  color: #fff;
  height: $navbar-height;
}

.nav-right {
  float: right;
  padding-top: .7rem;
}

.nav-left {
  float: left;
}

.brand {
  display: inline-block;
  vertical-align: text-bottom;
}

.nav-menubutton {
  nav > & {
    float: left;
  }
  background-color: transparent;
  border: 0;
  padding: 1.0rem 1.0rem;
  width: auto;
}

.icon-bar {
  display: block;
  width: 2.2rem;
  height: .2rem;
  border-radius: .1rem;
  background-color: #fff;

  &+.icon-bar {
    margin-top: .5rem;
  }
}

.left-content {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #000;
  width: 30rem;
  left: -30rem;
  z-index: 1000;
  transition: all 400ms ease-in-out;
  .menu-active & {
    left: 0;
  }
}

.right-content {
  left: 0;
  position: relative;
  height: 100%;
  transition: all 400ms ease-in-out;
  .menu-active & {
    left: 30rem;
  }
}

.main-header {
  z-index: 1000;
  position: relative;
}
