$hero-box-top-padding: 4rem;
$hero-box-side-padding: 3rem;

.hero {
  position: relative;
  height: 31rem;
  .page-dashboard & {
    height: 39rem;
  }
}

.hero-content {
  padding: 4rem 3rem;
  margin-top: 4rem;
  background-color: #fff;
}

.hero-link {
  border-top: 1px solid $gray-lighter;
  padding: 1rem 0;
  display: block;
  margin: $hero-box-top-padding -1*$hero-box-side-padding -1*$hero-box-top-padding;
}

.hero-text {
  font-size: $font-size-h5 !important;
}

.hero-heading {
  font-size: $font-size-h3;
}

.hero-box {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.hero-background {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.ticker-digit {
  position: relative;
  display: inline-block;
  font-family: $headings-special-font-family;
  max-width: 15.5%;
  font-size: 180%;
  height: 5.7rem;
  width: 3.4rem;
  @media (min-width: $screen-sm) {
    height: 8rem;
    width: 5.9rem;
    font-size: $font-size-h1;
  }
}

.ticker-box, .ticker-box.ticker-box-bg, .ticker-box.ticker-box-bg:after, .ticker-box.ticker-box-bg:before {
  border: 1px solid #ddd;
  border-radius: 5px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20% .2rem;
  text-align: center;
  content: "";
  background-color: #fff;
}

.ticker-box.ticker-box-bg:after {
  top: 3px;
  background-color: #fff;
  z-index: $zindex-base-ticker + 1;
}

.ticker-box.ticker-box-bg:before {
  top: 5px;
  background-color: #ccc;
  z-index: $zindex-base-ticker;
}

.ticker-box-top {
  background-color: #eee;
  z-index: $zindex-above-ticker;
  &:after {
    z-index: $zindex-above-ticker + 1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    margin-left: -.025em;
    background-color: #000;
    border-bottom: solid $gray-lighter 1px;
  }
}

.main-home, .main-dashboard {
  margin-top: -3rem;
  padding-left: 0;
  padding-right: 0;
}

.page-home, .page-dashboard {
  section {
    margin: 1rem $grid-gutter-width/-2;
    padding: 1.5rem 1.5rem 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-about-logo {
  margin: 0 3rem 1rem 0;
}

.section-appeal-text {
  padding-top: 1.5rem;
}

.progress-circle {
  display: block;
  cursor: pointer;
  border: 4px solid;
  border-radius: 50%;
  height: 0;
  padding-bottom: 92%;
  width: 100%;
  @include transition(.2s ease-in-out color);
  &:hover {
    color: darken($brand-primary, 20%) !important;
  }
}

.progress-circle-container {
  text-align: center;
  padding: 0;
}

.progress-circle-number {
  font-size: $font-size-h3;
  font-weight: 800;
  color: inherit;
}

.progress-circle-label {
  text-transform: uppercase;
  font-size: $font-size-h6;
}

.progress-circles {
  margin-left: $grid-gutter-width/-2;
  margin-right: $grid-gutter-width/-2;
}

.progress-circle-content {
  color: inherit;
  float: left;
  line-height: 1.2;
  margin-top: -0.5em;
  padding-top: 36%;
  text-align: center;
  width: 100%;
}

.col-circle {
  padding: 1rem;
}

.home-description {
  font-size: $font-size-h5;
}

.section-appeal {
  margin-top: -1rem;
}

.page-dashboard {
  .ticker {
    padding-top: 1rem;
    text-align: center;
  }
}

@media (max-width: $screen-sm - 1) {
  .page-dashboard {
    .hero-content {
      padding: 0;
    }
    .hero-box {
      position: relative;
    }
    .hero {
      height: auto;
      padding-bottom: 2rem;
    }
  }
}

.ticker-label {
  font-weight: normal;
  color: #aaa;
  text-transform: uppercase;
}

@media (min-width: $screen-sm) {
  .section-appeal {
    margin-top: auto;
  }
  .section-appeal-text {
    padding: 0 4rem 2rem;
  }
  .home-description {
    font-size: $font-size-h4;
  }
  .progress-circles {
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    height: 45rem !important;
    .page-dashboard & {
      height: 28rem !important
    }
  }
  .hero-content {
    margin-left: $grid-gutter-width/-2;
    margin-right: $grid-gutter-width/-2;
    margin-top: 4rem;
  }
  .hero-text {
    font-size: $font-size-h4 !important;
  }
  .hero-heading {
    font-size: $font-size-h1;
  }
  .progress-circle-number {
    font-size: $font-size-h2;
  }
  .progress-circle-label {
    font-size: $font-size-h5;
  }
}

@media (min-width: $screen-md) {
  .page-dashboard {
    .ticker {
      padding-top: 3rem;
    }
  }
  .page-home, .page-dashboard {
    section {
      margin: 5rem auto 0;
      margin-left: $grid-gutter-width/-2;
      margin-right: $grid-gutter-width/-2;
      padding: 0 1.5rem 5rem;
    }
  }
  .main-dashboard {
    background-color: transparent;
    section {
      background-color: #fff;
      margin: 5rem auto 0;
      padding-top: 5rem;
    }
  }
  .dashboard-columns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    .column-static {
      position: static;
    }
    section {
      display: inline-block;
      padding: 3rem;
      width: 100%;
      margin-top: 0;
      margin-top: 3rem;
    }
    .item {
      display: block !important;
    }
    .showmore {
      display: none !important;
    }
  }
}
