#legend {
  .entry {
    line-height: normal;
    padding: .25em 0;
  }
  .swatch {
    float: left;
    width: 1em;
    height: 1em;
    margin-right: .5em;
  }
  // If you change these colors, also change src/nyc_trees/js/src/reserveBlockfacePage.js
  .in-cart {
    background-color: #FF69B4;
  }
  // If you change these colors, also change src/tiler/style/default.mss
  .surveyed-by-me {
    background-color: #228F73;
  }
  .surveyed-by-others {
    background-color: #8BC34A;
  }
  .available{
    background-color: #36b5db;
  }
  .reserved{
    background-color: #E55934;
  }
  .unavailable{
    background-color: #aaa;
  }
  // If you change these colors, also change src/tiler/style/progress.mss
  .mapped {
    background-color: #8BC34A;
  }
  .not-mapped {
    background-color: #85664B;
  }
  // If you change this color, also change src/nyc_trees/js/lib/SelectableBlockfaceLayer.js
  .selected {
    background-color: #FFEB3B;
  }
}
