#legend {
  .swatch {
    float: left;
    width: 1em;
    height: 1em;
    margin-right: 1em;
  }
  // If you change these colors, also change src/tiler/style/progress.mss
  .surveyed-by-me {
    background-color: #8BC34A;
  }
  .surveyed-by-others {
    background-color: #03A9F4;
  }
  .available{
    background-color: #7B1FA2;
  }
  .reserved{
    background-color: #E64A19;
  }
  .unavailable{
    background-color: #455A64;
  }
}
