.map-action-sidebar {
  padding-bottom: 0;
  .tab-status-map-tab &, .page-new-reservation & {
    position: static;
  }
  .action-bar .dropdown-menu {
    z-index: 1100;
  }
}

.map-container {
  .tab-status-map-tab & {
    position: fixed;
    bottom: 8rem;
    top: 13.7rem;
    right: 0;
    left: 0;
  }
  .page-new-reservation & {
    position: fixed;
    bottom: 8rem;
    top: 10.7rem;
    right: 0;
    left: 0;
    @media (min-width: $screen-sm) {
      top: $navbar-height;
      bottom: 0;
    }
  }
  .nav-tabs {
    position: relative;
    z-index: 3000;
  }
}

.action-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding: 0 $grid-gutter-width/2;
  .tab-status-list & {
    display: none;
  }
}

.map {
  width: 100%;
  height: 400px;
}

.map-event {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-small {
  padding-top: 40%; // Makes height 40% of width
}

.map-full {
  position: absolute;
  top: 10.7rem;
  bottom: 0;
  right: 0;
  left: 0;
}

.map-sidebar-context {
  position: relative;
  background-color: $body-bg;
  padding-right: $grid-gutter-width/2;
  padding-left: $grid-gutter-width/2;
}

.location-search-container {
    position: relative;
}

@media (min-width: $screen-sm) {
  .toggle-tab-button {
    border: 0 !important;
    background-color: transparent !important;
    .active & {
      background-color: $brand-primary !important;
      color: #fff !important;
    }
  }
  .nav-tabs-event {
    top: 1rem;
    right: 1rem;
    position: absolute;
    border: 0;
    background-color: transparent;
  }
  .tab-status-list {
    .map-sidebar {
      top: auto;
      left: auto;
      width: auto;
      background-color: transparent;
    }
  }
  .tab-status-map-tab {
    .map-container {
      bottom: 0;
      top: $navbar-height;
    }
  }
  .action-bar {
    position: static;
    height: auto;
    border-top: 1px solid #eee;
    padding: 1rem 0 0 0;
    margin-top: 1rem;
  }
  .map-full {
    top: $navbar-height;
  }
  .map-sidebar-context {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
  }
  .map-sidebar {
    position: absolute;
    z-index: 2000;
    top: 6rem;
    left: 2rem;
    width: 32rem;
    background-color: #fff;
    padding: 2rem;
  }
  .legend-button {
    display: none !important;
  }
  .modal-hidden-xs {
    position: relative;
    bottom: auto;
    opacity: 1 !important;
    display: block !important;
    .modal-content {
      box-shadow: none;
      border-radius: 0;
      border: 0;
    }
    .modal-body {
      padding: 0;
    }
    .modal-backdrop {
      display: none;
    }
    .modal-dialog {
      margin: 0;
      -webkit-transform: translate(0, 0) !important;
      -ms-transform: translate(0, 0) !important;
      -o-transform: translate(0, 0) !important;
      transform: translate(0, 0) !important;
    }
  }
}
