.map-action-sidebar {
  padding-bottom: 0;
  .tab-status-map-tab &, .page-new-reservation & {
    position: static;
    height: 7rem;
  }
  .action-bar .dropdown-menu {
    z-index: $zindex-modal + 1;
  }
}

.map-container {
  .tab-status-map-tab & {
    position: fixed;
    bottom: 8rem;
    top: 15.9rem;
    right: 0;
    left: 0;
  }
  .page-new-reservation & {
    position: fixed;
    bottom: 8rem;
    top: 12.6rem;
    right: 0;
    left: 0;
    @media (min-width: $screen-sm) {
      top: $navbar-height;
      bottom: 0;
    }
  }
  .nav-tabs {
    position: relative;
  }
}

.action-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding: 0 $grid-gutter-width/2;
  z-index: 1;
  .tab-status-list & {
    display: none;
  }
}

.map {
  width: 100%;
  height: 400px;
}

.map-event {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-survey {
  position: absolute;
  top: 0;
  bottom: 12rem;
  left: 0;
  right: 0;
}

.action-bar-survey {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12rem;
  padding: 0 $grid-gutter-width/2;
  z-index: 1;
  .tab-status-list & {
    display: none;
  }
}

.map-small {
  padding-top: 40%; // Makes height 40% of width
}

.map-full {
  position: absolute;
  top: 12.6rem;
  bottom: 0;
  right: 0;
  left: 0;
}

.map-sidebar-context {
  position: relative;
  background-color: $body-bg;
  padding-right: $grid-gutter-width/2;
  padding-left: $grid-gutter-width/2;
}

.location-search-container {
  position: relative;
  font-size: $font-size-h6;
  background-color: #fff;
  padding: $grid-gutter-width/2;
}

.location-search-results {
  padding: 0;
  list-style: none;
  position: absolute;
  right: $grid-gutter-width/2;
  left: $grid-gutter-width/2;
  background-color: $gray-lightest;
  z-index: $zindex-leaflet-controls + 1;
}

.location-search-status {
  font-style: italic;
}

.location-search-result, .location-search-status {
  padding: 1rem 1rem;
  border-bottom: 1px solid $gray-lighter;
  &:last-child {
    border-bottom: none;
  }
}

@media (max-width: $screen-sm - 1) {
  .pageheading-description-detail {
    .tab-status-map-tab & {
      display: none;
    }
  }
}

@media (min-width: $screen-sm) {
  .location-search-container {
    top: 1rem;
    left: 35rem;
    width: 40rem;
    background-color: transparent;
  }
  .nav-tabs > li {
    .active & {
      background-color: $brand-primary !important;
      color: #fff !important;
    }
    & > .toggle-tab-button {
      border: 0 !important;
      border-radius: $border-radius-base !important;
      background-color: transparent !important;
    }
  }
  .nav-tabs-event {
    top: 1rem;
    right: 1rem;
    position: absolute;
    border: 0;
    background-color: transparent;
  }
  .tab-status-list {
    .map-sidebar {
      top: auto;
      left: auto;
      width: auto;
      background-color: transparent;
    }
  }
  .tab-status-map-tab {
    .map-container {
      bottom: 0;
      top: $navbar-height;
    }
  }
  .action-bar {
    position: static;
    height: auto;
    border-top: 1px solid #eee;
    padding: 1rem 0 0 0;
    margin-top: 1rem;
  }
  .map-full {
    top: $navbar-height;
  }
  .map-sidebar-context {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
  }
  .map-sidebar {
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 2rem;
    width: 32rem;
    background-color: #fff;
    padding: 2rem;
  }
  .legend-button {
    display: none !important;
  }
  .modal-hidden-xs {
    position: relative;
    bottom: auto;
    opacity: 1 !important;
    display: block !important;
    .modal-content {
      box-shadow: none;
      border-radius: 0;
      border: 0;
    }
    .modal-body {
      padding: 0;
    }
    .modal-backdrop {
      display: none;
    }
    .modal-dialog {
      margin: 0;
      -webkit-transform: translate(0, 0) !important;
      -ms-transform: translate(0, 0) !important;
      -o-transform: translate(0, 0) !important;
      transform: translate(0, 0) !important;
    }
  }
}
