.map-action-sidebar {
  padding-bottom: 0 !important;
  .tab-status-map-tab &, .page-new-reservation & {
    position: static;
    height: 7.1rem;
    @media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
      height: 4rem;
      font-size: 12px;
      padding-top: 1rem;
    }
  }
  .dropdown-menu {
    z-index: $zindex-modal + 1;
  }
}

.map-container {
  transition: bottom 400ms;
  -ms-transition: bottom 400ms;
  -webkit-transition: bottom 400ms;
  .tab-status-map-tab & {
    position: fixed;
    bottom: 8rem;
    top: 15.9rem;
    right: 0;
    left: 0;
    @media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
      top: 12.6rem;
      bottom: 7rem;
    }
  }
  .page-new-reservation & {
    position: fixed;
    bottom: 8rem;
    top: 12.6rem;
    right: 0;
    left: 0;
    @media (min-width: $screen-sm) {
      top: $navbar-height;
      bottom: 0;
    }
    @media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
      top: 8.5rem;
      bottom: 7rem;
    }
  }
  .nav-tabs {
    position: relative;
  }
}

.action-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding: $grid-gutter-width/2 $grid-gutter-width/2;
  z-index: 1;
  .tab-status-list & {
    display: none;
  }
  & > .event {
    padding: 0;
  }
  &:empty {
    display: none;
  }
  @media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
    height: 7rem;
    .event-detail {
      display: none;
    }
  }
}

.map {
  width: 100%;
  height: 400px;
}

.map-event {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-small {
  padding-top: 20%;
  min-height: 180px;
}

.map-full {
  position: absolute;
  top: 12.6rem;
  bottom: 0;
  right: 0;
  left: 0;
}

.map-pdf-container {
  width: 7.0in;
  height: 9.3in;
  position: relative;
}

.map-pdf {
  /* Should be 7.5 x 10, but adjusted to fit with PhantomJS */
  position: absolute;
  top: 1.5in;
  bottom: 0;
  right: 0;
  left: 0;
}

.map-pdf-header {
  position: absolute;
  z-index: $zindex-modal + 1;
  margin-bottom: 3pt;
  font-size: 12pt;
  background: #fff !important;
  -webkit-print-color-adjust: exact;
  height: 1.5in;
  padding: .25in 0;
}

.map-pdf-subtext {
  font-size: 11pt;
  color: #888 !important;
  -webkit-print-color-adjust: exact;
}

.map-sidebar-context {
  position: relative;
  background-color: $body-bg;
  padding-right: $grid-gutter-width/2;
  padding-left: $grid-gutter-width/2;
  @media (max-width: $screen-sm) {
    padding: 0;
  }
}

.location-search-container {
  position: relative;
  font-size: $font-size-h6;
  background-color: #fff;
  padding: $grid-gutter-width/2;
}

.location-search-results {
  padding: 0;
  list-style: none;
  position: absolute;
  right: $grid-gutter-width/2;
  left: $grid-gutter-width/2;
  background-color: $gray-lightest;
  z-index: $zindex-leaflet-controls + 1;
}

.location-search-status {
  font-style: italic;
}

.location-search-result, .location-search-status {
  padding: 1rem 1rem;
  border-bottom: 1px solid $gray-lighter;
  &:last-child {
    border-bottom: none;
  }
}

.modal {
  z-index: $zindex-modal;
}

.legend-button {
  position: relative;
}

.legend-help {
  position: absolute;
  left: 220%;
  top: -1.4em;
  font-size: 180%;
  padding: 1em;
  background-color: black;
  color: white;

  &:after {
    position: absolute;
    top: 1.4em;
    right: 100%;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: black;
    border-width: 12px 25px;
    content: " ";
    pointer-events: none;
  }
}

.geolocate-help {
  position: absolute;
  left: 220%;
  top: 0;
  font-size: 180%;
  padding: 1em;
  background-color: black;
  color: white;
  width: 10em;

  &:after {
    position: absolute;
    top: 1.4em;
    right: 100%;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: black;
    border-width: 12px 25px;
    content: " ";
    pointer-events: none;
  }
}

.reservations-popup {
    width: 250px;
    a {
        // Leaflet makes us do this
        color: #fff !important;
    }
}

@media (max-width: $screen-sm - 1) {
  body:not(.actionbar-triggered) {
    .map-container.progress-map {
      bottom: 0;
    }
  }

  .geolocate-help {
    top: -40px;

    &:after {
      top: 70px;
      border-width: 8px 20px;
    }
  }

  .leaflet-control-zoom-out, .leaflet-control-zoom-in {
    display: none !important;
  }
  .geolocate-button {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
  }
  .pageheading-description-detail {
    .tab-status-map-tab & {
      display: none;
    }
  }

  .reservation-leaflet-popup {
      display: none;
  }

  .reservations-popup {
      width: 100%;
  }

  .reservation-action-item {
      position: absolute;
      left: 0;
      right: 0;
      transition: all 400ms;
      -ms-transition: all 400ms;
      -webkit-transition: all 400ms;
  }

  #reservations-cart-action {
      transform: translate(-100%);
      -ms-transform: translate(-100%);
      -webkit-transform: translate(-100%);
      &.active {
          transform: translate(0);
          -ms-transform: translate(0);
          -webkit-transform: translate(0);
      }
  }

  #reservations-blockface-action {
      transform: translate(100%);
      -ms-transform: translate(100%);
      -webkit-transform: translate(100%);
      &.active {
          transform: translate(0);
          -ms-transform: translate(0);
          -webkit-transform: translate(0);
      }
  }
}

.progress-toggle {
  padding-right: 3rem;
  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    right: 1rem;
    top: 1.75rem;
    @media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
      top: 1rem;
    }
  }
}

.nav-tabs-event {
  @media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
    margin-top: -.3rem;
  }
}

.modal-dialog {
  margin-top: 7rem;
}

@media (min-width: $screen-sm) {
  .reservation-action-item {
    margin: 0 $grid-gutter-width/-2;
  }
  .map-sidebar .modal-dialog {
    width: auto;
  }
  .location-search-container {
    top: 1rem;
    left: 35rem;
    width: 40rem;
    background-color: transparent;
  }
  .nav-tabs > li {
    .active & {
      background-color: transparent;
      color: #fff;
    }
    & > .toggle-tab-button {
      border: 0 !important;
      border-radius: $border-radius-base !important;
      background-color: transparent;
    }
  }
  .nav-tabs-event {
    top: 1rem;
    right: 1rem;
    position: absolute;
    border: 0;
    background-color: transparent;
    &.nav-tabs > li.active > a {
      background-color: $brand-secondary;
      color: #fff;
    }
  }
  .tab-status-list {
    .map-sidebar {
      top: auto;
      left: auto;
      position: relative;
      width: auto;
      background-color: transparent;
    }
  }
  .tab-status-map-tab {
    .map-container {
      bottom: 0;
      top: $navbar-height;
    }
  }
  .action-bar {
    position: static;
    height: auto;
    border-top: 1px solid #eee;
    padding: 2rem 0 0 0;
    margin-top: 1rem;
  }
  .map-full {
    top: $navbar-height;
  }
  .map-sidebar-context {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
  }
  .map-sidebar {
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 2rem;
    width: 34rem;
    background-color: #fff;
    padding: 2rem;
  }
  .legend-button {
    display: none !important;
  }
  .modal-hidden-xs {
    position: relative;
    bottom: auto;
    opacity: 1 !important;
    display: block !important;
    .modal-content {
      box-shadow: none;
      border-radius: 0;
      border: 0;
    }
    .modal-body {
      padding: 0;
    }
    .modal-backdrop {
      display: none;
    }
    .modal-dialog {
      margin: 0;
      -webkit-transform: translate(0, 0) !important;
      -ms-transform: translate(0, 0) !important;
      -o-transform: translate(0, 0) !important;
      transform: translate(0, 0) !important;
    }
  }

  #reservations-blockface-action {
      display: none;
  }
}

#reservations-help-text {
  line-height: 1.2;
}

.reservations-left {
  width: 13%;
  float: left;
}

.reservations-right {
  width: 87%;
  float: left;
}

.reservations-padding {
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
}

.crosshair-x {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  height: 1px;
  background: black;
}

.crosshair-y {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  width: 1px;
  background: black;
}
