#djDebug {
    display: none !important;
}
.page-new-survery {
    .map-action-sidebar {
        position: static;
    }

    .map-sidebar {
        max-height: 75vh;
        overflow: auto;
        overflow-x: hidden;
        box-shadow: 0 1px 2px rgba(black, .2);
    }
}

.map-survey {
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    @media (max-width: $screen-sm - 1) {
        bottom: 15rem;
    }
    @media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
        top: 4.5rem;
    }
}

.action-bar-survey {
    .btn-group {
        margin-bottom: .75rem;
    }
    @media (max-width: $screen-sm - 1) {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 15rem;
        padding: 0 $grid-gutter-width/2;
        z-index: 1;
        background-color: #fff;
        display: table;
        .tab-status-list & {
          display: none;
        }
        #select-starting-point, #select-side {
            display: table-cell;
            vertical-align: middle;
        }

        &.expanded {
            top: $navbar-height;
            overflow: scroll;
            bottom: 0;
            display: block;
            height: auto;
            padding: 0;
            z-index: $zindex-leaflet-controls + 1;
            @media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
                top: 4.5rem;
            }
        }
    }

    // Select2 dropdown styling
    .select2-container a.select2-choice {
      background: none;
      border-radius: $input-border-radius;
      height: $input-height-base;
      padding: 6px 12px;
      font-size: $font-size-base;
      line-height: $line-height-base;
      color: $input-color;
      background-color: $input-bg;
      background-image: none;
      border: 1px solid $input-border;
    }

    .select2-dropdown-open.select2-container {
        a.select2-choice {
            border-radius: $input-border-radius $input-border-radius 0 0;
            border: 1px solid #5897fb;
        }
        &.select2-drop-above a.select2-choice {
            border-radius: 0 0 $input-border-radius $input-border-radius;
        }
    }

    // Select2 icons
    .select2-container .select2-choice .select2-arrow {
        padding: 5px;
        background: none;
        width: 30px;
    }

    .select2-container .select2-choice abbr {
      right: 40px;
      top: 11px;
    }
}

// Select2 results
// Outside of action-bar due to rendering at bottom of DOM
.select2-results {
    li {
        border-bottom: 1px solid $gray-lightest;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    p {
        display: inline-block;
        margin: 0;
        &:first-child:after {
            content: '-';
            margin: 0 5px;
        }
    }
    .select2-result-label .select2-match {
        text-decoration: none;
        color: $brand-success;
        font-weight: 600;
    }
}

@media (max-width: $screen-tablet) {
    .select2-drop.select2-drop-active {
        top: 10px !important;
        bottom: 30px !important;
        border-bottom: 1px solid #5897fb !important;
        border-radius: 4px !important;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.45) !important;
        overflow: hidden;
        max-width: 80%;

        .select2-results {
            max-height: 85%;
        }
    }
}

#tree-form-header {
    background: $gray-lightest;
    padding: 1rem 2rem;
    margin: -2rem -2rem 2rem;
    #no-trees {
        border-radius: $border-radius-base;
    }
    h4 {
        margin: 0;
    }
    @media (max-width: $screen-sm - 1) {
        margin: 0;
    }
}

#tree-form-container, .tree-form-block {
    h3 {
        margin-bottom: 2rem;
    }
    .sticky-title {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 2px solid $gray-lightest;
        text-align: left;
        margin-bottom: 0;
        z-index: 10;
        font-weight: 600;
    }
    @media (max-width: $screen-sm - 1) {
        .sticky-title.fixed {
            position: fixed;
            left: 1.5rem;
            right: 5.6rem;
            top: 5.5rem;
            transform: translateZ(0); // Fixes fixed position issue on mobile
            width: auto;
            text-align: right;
            border: none;
            @media (max-height: $screen-xs-height) and (max-width: $screen-sm) {
                top: 4.5rem;
            }
            span {
                background: $brand-primary;
                color: #fff;
                padding: 1rem;
                transition: .2s ease all;
                right: 0;
                a {
                    color: #fff;
                }
            }
            a.pull-right {
                background: darken($brand-primary, 5%);
                padding: 1rem 1.5rem;
                position: absolute;
                right: -5.6rem;
                width: 5.6rem;
                top: 0;
                color: #fff;
                min-height: 40px;
                transition: .2s ease background;

                // When only one tree exist.
                &.hidden + span {
                    right: -5.6rem;
                    position: absolute;
                    top: 0;
                }
            }
        }
        .sticky-title.absolute {
            position: absolute;
            left: 1.5rem;
            right: 1.5rem;
            background: #fff;
            border-color: #fff;
        }
    }
    #another-tree {
        margin-bottom: 0;
        border-radius: $input-border-radius $input-border-radius 0 0;
    }
    #no-further-trees {
        margin-top: 0;
        border-radius: 0 0 $input-border-radius $input-border-radius;
    }
    #no-trees {
        margin-bottom: 1rem;
    }

    @media (max-width: $screen-sm - 1) {
        padding: $grid-gutter-width/3 $grid-gutter-width/2;
    }
}

.tree-form {
    label {
        color: $gray;
    }
    // Override Select2 styling.  We want the element to be visible but "under" the autocomplete
    // to play well with form validation and serialization
    select[name="species_id"] {
        display: block !important;
        position: relative;
        top: -39px;
        opacity: 0;
        z-index: -1;
        max-height: 1px;
    }
    // Hide checkboxes and radios, and use their checked/unchecked to style their label
    input[type="checkbox"], input[type="radio"] {
          opacity: 0;
          margin: -1px;
          position: absolute;
          min-width: 1px;
    }
    input[type="checkbox"] + label, input[type="radio"] + label {
        @extend .btn-switch;
        line-height: 1.2;
    }
    input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
        @extend .btn-switch.active;
    }
    label.btn ~ label.btn {
        border-left: none;
    }
    .btn-group label.btn-switch {
        border-radius: $border-radius-base;
    }
    fieldset {
        border-bottom: 2px solid $gray-lightest;
        margin-bottom: 1rem;
        &:last-child {
            border-bottom: none;
        }
    }
    legend, .field-title {
        font-size: $font-size-h5;
        font-weight: 600;
        color: $legend-color;
        margin: 0;
        border: none;
    }
    #submit-survey {
        margin-bottom: 2rem;
    }
}

#cant-map {
    margin-top: 2rem;
}

.teammate {
    top: -.75rem;
}

#survey {
    position: relative;  // for sticky titles

    // Requires such specifity in order to override bootstrap default behavior
    .tree-form .btn-group > input:first-child + .btn {
        border-radius: $border-radius-base 0 0 $border-radius-base;
    }
}

.distance-end-form {
    padding: $grid-gutter-width/3 $grid-gutter-width/2;
    background: $gray-lightest;
    border-radius: $border-radius-base;
    margin: 2rem 0;

    @media (max-width: $screen-sm - 1) {
        margin: $grid-gutter-width/3 $grid-gutter-width;
    }
}

#treeform-sponsor {
    text-align: center;
    margin-top: 30px;
    background: #f3f3f3;
    margin-bottom: -10px;
    position: absolute;
    width: 100%;
    @media (min-width: $screen-sm) {
        width: auto;
        left: -2rem;
        right: -2rem;
    }
    span {
        font-size: $font-size-small;
    }
    img {
          max-width: 85px;
          vertical-align: baseline;
    }
}

#no-further-trees-group {
    border-top: 2px solid $gray-lightest;
    margin-top: 10px;
    .distance-end-form, #submit-survey {
        display: none;
    }
    p {
        margin-top: 20px;
        font-size: $font-size-base;
    }

    &.active {
        border-top: none;
       .distance-end-form, #submit-survey {
            display: block;
        }
        p {
            display: none;
        }
        .tree-form-block {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 2px solid $gray-lightest;
        }
    }
}
