.page-new-survery {
    .map-action-sidebar {
        position: static;
    }

    .map-sidebar {
        max-height: 75%;
        overflow: auto;
        overflow-x: hidden;
        box-shadow: 0 1px 2px rgba(black, .2);
    }
}

.map-survey {
    position: fixed;
    top: 5.6rem;
    bottom: 0;
    left: 0;
    right: 0;
    @media (max-width: $screen-sm - 1) {
        bottom: 15rem;
    }
}

.action-bar-survey {
    .btn-group {
        margin-bottom: .75rem;
    }

    @media (max-width: $screen-sm - 1) {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 15rem;
        padding: $grid-gutter-width/3 $grid-gutter-width/2;
        z-index: 1;
        background-color: #fff;
        display: table;
        .tab-status-list & {
          display: none;
        }
        #select-starting-point, #select-side, #survey {
            display: table-cell;
            vertical-align: middle;
        }

        &.expanded {
            top: 5.6rem;
            overflow: scroll;
            bottom: 0;
            display: block;
            height: auto;
            padding: 0;
        }

    }
    
    // Select2 dropdown styling
    .select2-container a.select2-choice {
      background: none;
      border-radius: $input-border-radius;
      height: $input-height-base;
      padding: 6px 12px;
      font-size: $font-size-base;
      line-height: $line-height-base;
      color: $input-color;
      background-color: $input-bg;
      background-image: none;
      border: 1px solid $input-border;
    }

    .select2-dropdown-open.select2-container {
        a.select2-choice {
            border-radius: $input-border-radius $input-border-radius 0 0;
            border: 1px solid #5897fb;
        }
        &.select2-drop-above a.select2-choice {
            border-radius: 0 0 $input-border-radius $input-border-radius;
        }
    }

    // Select2 icons
    .select2-container .select2-choice .select2-arrow {
        padding: 5px;
        background: none;
        width: 30px;
    }

    .select2-container .select2-choice abbr {
      right: 40px;
      top: 11px;
    }
}

// Select2 results
// Outside of action-bar due to rendering at bottom of DOM
.select2-results {
    li {
        border-bottom: 1px solid $gray-lightest;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    p {
        display: inline-block;
        margin: 0;
        &:first-child:after {
            content: '-';
            margin: 0 5px;
        }
    }
    .select2-result-label .select2-match {
        text-decoration: none;
        color: $brand-success;
        font-weight: 600;
    }
}

#tree-form-header {
    #no-trees {
        position: absolute;
        top: 1.2rem;
        right: 2rem;
    }

    @media (max-width: $screen-sm - 1) {
        padding: $grid-gutter-width/3 $grid-gutter-width;
        background: $gray-lightest;
        margin-bottom: 1rem;
    }

    @media (min-width: $screen-sm) {
        h4 {
            margin-top: 0;
        }
    }
}

#tree-form-container, .tree-form-block {
    h3 {
        margin-bottom: 2rem;
    }
    #another-tree {
        margin-bottom: 2rem;
    }

    @media (max-width: $screen-sm - 1) {
        padding: $grid-gutter-width/3 $grid-gutter-width/2;
    }
}

.tree-form {
    label {
        color: $gray;
    }
    // Override Select2 styling.  We want the element to be visible but "under" the autocomplete
    // to play well with form validation and serialization
    select[name="species_id"] {
        display: block !important;
        position: relative;
        top: -39px;
        opacity: 0;
        z-index: -1;
    }
    // Hide checkboxes and radios, and use their checked/unchecked to style their label
    input[type="checkbox"], input[type="radio"] {
          opacity: 0;
          margin: -1px;
          position: absolute;
          min-width: 1px;
    }
    input[type="checkbox"] + label, input[type="radio"] + label {
        @extend .btn-switch;
        line-height: 1.2;
    }
    input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
        @extend .btn-switch.active;
    }
    label.btn ~ label.btn {
        border-left: none;
    }
    .btn-group label.btn-switch {
        border-radius: $border-radius-base;
    }
    fieldset {
        border-bottom: 2px solid $gray-lightest;
        margin-bottom: 1rem;
    }
    legend {
        font-size: $font-size-h5;
        font-weight: 600;
        margin: 0;
        border: none;
    }
    #submit-survey {
        margin-bottom: 2rem;
    }
}

.teammate {
    top: -.75rem;
}

// Requires such specifity in order to override bootstrap default behavior
#survey .tree-form .btn-group>input:first-child+.btn {
    border-radius: $border-radius-base 0 0 $border-radius-base;
}

.distance-end-form {
    padding: $grid-gutter-width/3 $grid-gutter-width/2;
    background: $gray-lightest;
    border-radius: $border-radius-base;
    margin: 2rem 0;

    @media (max-width: $screen-sm - 1) {
        margin: $grid-gutter-width/3 $grid-gutter-width;
    }
}
