//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
}

h1,
h2 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
  font-family: $headings-special-font-family;
}
h3,
h4,
h5,
h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

h1, h2, h3, h4, h5, h6 {
  font-weight: $headings-font-weight;
  &:first-child {
    margin-top: 0;
  }
  line-height: $headings-line-height;
  color: $headings-color;
}

// Body text
// -------------------------

p {
  margin: 0 0 rem(($line-height-computed / 2));
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }


.text--normal {
  font-weight: normal;
}

.color--white {
  color: #fff !important;
}

.color--primary {
  color: $brand-primary !important;
}

.color--secondary {
  color: $brand-secondary !important;
}

.color--tertiary {
  color: $brand-tertiary !important;
}

.color--quaternary {
  color: $brand-quaternary !important;
}

.text--break {
  word-wrap: break-word;
}

.color--warning {
  color: $brand-warning !important;
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.register-referral {
  padding-left: 2em;
}

h5 {
  margin-bottom: .4rem;
}

label {
  font-weight: $headings-font-weight;
  color: $headings-color;
}
