{% extends "base_event.html" %}
{% load utils %}

{% block nav %}
    {% include "core/partials/nav.html" %}
{% endblock %}

{% block aside %}
    <div class="map-sidebar">
        <h2>Partner Group Census Zone Polygons</h2>
    </div>
{% endblock aside %}

{% block main %}

    <form method="post" action="{% url 'upload_group_polygons' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Upload a GeoJSON file</h4>
        <p>
            <input type="file" name="file" accept="application/json,.json">
        </p>
        <p>
            <button class="btn btn-info" type="submit" disabled>Upload</button>
        </p>
    </form>

    {% if not success %}
        <h5 style="margin-bottom: 1em">No polygons updated.</h5>
    {% endif %}

    {% if error %}
        <ul class="errorlist">
            <li>{{ error }}</li>
        </ul>
    {% endif %}

    {% if unknown_group_names %}
        <h5 style="margin-bottom: 1em">Warning: the following group names did not match an existing partner group:</h5>
        <ul class="errorlist">
            {% for name in unknown_group_names %}
                <li>"{{ name }}"</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if success %}
        <h5 style="margin-bottom: 1em">Upload successful. Results:</h5>
        <table class="result-table">
            <tr>
                <th>Group name</th>
                <th>Present<br>in upload</th>
                <th>Polygon count<br>before upload</th>
                <th>Polygon count<br>after upload</th>
            </tr>
            {% for u in updates %}
                <tr>
                    <td style="text-align: left">{{ u.group.name }}</td>
                    <td>{% if u.updated %}Yes{% else %}&mdash;{% endif %}</td>
                    <td>{{ u.previous_polygon_count }}</td>
                    <td>{{ u.updated_polygon_count }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="{{ "js/uploadGroupPolygons.js"|static_url }}"></script>
{% endblock %}
