<div class="modal fade" id="map-another-popup" tabindex="-1" role="dialog" aria-labelledby="map-another-popup-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="hidden" data-class="map-another-possible">Map another block?</div>
                <div class="hidden" data-class="map-another-impossible">You've mapped all your reserved blocks!</div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" href="{% url 'progress_page' %}">
                  <span data-class="map-another-possible">I'm Done For Now</span>
                  <span data-class="map-another-impossible">OK</span>
                </a>
                <a class="btn btn-primary hidden" data-class="map-another-possible" href="{% url 'survey' %}">Yes!</a>
            </div>
        </div>
    </div>
</div>
