<div class="row">
    <div class="col-xs-12">
        Blockface
        {% if is_active and survey_type == "available" %}
            available.
            <a href="">Reserve it</a>.
        {% elif survey_type == "reserved" %}
            reserved by you.
        {% elif survey_type == "unavailable" %}
            reserved
        {% elif survey_type == "surveyed-by-me" %}
            mapped by you.
        {% elif survey_type == "surveyed-by-others" %}
            mapped
        {% else %}
            unavailable.
        {% endif %}

        {% if is_active %}
            {% if survey_type == "surveyed-by-others" or survey_type == "unavailable" %}
                by
                {% if group.slug %}
                    <a class="btn btn-link" href="{% url 'group_detail' group_slug=group.slug %}">
                        {{ group.name }}
                    </a>
                {% else %}
                    an individual mapper.
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
