{% extends "home/partials/legend.html" %}

{% block legend_title %}
Progress
{% endblock %}

{% block legend_text %}
<div data-mode="all-percent">
    This map shows the block edges mapped so far.
    Go to the <a href="{% url 'reservations' %}">Reservations tab</a> to help us finish mapping our street trees!
</div>
<div data-mode="all" class="hidden">
    This map shows the block edges mapped so far.
    Go to the <a href="{% url 'reservations' %}">Reservations tab</a> to help us finish mapping our street trees!
</div>
<div data-mode="my" class="hidden">
    <p>This map shows the block edges that have been mapped by you!</p>

    <p>Go to the <a href="{% url 'reservations' %}">Reservations tab</a> to help us finish mapping our street trees!</p>
</div>
{% endblock %}

{% block legend_entries %}
{{ block.super }}
<div data-mode="all-percent">
    <p>Total block edges mapped</p>
    <table class="mapped-percentage-color-ramp">
        <tr>
        {% for percent in percentage_ramps %}
            <td class="mapped-percentage mapped-{{ percent }}"></td>
        {% endfor %}
        </tr>
    </table>
    <div class="mapped-labels">
        <div class="col-xs-4 text-left" style="padding-left: 0">0</div>
        <div class="col-xs-4 text-center">50</div>
        <div class="col-xs-4 text-right" style="padding-right: 0">100%</div>
    </div>
</div>
{% endblock legend_entries %}
