<legend>{{ label }}</legend>
<div class="field">

    <div class="btn-group btn-group-{{ choices|length }}">
        {% for value, label in choices %}
            {# NOTE: For the styling to work correctly, the label must come directly after the radio #}
            <input id="{{ field }}-{{ value }}-{{ tree_number }}" required type="radio" name="{{ field }}" value="{{ value }}" />
            <label class="btn" for="{{ field }}-{{ value }}-{{ tree_number }}">
                {{ label }}
            </label>
        {% endfor %}
    </div>
</div>
