{# Preserve original behavior, but allow us to opt-out of using legend tag. #}
{# Multiple legends in a fieldset is not valid markup. #}
{% if use_title_div %}
<div class="field-title">{{ label }}</div>
{% else %}
<legend>{{ label }}</legend>
{% endif %}
<div class="field">

    <div class="btn-group btn-group-toggles">
        {% for value, label in choices %}
            {# NOTE: For the styling to work correctly, the label must come directly after the radio #}
            <input id="{{ field }}-{{ value }}-{{ tree_number }}" required type="radio" name="{{ field }}" value="{{ value }}" />
            <label class="btn" for="{{ field }}-{{ value }}-{{ tree_number }}">
                {{ label }}
            </label>
        {% endfor %}
    </div>
</div>
