<div class="modal fade" id="limit-reached-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reservations Limit Reached</h4>
            </div>
            <div class="modal-body">
                <p>You have reached the maximum limit for the amount of blockfaces that may be reserved.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="already-reserved-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Unavailable Blockface</h4>
            </div>
            <div class="modal-body">
                <p>The blockface you selected has already been reserved.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="request-access-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Unavailable Blockface</h4>
            </div>
            <div class="modal-body">
                <p>Contact this group to request permission to map blockfaces in this territory.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-action="request-access">
                    Request Mapping Permission
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="request-access-complete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Request Sent</h4>
            </div>
            <div class="modal-body">
                <p>Your request has been sent.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="request-access-fail-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Error Sending Request</h4>
            </div>
            <div class="modal-body">
                <p>There was a problem submitting your request. Please try again.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unavailable-blockface-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Unavailable Blockface</h4>
            </div>
            <div class="modal-body">
                <p>The blockface you selected is not available for mapping.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
