{% extends "home/partials/legend.html" %}

{% block legend_title %}
Reservations
{% endblock %}

{% block legend_text %}
    Ready to map on your own?
    Reserve available block edges for mapping!
    Select the blocks you want to map, add them to the cart,
    and save them by clicking the &ldquo;Finish Reservation&rdquo; button.
    Your block edges will be reserved for you to map for 7 days.
    <br><br>
    Checking out a wheel is easy! You can either visit one of our loaning hubs,
    or check out a wheel at the end of any NYC Parks’ mapping event.
{% endblock %}
