<div class="row">
    <div class="col-xs-9">
        Blockface {{ blockface.id }}
    </div>
    <div class="col-xs-3">
        <div class="dropup text-right">
            <button class="btn btn-default dropdown-toggle"
                    type="button"
                    id="reserved-blockface-popup-submenu"
                    data-toggle="dropdown"
                    aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="reserved-blockface-popup-submenu">
                <li>
                    <a role="menuitem" tabindex="-1" href="{% url 'survey' blockface_id=blockface.id %}">
                        Start Mapping
                    </a>
                </li>
                <li>
                    <a role="menuitem" tabindex="-1" href="javascript:" id="cancel-reservation" data-toggle="modal" data-target="#reservation-modal">
                      Cancel Reservation
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Bootstrap modals need to be high up in the DOM to prevent z-index issues,
         but we want to send down new markup for each blockface.
         The solution I arrived at is to place the modal contents in a script tag,
         and move them into the modal when this partial is loaded -->
    <script type="html/template" id="cancel-reservation-template">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="reservation-modal-label">Cancel Reservation</h4>
            </div>
            <div class="modal-body">
                <p>Canceling your reservation will allow another voluntreer to reserve this block.</p>
                <p>Are you sure you want to cancel?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Keep Reservation</button>
                <button type="button" class="btn btn-primary" data-action="cancel-reservation" data-url="{% url 'cancel_reservation' blockface_id=blockface.id %}">
                    Cancel Reservation
                </button>
            </div>
        </div>
    </div>
    </script>
</div>
