<h4 class="color--primary">Tree <span>{{ tree_number }}</span></h4>
<form class="tree-form" data-class="tree-form" autocomplete="off">
    <!-- We need a clickable submit button in order to trigger browser error validation popups -->
    <input type="submit" data-class="fake-submit" class="hidden">

    <fieldset>
        <legend>Measurements</legend>
        <div class="field">
            <label>
                Distance to Tree
                <input class="form-control" name="distance_to_tree" required type="number" min="0" step="any" placeholder="ft">
            </label>
        </div>
    </fieldset>

    <fieldset>
        {% include "survey/partials/radios.html" with label="Curb Location" field="curb_location" choices=choices.curb_location %}

        {% include "survey/partials/radios.html" with label="Tree Condition" field="status" choices=choices.status %}

        <div data-status="Stump" class="hidden">
            <div class="field">
                <label>
                    Stump Diameter
                    <input class="form-control" name="stump_diameter" required type="number" min="1" step="1" placeholder="in">
                </label>
            </div>
        </div>

        <!-- Circumference is repeated here for convenience, to avoid having to special-case showing/hiding it. -->
        <div data-status="Dead" class="hidden">
            <div class="field">
                <label>
                    Circumference
                    <input class="form-control" name="circumference" required type="number" min="1" step="1" placeholder="in">
                </label>
            </div>
        </div>

        <div data-status="Alive">
            <div class="field">
                <label>
                    Circumference
                    <input class="form-control" name="circumference" required type="number" min="1" step="1" placeholder="in">
                </label>
            </div>

            <div class="field">
                <label>
                    Species
                    <select name="species_id" class="form-control" required>
                      <option></option>
                      {% for pk, name in choices.species %}
                        <option value="{{ pk }}">{{ name }}</option>
                      {% endfor %}
                    </select>
                </label>
            </div>

            {% include "survey/partials/radios.html" with label="Tree Species Confidence" field="species_certainty" choices=choices.species_certainty %}

            {% include "survey/partials/radios.html" with label="Perception of Tree Health" field="health" choices=choices.health %}

            {% include "survey/partials/radios.html" with label="Evidence of Stewardship" field="stewardship" choices=choices.stewardship %}

            {% include "survey/partials/radios.html" with label="Tree Guards" field="guard_installation" choices=choices.guard_installation %}

            <div data-guard_installation="Yes">
                {% include "survey/partials/radios.html" with label="Is the tree guard:" field="guards" choices=choices.guards %}
            </div>

            {% include "survey/partials/radios.html" with label="Sidewalk Damage" field="sidewalk_damage" choices=choices.sidewalk_damage %}

            <div class="field">
                <label>Tree Problems</label>
                <div>
                    <input id="no-problems-{{ tree_number }}" required type="checkbox" name="problems" value="None" />
                    <label class="btn btn-block" for="no-problems-{{ tree_number }}">
                        No Problems
                    </label>
                </div>
            </div>
            <div class="field">
                {% for group_label, group_choices in choices.problem_groups %}
                    <label>{{ group_label }}</label>
                    <div class="btn-group btn-group-justified">
                        {% for value, label in group_choices %}
                            <input id="problems-{{ value }}-{{ tree_number }}" required type="checkbox" name="problems" value="{{ value }}" />
                            <label class="btn btn-switch" for="problems-{{ value }}-{{ tree_number }}">
                                {{ label }}
                            </label>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </fieldset>
</form>
