<h4 class="color--primary">
    Tree <span>{{ tree_number }}</span>
    <a class="hidden" data-action="delete" href="javascript:">
        <i class="icon-cancel"></i>
    </a>
    <a class="hidden pull-right" data-toggle="collapse" data-target="#tree-form-{{ tree_number }}">
        <i class="icon-down-open-big"></i>
    </a>
</h4>

<form class="tree-form collapse in" data-class="tree-form" autocomplete="off" id="tree-form-{{ tree_number }}">
    <!-- We need a clickable submit button in order to trigger browser error validation popups -->
    <input type="submit" data-class="fake-submit" class="hidden">

    <fieldset>
        <legend>Measurements</legend>
        <div class="field">
            <label for="distance_to_tree">Distance to Tree <small>(decimal feet)</small></label>
            <input class="form-control" name="distance_to_tree" id="distance_to_tree" required type="number" min="0" step="any" placeholder="ft">
        </div>
    </fieldset>

    <fieldset>
        {% include "survey/partials/radios.html" with label="Location of Tree Bed" field="curb_location" choices=choices.curb_location %}
    </fieldset>
    <fieldset>
        {% include "survey/partials/radios.html" with label="Tree Structure" field="status" choices=choices.status %}
    </fieldset>
    <div data-status="Stump" class="hidden">
        <fieldset>
            <legend>Stump Size</legend>
            <div class="stump_diameter field">
                <label>Stump Diameter <small>(inches)</small></label>
                <input class="form-control" name="stump_diameter" id="stump_diameter" required type="number" min="1" step="1" placeholder="in">
            </div>
        </fieldset>
    </div>

        <!-- Circumference is repeated here for convenience, to avoid having to special-case showing/hiding it. -->
    <div data-status="Dead" class="hidden">
        <fieldset>
            <legend>Tree Trunk</legend>
            <div class="field">
                <label>Circumference <small>(inches)</small></label>
                <input class="form-control" name="circumference" required type="number" min="1" step="1" placeholder="in">
            </div>
        </fieldset>
    </div>

    <div data-status="Alive">
        <fieldset>
            <legend>Tree Trunk</legend>
            <div class="field">
                <label for="circumference">Circumference <small>(inches)</small></label>
                <input class="form-control" name="circumference" id="circumference" required type="number" min="1" step="1" placeholder="in">
            </div>
        </fieldset>
        <fieldset>
            <legend>Tree Species</legend>
            <div class="field">
                <label for="species_id">Species Name</label>
                <select name="species_id" id="species_id" required>
                  {# A blank option so first species is not preselected #}
                  <option value="">&nbsp;</option>
                  {% for species in choices.species %}
                  <option value="{{ species.pk }}" data-scientific-name="{{ species.scientific_name }}" data-cultivar="{{ species.cultivar }}">
                    {{ species.common_name }}
                  </option>
                  {% endfor %}
                </select>
            </div>

            {% include "survey/partials/radios.html" with label="Are you confident in this answer?" field="species_certainty" choices=choices.species_certainty use_title_div=True %}
        </fieldset>
        <fieldset>
            {% include "survey/partials/radios.html" with label="Perception of Tree Health" field="health" choices=choices.health %}
        </fieldset>
        <fieldset>
            {% include "survey/partials/radios.html" with label="Tree Guards" field="guard_installation" choices=choices.guard_installation %}

            <div data-guard_installation="Yes">
                {% include "survey/partials/radios.html" with label="Is the tree guard:" field="guards" choices=choices.guards use_title_div=True %}
            </div>
        </fieldset>
        <fieldset>
            {% include "survey/partials/radios.html" with label="How many stewardship practices do you see?" field="stewardship" choices=choices.stewardship %}
        </fieldset>
        <fieldset>
            {% include "survey/partials/radios.html" with label="Sidewalk Damage" field="sidewalk_damage" choices=choices.sidewalk_damage %}
        </fieldset>
        <fieldset>
            <legend>Tree Problems</legend>
            <div class="field">
                <div>
                    <input id="no-problems-{{ tree_number }}" required type="checkbox" name="problems" value="None" />
                    <label class="btn btn-block" for="no-problems-{{ tree_number }}">
                        No Problems
                    </label>
                </div>
            </div>
            <div class="field" data-problems="">
                {% for group_label, group_choices in choices.problem_groups %}
                    <label>{{ group_label }}</label>
                    <div class="btn-group btn-group-toggles">
                        {% for value, label in group_choices %}
                            <input id="problems-{{ value }}-{{ tree_number }}" required type="checkbox" name="problems" value="{{ value }}" />
                            <label class="btn btn-switch" for="problems-{{ value }}-{{ tree_number }}">
                                {{ label }}
                            </label>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
</form>
