<form method="POST">
    <fieldset>
        {% csrf_token %}
        {% include "core/partials/non_field_errors.html" %}
        <div class="block item">
            {{ form.subject.errors }}
            {{ form.subject.label_tag }}
            {{ form.subject }}
        </div>
        <div class="block item">
            {{ form.body.errors }}
            {{ form.body.label_tag }}
            {{ form.body }}
        </div>
        <div class="main-footer">
            <div class="pull-right">
                <a class="btn btn-link" href="{% url 'group_detail' group_slug=group.slug %}">Cancel</a>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </fieldset>
</form>
