{% load waffle_tags %}

<nav class="nav-side">
    {% if user.is_authenticated %}
    <div class="nav-side-user clearfix">
        <div class="nav-side-achievement"></div>
        <span>
            <h2><a href="{% url 'user_detail_redirect' %}" class="nav-side-user-name">{{ user.username }}</a></h2>
            <div class="nav-side-options">
                <a href="{% url 'user_profile_settings' %}"
                   class="btn btn-primary">Settings</a>&nbsp;<a href="{{ user_settings_privacy_url }}"
                                                                class="btn btn-primary">Privacy</a>
            </div>
        </span>
    </div>
    {% endif %}
    <ul class="nav-side-list">
        {% flag full_access %}
            {% if my_events_now|length == 1 %}
                {% with event=my_events_now.0 %}
                    <li><a href="{{ event.get_user_checkin_url }}">Start Mapping</a></li>
                {% endwith %}
            {% endif %}
            <li{% if active_page == "dashboard" %} class="active"{% endif %}>
                <a href="{% url 'home_page' %}">{% if user.is_authenticated %}Dashboard{% else %}Homepage{% endif %}</a>
            </li>
            <li{% if active_page == "progress_page" %} class="active"{% endif %}><a href="{% url 'progress_page' %}">Progress Map</a></li>
            <li{% if active_page == "training" %} class="active"{% endif %}><a href="{% url 'training_summary_pure' %}">Training</a></li>
            <li{% if active_page == "groups" %} class="active"{% endif %}><a href="{% url 'group_list_page' %}">Groups</a></li>
            <li{% if active_page == "events" %} class="active"{% endif %}><a href="{% url 'events_list_page' %}">Events</a></li>
            <li{% if active_page == "reservations" %} class="active"{% endif %}><a href="{% url 'reservations' %}">Reservations</a></li>
            <li{% if active_page == "achievements" %} class="active"{% endif %}><a href="#">Achievements</a></li>
        {% endflag %}
        <li{% if active_page == "about" %} class="active"{% endif %}><a href="{% url 'about_faq_page' %}">About &amp; FAQ</a></li>
    </ul>
    <div class="nav-side-sub">
        <h3>NYC</h3>
        <h6>Copyright 2015, The City of New York</h6>
        <a href="#">Contact Us</a>
        <a href="#">Privacy Policy</a>
        <a href="http://www1.nyc.gov/home/terms-of-use.page" target="new">Terms of Use</a>
    </div>
</nav>
