{% load waffle_tags %}
{% load utils %}

<nav class="nav-side">
    {% if user.is_authenticated %}
    <div class="nav-side-user clearfix">
        <h2><a href="{% url 'user_detail_redirect' %}" class="nav-side-user-name">{{ user.username }}</a></h2>
        <div class="nav-side-options">
            <a href="{% url 'user_profile_settings' %}" class="btn btn-primary">
                Settings
            </a>&nbsp;{% if not user.is_minor %}<a href="{{ user_settings_privacy_url }}"
                                                   class="btn btn-primary">
                Privacy
            </a>{% endif %}
        </div>
    </div>
    {% endif %}
    <ul class="nav-side-list">
        {% flag full_access %}
            <li{% if active_page == "treecorder" %} class="active"{% endif %}>
                {% if treecorder_urls|length_is:"1" %}
                    {% with link=treecorder_urls.items|first %}
                    <a href="{{ link.1 }}">Treecorder</a>
                    {% endwith %}
                {% else %}
                    <a href="javascript:" data-toggle="modal" data-target="#treecorder-survey-modal">Treecorder</a>
                {% endif %}
            </li>
        {% endflag %}
        <li{% if active_page == "dashboard" %} class="active"{% endif %}>
            <a href="{% url 'home_page' %}">{% if user.is_authenticated %}Dashboard{% else %}Homepage{% endif %}</a>
        </li>
        <li{% if active_page == "progress_page" %} class="active"{% endif %}><a href="{% url 'progress_page' %}">Progress Map</a></li>
        <li{% if active_page == "groups" %} class="active"{% endif %}><a href="{% url 'group_list_page' %}">Groups</a></li>
{#        <li{% if active_page == "events" %} class="active"{% endif %}><a href="{% url 'events_list_page' %}">Events</a></li>#}
        {% flag full_access %}
            <li{% if active_page == "reservations" %} class="active"{% endif %}><a href="{% url 'reservations' %}">Reservations</a></li>
        {% endflag %}
        <li{% if active_page == "achievements" %} class="active"{% endif %}><a href="{% url 'achievements' %}">Rewards</a></li>
        <li{% if active_page == "about" %} class="active"{% endif %}><a href="{% url 'about_faq_page' %}">About &amp; FAQ</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
        {% endif %}
    </ul>
    <div class="nav-side-sub">
        <img src="{{ 'img/logo-nyc.png'|static_url }}" srcset="{{ 'img/logo-nyc@2x.png'|static_url }} 2x" alt="NYC" />
        <h6 class="color--white">Copyright 2015, The City of New York</h6>
        <a title="treescount.help@parks.nyc.gov" href="mailto:treescount.help@parks.nyc.gov">Contact Us</a>
        <!-- TODO: link to an appropriate page
             <a href="#">Privacy Policy</a>
        -->
        <a href="http://www1.nyc.gov/home/terms-of-use.page" target="new">Terms of Use</a>
    </div>
</nav>
