@import "partials/_variables";
@import "_bootstrap";

@import "partials/_globals";
@import "partials/_header";
@import "partials/_groups";
@import "partials/_home";
@import "partials/_typography";
@import "partials/_buttons";
@import "partials/_icons";
@import "partials/_legend";
@import "partials/_map";
@import "partials/_training";
