{% extends "base_reservation.html" %}
{% load utils %}

{% block aside %}

    <div class="map-sidebar">
        <h2>Group Territory</h2>
        <div>Select a group to modify its territory.</div>
        <select id="select-group">
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <div style="margin:8px 0 12px 0">
            <div>Add and remove blocks by clicking them, or by drawing an area:</div>
            <button class="btn btn-default js-area js-area-add"
                    title="Start drawing an area, enclosing blocks to add to group's territory">
                Draw to add
            </button>
            <button class="btn btn-default js-area js-area-remove"
                    title="Start drawing an area, enclosing blocks to remove from group's territory">
                Draw to remove
            </button>
            <button class="btn btn-warning hidden js-area js-area-cancel">Cancel drawing</button>
        </div>
        {% include 'home/partials/legend.html' %}
        <div style="margin-top:12px">
            <div class="pull-right">
                <button class="btn btn-warning js-revert"
                    title="Reset selection of blocks to match group's saved territory">
                    Revert
                </button>
                <button class="btn btn-success js-save"
                    title="Save currently-selected blocks as group's new territory">
                    Save
                </button>
            </div>
        </div>
    </div>

    {% include 'home/partials/location_search.html' %}

{% endblock aside %}

{% block main %}

<div id="map" class="map-event"
     data-tile-url="{{ layer.tile_url }}"
     data-grid-url="{{ layer.grid_url }}"></div>

{% endblock main %}

{% block page_js %}
    <script type="text/javascript" src="{{ "js/adminTerritoryPage.js"|static_url }}"></script>
{% endblock page_js %}
