{% extends "base_two_frames.html" %}

{% block aside %}
    <h2>Reservations</h2>
{% endblock aside %}

{% block main %}
    <h3>Confirm</h3>
    {% if num_reserved > 0 %}
    <p>You are adding {{ num_reserved }} block edge reservation{{ num_reserved|pluralize }}.</p>
    {% endif %}

    {% if num_cancelled > 0 %}
    <p>You are cancelling {{ num_cancelled }} block edge reservation{{ num_cancelled|pluralize }}.</p>
    {% endif %}

    <form method="post" action="{% url 'blockface_reservations_confirmation_page' %}">
        {% csrf_token %}

        <input type="hidden" name="ids" value="{{ blockface_ids }}" />

        {% if num_reserved > 0 %}
            <p>Indicate whether you will be using the app or paper worksheets to collect data
                on {{ num_reserved|pluralize:"this block edge,these block edges" }}.
                Click the “Confirm” button to finalize your reservation.</p>

            <h4>How will you map {{ num_reserved|pluralize:"this block edge,these block edges" }}?</h4>
            <label>
                <input type="radio" name="is_mapping_with_paper" value="False" checked="checked" />
                Mobile App
            </label>
            <p>Map online using the Treecorder! Just log in as usual into the TreesCount! Web App.</p>

            <label>
                <input type="radio" name="is_mapping_with_paper" value="True" />
                Paper Worksheets
            </label>
            <p>You will be emailed a data collection worksheet to print at home. After you have collected data on the block edges you have reserved, login to the TreesCount! Web App to enter the information online into the Treecorder.</p>

            <a href="{% url 'reservations' %}">Cancel</a>
            <input type="submit" value="Confirm" class="btn btn-primary pull-right" />

        {% else %}
            <p>Are you sure?</p>
            <a class="btn btn-default" href="{% url 'reservations' %}">No, don't cancel</a>
            <input type="submit" value="Yes, cancel" class="btn btn-primary pull-right" />
        {% endif %}

    </form>


{% endblock main %}
