{% extends "base_two_frames.html" %}

{% block aside %}
    <h2>New Reservation</h2>
{% endblock aside %}

{% block main %}
    <h3>Confirm</h3>
    <p>Indicate whether you will be using the app or paper worksheets to collect data on these block edges. Click the “Confirm Blocks” button to finalize your reservation.</p>

    <form method="post" action="{% url 'blockface_reservations_confirmation_page' %}">
        {% csrf_token %}
        <input type="hidden" name="ids" value="{{ blockface_ids }}" />

        <h4>How will you map these blocks?</h4>
        <label>
            <input type="radio" name="is_mapping_with_paper" value="False" checked="checked" />
            Mobile App
        </label>
        <p>Map blocks online using the Treecorder! Just log in as usual into the TreesCount! Web App.</p>

        <label>
            <input type="radio" name="is_mapping_with_paper" value="True" />
            Paper Worksheets
        </label>
        <p>You will be emailed a data collection worksheet to print at home. After you have collected data on the block edges you have reserved, login to the TreesCount! Web App to enter the information online into the Treecorder.</p>

        <a href="{% url 'reserve_blockface_page' %}">Cancel</a>
        <input type="submit" value="Confirm Blocks" class="btn btn-primary pull-right" />
    </form>
{% endblock main %}
