{% extends "skeleton.html" %}
{% load utils %}

{% block body %}
    <div class="map-pdf-header">
        <div>TreesCount! 2015 Reservations Map</div>
        <div>For more information about your block edge reservations,</div>
        <div>visit http://treescount.nycgovparks.org/blockedge.</div>
    </div>
    <div id="map" class="map-pdf"
         data-tile-url="{{ layer.tile_url }}"
         {% if bounds %}data-bounds="{{ bounds }}"{% endif %}
         data-endpoints="{{ endpoints }}">
    </div>
{% endblock body %}

{% block page_js %}
    <script type="text/javascript" src="{{ "js/printableReservationsMapPage.js"|static_url }}"></script>
{% endblock page_js %}
