{% extends "base_reservation.html" %}
{% load utils %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="progress_page" %}
{% endblock %}

{% block aside %}

    <div class="map-sidebar">
        <div class="map-sidebar-context block">
            <h2>Progress</h2>
            {% include 'survey/partials/progress_legend.html' %}
        </div>
        <div class="action-bar" id="action-bar"></div>
    </div>

  {% include 'home/partials/location_search.html' %}

{% endblock aside %}

{% block main %}

<div id="map" class="map-event"
     data-tile-url="{{ layer.tile_url }}"
     data-grid-url="{{ layer.grid_url }}"></div>

{% endblock main %}

{% block page_js %}
  <script type="text/javascript" src="{{ "js/progressPage.js"|static_url }}"></script>
{% endblock page_js %}
