{% extends "base_reservation.html" %}
{% load utils %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="progress_page" %}
{% endblock %}

{% block aside %}

    <div class="map-sidebar">
        <div class="map-sidebar-context block">
            <h2 class="pull-left">Progress</h2>
            <div class="dropdown pull-right {% if not request.user.is_authenticated %}hidden{% endif %}">
                    <button type="button" class="btn btn-default dropdown-toggle progress-toggle" data-toggle="dropdown">
                        All Users
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="text-right" role="presentation">
                            <a role="menuitem" href="#all"
                               data-tile-url="{{ layer_all.tile_url }}"
                               data-tile-url-neighborhood="{{ layer_all_nta.tile_url }}"
                               data-tile-url-borough="{{ layer_all_borough.tile_url }}"
                            >All Users</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="text-right" role="presentation">
                            <a role="menuitem" class="js-my-progress"
                               {% if my_bounds %}
                                   href="#my"
                                   data-tile-url="{{ layer_my.tile_url }}"
                                   data-bounds="{{ my_bounds }}"
                               {% else %}
                                   style="color: #bbb"
                                   title="Map a block edge to enable"
                               {% endif %}
                            >My Progress</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            <div class="clear">
                {% include 'survey/partials/progress_legend.html' %}
            </div>
        </div>
        <div class="action-bar action-bar-progress" id="action-bar"></div>
    </div>

    {% include 'home/partials/location_search.html' %}

{% endblock aside %}

{% block map_class %} progress-map {% endblock map_class %}

{% block main %}

<div id="map" class="map-event"
     data-help-shown="{{ help_shown }}">
</div>

{% endblock main %}

{% block page_js %}
  <script type="text/javascript" src="{{ "js/progressPage.js"|static_url }}"></script>
{% endblock page_js %}
