{% extends "base_reservation.html" %}

{% load utils %}

{% block aside %}

  <div class="map-sidebar">
    <h2>New Reservation</h2>
    {% include 'survey/partials/reservations_legend.html' %}
    <div class="action-bar">
      <div class="row">
        <div class="col-xs-6">
            <h1 class="rsvp-count-total pull-left color--primary nomargin" id="current-reservations">{{ reservations.current }}</h1>
            <div class="rsvp-count-context">
                 of <span id="total-reservations">{{ reservations.total }}</span><br>
                <span class="h6 text-uppercase">Reserved</span>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <form method="post" action="{% url 'reserve_blockfaces' %}">
                {% csrf_token %}
                <input type="hidden" id="reservation-ids" name="ids" />
                <input type="submit" id="finish-reservations" disabled="disabled" value="Reserve Blocks" class="btn btn-primary" />
            </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'home/partials/location_search.html' %}

{% endblock aside %}

{% block main %}

<div id="map" class="map-event"
     data-tile-url="{{ layer.tile_url }}"
     data-grid-url="{{ layer.grid_url }}"></div>

{% endblock main %}

{% block extra_content %}
{% include "survey/partials/reserve_blockface_modals.html" %}
{% endblock extra_content %}

{% block page_js %}
    <script type="text/javascript" src="{{ "js/reserveBlockfacePage.js"|static_url }}"></script>
{% endblock page_js %}
