{% extends "base_reservation.html" %}
{% load utils %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="reservations" %}
{% endblock %}

{% block aside %}

  <div class="map-sidebar">
      <h2>Reservations</h2>
      {% include 'survey/partials/reservations_legend.html' %}
      <div class="action-bar reservations-action-bar">
          <div id="reservations-cart-action" class="reservation-action-item active">
              <div class="col-xs-5">
                  <h1 class="rsvp-count-total pull-left color--primary nomargin" id="current-reservations">{{ reservations.current }}</h1>
                  <div class="rsvp-count-context">
                      of <span id="total-reservations">{{ reservations.total }}</span><br>
                      <span class="h6 text-uppercase">Reserved</span>
                  </div>
              </div>
              <div id="reservations-help-text" class="col-xs-7 text-left">
                  <div class="js-zoomed-in-help">
                      Click on a block edge to add or remove it from your reservations
                  </div>
                  <div class="js-zoomed-out-help">
                      <span style="font-weight: bold; color: #7ac143">Zoom in</span> (or search for an address) to select a block edge
                  </div>
              </div>
              <div id="reservations-finish-section" class="col-xs-7 text-right hidden">
                  <form method="post" action="{% url 'reserve_blockfaces' %}">
                      {% csrf_token %}
                      <input type="hidden" id="reservation-ids" name="ids" />
                      <input type="submit" id="finish-reservations" disabled="disabled" value="Finish Reservation" class="btn btn-primary" />
                  </form>
              </div>
          </div>
          <div id="reservations-blockface-action" class="reservation-action-item reservations-padding">
              <div class="reservations-left">
                  <i id="close-blockface-action" class="icon-left-open-big"></i>
              </div>
              <div class="reservations-right">
                  <div id="reservations-blockface-popup-container"></div>
              </div>
          </div>
      </div>
  </div>

  {% include 'home/partials/location_search.html' %}

{% endblock aside %}

{% block main %}

<div id="map" class="map-event"
     data-tile-url="{{ layer.tile_url }}"
     data-grid-url="{{ layer.grid_url }}"
     data-help-shown="{{ help_shown }}"
     {% if bounds %}data-bounds="{{ bounds }}"{% endif %}></div>

{% endblock main %}

{% block extra_content %}
{% include "survey/partials/reserve_blockface_modals.html" %}

<script type="html/template" id="reservations-blockface-popup-template">
<div class="reservations-popup">
    <div class="row">
        <div class="col-xs-7 col-sm-6">
            <h5>Block Edge <span data-blockface-id></span></h5>
            <p>
                <span data-blockface-status></span>
            </p>
        </div>
        <div class="col-xs-5 col-sm-6 text-right">
            <a class="btn btn-primary" data-blockface-id data-blockface-action></a>
        </div>
    </div>
</div>
</script>
{% endblock extra_content %}

{% block page_js %}
    <script type="text/javascript" src="{{ "js/reserveBlockfacePage.js"|static_url }}"></script>
{% endblock page_js %}
