{% extends "base_two_frames.html" %}

{% block aside %}

    <h2>Reservations Instructions</h2>
    <p class="pageheading-description-detail">
        Before you're able to make reservations you'll need to complete these tasks.
    </p>

{% endblock aside %}

{% block main %}

    <a href="{% url "training_summary_pure" %}" class="training block item">
        <div class="row">
            <div class="col-xs-8">
                <h5>Complete your online training</h5>
                <div class="h6"></div>
            </div>
            <div class="col-xs-4 text-right">
                {% if step1_complete %}
                    <i class="icon-check h4"></i>
                {% else %}
                    <button class="btn-primary btn">Start</button>
                {% endif %}
            </div>
        </div>
    </a>

    <a href="{% url "events_list_page" %}?active_filter=training" class="training block item{% if not step1_complete %} inactive{% endif %}">
        <div class="row">
            <div class="col-xs-8">
                <h5>Attend a training event</h5>
                <div class="h6"></div>
            </div>
            <div class="col-xs-4 text-right">
                {% if step2_complete %}
                    <i class="icon-check h4"></i>
                {% elif step1_complete %}
                    <button class="btn-primary btn">Start</button>
                {% endif %}
            </div>
        </div>
    </a>

    <a href="{% url "events_list_page" %}?active_filter=training" class="training block item{% if not step2_complete %} inactive{% endif %}">
        <div class="row">
            <div class="col-xs-8">
                <h5>Attend a mapping event</h5>
                <div class="h6"></div>
            </div>
            <div class="col-xs-4 text-right">
                {% if step3_complete %}
                    <i class="icon-check h4"></i>
                {% elif step2_complete %}
                    <button class="btn-primary btn">Start</button>
                {% endif %}
            </div>
        </div>
    </a>

    <form id="request_status" method="POST" action="{% url "request_individual_mapper_status" username=user.username %}">
        {% csrf_token %}
        <a href="javascript:;" {% if step3_complete %}onclick="request_status.submit()"{% endif %} class="training block item{% if not step3_complete %} inactive{% endif %}">
            <div class="row">
                <div class="col-xs-8">
                    <h5>Request independent mapper status</h5>
                    <div class="h6"></div>
                </div>
                <div class="col-xs-4 text-right">
                    {% if step4_complete %}
                        <i class="icon-check h4"></i>
                    {% elif step3_complete %}
                        <button class="btn-primary btn">Start</button>
                    {% endif %}
                </div>
            </div>
            <p><em>Submit a request to map block edges independently, outside of mapping events.</em></p>
        </a>
    </form>

{% endblock main %}
