{% extends "base_two_frames.html" %}

{% block aside %}
    <h2>New Reservation</h2>
{% endblock aside %}

{% block main %}
    <h3>Blocks Reserved</h3>
    {% if blockfaces_requested == blockfaces_reserved %}
    Your blocks were successfully reserved.
    Lorem ipsum dolor sit amet....
    {% elif blockfaces_requested > blockfaces_reserved %}
    You requested {{ blockfaces_requested }} block{{ blockfaces_requested|pluralize }},
    but we could only reserve {{ blockfaces_reserved }} block{{ blockfaces_reserved|pluralize }} for you.

    <p>Check the <a href="{% url 'reserve_blockface_page' %}">Reservations Page</a> to see which blockfaces you have reserved.</p>
    {% endif %}

    You will receive an email confirmation shortly.
    <p>These blocks will be reserved for you until <b>{{ expiration_date|date }}</b>.</p>

    <a class="btn btn-primary" href="{% url 'choose_blockface_survey_page' %}">Start Mapping</a>

{% endblock main %}
