{% extends "base_map.html" %}

{% load utils %}

{% block aside %}

  <div class="map-sidebar">
    <div class="map-sidebar-context block">
      <h2>Reservations<a href="{% url 'reserve_blockface_page' %}" id="new-reservation"
          class="btn btn-primary pull-right">New</a></h2>
      <div class="hide-xs hidden-xs">
        The reservations map shows lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Sed eu congue lorem, id feugiat tortor. Aliquam ante elit, sodales eget
        porttitor vel, commodo et felis.
      </div>
    </div>
    {% include 'home/partials/legend.html' %}
  </div>

  {% include 'home/partials/location_search.html' %}

{% endblock aside %}

{% block map %}

<div id="map" class="map-with-action-bar"></div>

<div class="action-bar" id="reserve-blockface-action-bar"></div>

{% endblock map %}

{% block page_js %}
    <script type="text/javascript" src="{{ "js/reservationPage.js"|static_url }}"></script>
{% endblock page_js %}
