{% extends "base_reservation.html" %}
{% load utils %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="reservations" %}
{% endblock %}

{% block aside %}

  <div class="map-sidebar">
    <h2>Reservations
        <a id="new-reservation" class="btn btn-primary pull-right"
        {% if user.individual_mapper %}href="{% url 'reserve_blockface_page' %}"
        {% else %}href="{% url 'reservations_instructions' %}"
        {% endif %}>New</a></h2>
    <p class="pageheading-description-detail hidden-xs">
      Ready to be an independent volun<b>treer</b> and map on your
      own? Check out the citywide progress and create a reservation
      for available block sides. Create a 7-day reservation for up to
      20 block sides at a time and contact a nearby Loaning Hub to
      schedule your mapping equipment pick-up.
    </p>
    {% include 'home/partials/legend.html' %}
    <div class="action-bar h4" id="reserve-blockface-action-bar"></div>
  </div>

  {% include 'home/partials/location_search.html' %}

{% endblock aside %}

{% block main %}

<div id="map" class="map-event"
     data-tile-url="{{ layer.tile_url }}"
     data-grid-url="{{ layer.grid_url }}"
     {% if bounds %}data-bounds="{{ bounds }}"{% endif %}></div>

{% endblock main %}

{% block extra_content %}
<div class="modal fade" id="reservation-modal" tabindex="-1" role="dialog" aria-labelledby="reservation-modal-label" aria-hidden="true">
</div>
{% endblock extra_content %}

{% block page_js %}
    <script type="text/javascript" src="{{ "js/reservationPage.js"|static_url }}"></script>
{% endblock page_js %}
