{% extends "base_two_frames.html" %}

{% load utils %}

{% block aside %}
    <h2>New Reservation</h2>
{% endblock aside %}

{% block main %}
    <h3>Blocks Reserved</h3>
    {% if blockfaces_requested == blockfaces_reserved %}

    <p>Your block edges were successfully reserved!</p>
    <p>Check your inbox for your reservation confirmation.  You can start mapping the trees on these blocks whenever you are ready.</p>

    {% elif blockfaces_requested > blockfaces_reserved %}

    <p>
      You requested {{ blockfaces_requested }} block{{blockfaces_requested|pluralize }},
      but we could only reserve {{ blockfaces_reserved }} block{{ blockfaces_reserved|pluralize }} for you.
    </p>

    <p>Check the <a href="{% url 'reserve_blockface_page' %}">Reservations Page</a> to see which block edges you have reserved.</p>
    {% endif %}
    {% if blockfaces_cancelled %}
    <p>
      Per your request, {{ blockfaces_cancelled }} of your block edge
      reservation{{ blockfaces_cancelled|pluralize }} were cancelled.
    </p>
    {% endif %}

    <p>These blocks will be reserved for you until <b>{{ expiration_date|date }}</b>.</p>

    <a class="btn btn-primary" href="{% url 'survey' %}">Start Mapping</a>

{% endblock main %}

{% block page_js %}
    <script type="text/javascript" src="{{ "js/reservationConfirmationPage.js"|static_url }}"></script>
{% endblock page_js %}
