{% extends "base.html" %}
{% load utils %}

{% block content %}
<div>
    <div id="map" class="map-survey"
        data-trees-json="{{ trees }}"
        data-tile-url="{{ layer.tile_url }}"
        data-grid-url="{{ layer.grid_url }}"
        data-survey-id="{{ survey_id }}"
        data-blockface-id="{{ blockface_id }}"
        {% if bounds %}data-bounds="{{ bounds }}"
        {% elif location %}data-location="{{ location }}"
        {% endif %}>
    </div>
    <div class="action-bar-survey">
        <div>
            <p>Does this look right?</p>
            <button id="survey-detail-abandon-incomplete" class="btn btn-default">No - Start Over</button><br/>
            <button id="survey-detail-submit-incomplete" class="btn btn-default">No - Submit For Review</button><br/>
            <button id="survey-detail-submit-complete" class="btn btn-default">Yes</button><br/>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_content %}
{% include "survey/partials/map_another_popup.html" %}
{% endblock extra_content %}

{# No footer on the survey pages, they have their own footer #}
{% block footer %}
{% endblock footer %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/surveyDetail.js"|static_url }}"></script>
{% endblock page_js %}
