{% extends "base_map.html" %}
{% load utils %}

{% block aside %}
<div class="map-sidebar">
    <div id="select-starting-point" class="hidden">
        <p>Tap your starting point</p>
    </div>
    <div id="select-side" class="hidden">
        <p>What side of the street are you on?</p>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button id="btn-left" data-direction="left"
                    class="btn btn-default">Left</button>
            </div>
            <div class="btn-group" role="group">
                <button id="btn-right" data-direction="right"
                    class="btn btn-default">Right</button>
            </div>
        </div>
        <div id="btn-group-next" class="btn-group btn-group-justified hidden" role="group">
            <div class="btn-group" role="group">
                <button id="btn-next" class="btn btn-default">Next</button>
            </div>
        </div>
    </div>
</div>
{% endblock aside %}

{% block map %}
<div id="map" class="map-event"
     data-tile-url="{{ layer.tile_url }}"
     data-grid-url="{{ layer.grid_url }}"
     {% if map_bounds %}data-bounds="{{ map_bounds }}"
     {% elif map_location %}data-location="{{ map_location }}"
     {% endif %}></div>
{% endblock map %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/surveyPage.js"|static_url }}"></script>
{% endblock page_js %}
