{% extends "base_survey.html" %}
{% load utils %}

{% block aside %}
{% if show_controls %}
<div class="map-sidebar">
    <div class="action-bar-survey">
        <div>
            <p>Does this look right?</p>
            <div class="block--bottom">
                <button id="survey-detail-abandon-incomplete" class="btn btn-default">No, Restart</button>
                <button id="survey-detail-submit-incomplete" class="btn btn-default">No, Submit For Review</button>
            </div>
            <button id="survey-detail-submit-complete" class="btn btn-primary btn-mobile--max">Yes</button>
        </div>
    </div>
</div>
{% endif %}
{% endblock aside %}

{% block main %}
<div id="pages">
    <div id="map" class="map-survey"
        data-trees-json="{{ trees }}"
        data-tile-url="{{ layer.tile_url }}"
        data-grid-url="{{ layer.grid_url }}"
        data-survey-id="{{ survey_id }}"
        data-blockface-id="{{ blockface_id }}"
        data-survey-url="{{ survey_url }}"
        data-no-more-reservations="{{ noMoreReservations }}"
        {% if bounds %}data-bounds="{{ bounds }}"
        {% elif location %}data-location="{{ location }}"
        {% endif %}>
    </div>
</div>
{% endblock main %}

{% block extra_content %}
{% include "survey/partials/map_another_popup.html" %}
{% endblock extra_content %}

{# No footer on the survey pages, they have their own footer #}
{% block footer %}
{% endblock footer %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/surveyDetail.js"|static_url }}"></script>
{% endblock page_js %}
