{% extends "base_survey.html" %}
{% load utils %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="treecorder" %}
{% endblock %}

{% block aside %}

<div class="map-sidebar">

    <div class="action-bar-survey">
        <div id="select-starting-point">
            <p>Drag the map to choose a block edge.<br/>Then choose a starting point.</p>
        </div>
        <div id="select-side" class="hidden">
            <p>What side of the street are you on?</p>
            <div class="btn-group btn-group-justified" role="group">
                <a id="btn-left" class="btn btn-switch">Left</a>
                <a id="btn-right" class="btn btn-switch">Right</a>
            </div>
            <div id="btn-group-to-teammate" class="hidden" role="group">
                <button id="btn-to-teammate" class="btn btn-primary btn-block">Next</button>
            </div>
        </div>
        <div id="select-teammate" class="hidden">
            <p>Is someone helping you count trees? Enter their user name. If not, click Next.</p>
            <div id="teammate-list">
                {% include "event/partials/teammates.html" %}
            </div>
            <div id="btn-group-next" class="hidden" role="group">
                <button id="btn-next" class="btn btn-primary btn-block">Next</button>
            </div>
        </div>
        <div id="survey" class="hidden">
            <div id="tree-form-header">
                <h4>Treecorder</h4>
            </div>
            <div id="tree-form-container" class="clearfix">
                <a class="btn btn-warning btn-block" href="#no-trees-popup" data-toggle="modal" id="no-trees">No Trees On This Block</a>
                {% include "survey/partials/tree_form.html" with tree_number=1 %}
            </div>
            <div class="tree-form-block">
                <div class="field">
                    <button class="btn btn-primary btn-block" id="another-tree">+ Another Tree</button>
                    <button class="btn btn-gray btn-block" id="no-further-trees">No Further Trees on Block</button>
                </div>
            </div>

            <div id="no-further-trees-group">
                <form autocomplete="off" class="distance-end-form">
                    <!-- We need a clickable submit button in order to trigger browser error validation popups -->
                    <input type="submit" data-class="fake-submit" class="hidden">

                    <div class="field">
                        <label for="distance_to_end">Distance to End <small>(decimal feet)</small></label>
                        <input id="distance_to_end" class="form-control" required type="number" min="0" max="100000" step="any" placeholder="ft">
                    </div>
                </form>
                <div class="tree-form-block">
                    <p>When you've added all the trees, please select "No Further Trees on Block" and submit your data.</p>
                    <button class="btn btn-primary btn-block" id="submit-survey">Submit</button>
                    <a class="btn btn-warning btn-block" id="cant-map" href="#quit-popup" data-toggle="modal">I cannot map this block because...</a>
                </div>
            </div>
            <div class="block" id="treeform-sponsor">
                <span>Powered By</span>
                <img src="{{ "img/logo-treekit.png"|static_url }}" alt="TreeKit" />
            </div>
        </div>
    </div>
</div>

<script type="handlebars/template" id="tree-form-template">
    {# 'tree_number' here goes into the template with the '{{ }}', which is used for handlebar templating #}
    {% include "survey/partials/tree_form.html" with tree_number="{{ tree_number }}" %}
</script>

{% include 'home/partials/location_search.html' %}
{% endblock aside %}

{% block main %}

    <div id="pages">
        <div>
            <div id="map" class="map-survey"
                data-tile-url="{{ layer.tile_url }}"
                data-grid-url="{{ layer.grid_url }}"
                data-geolocate-help-shown="{{ geolocate_help_shown }}"
                {% if bounds %}data-bounds="{{ bounds }}"
                {% elif location %}data-location="{{ location }}"
                {% endif %}>
            </div>
        </div>
    </div>
{% endblock main %}

{% block extra_content %}

{# popups should always be in the extra_content block so that they #}
{# are direct children of the body tag and avoid z-order conflicts #}
{# that may arise when there are changes to the base template #}

<div class="modal fade" id="quit-popup" tabindex="-1" role="dialog" aria-labelledby="quit-popup-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn btn-link pull-right" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="quit-popup-title">Stop Mapping This Block</h4>
            </div>
            <div class="modal-body">
                <form id="quit-form" method="POST">
                    <label for="quit-reason">I can no longer map because</label>
                    <textarea id="quit-reason" class="form-control"
                              placeholder="Offset tree bed, bad sidewalks, etc." rows="4"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button id="quit" type="submit" class="btn btn-primary btn-block">Stop Mapping</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="no-trees-popup" tabindex="-1" role="dialog" aria-labelledby="no-trees-popup-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="no-trees-popup-title">Confirm No Trees</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure there are no trees and you are ready to finish this block?</p>
            </div>
            <div class="modal-footer">
                <button id="no-trees-cancel" class="btn btn-default" data-dismiss="modal">Resume</button>
                <button id="no-trees-confirm" type="submit" class="btn btn-primary">Finish With No Trees</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-tree-popup" tabindex="-1" role="dialog" aria-labelledby="delete-tree-popup-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="delete-tree-popup-title">Remove Tree</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this tree? You will lose the data you have already entered.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="delete-tree-confirm" type="submit" class="btn btn-primary" data-dismiss="modal">Remove</button>
            </div>
        </div>
    </div>
</div>

{% include "survey/partials/map_another_popup.html" %}

{% endblock extra_content %}

{# No footer on the survey pages, they have their own footer #}
{% block footer %}
{% endblock footer %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/surveyPage.js"|static_url }}"></script>
{% endblock page_js %}
