{% extends "base_two_frames.html" %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="about" %}
{% endblock %}

{% block aside %}
<h2>About &amp; FAQ</h2>
{% endblock aside %}

{% block main %}

<h4>What is TreesCount! 2015?</h4>
<p>
    TreesCount! 2015 is NYC Parks&rsquo; effort to map and catalogue every street
    tree on every block in New York City.
    <a href="{% url 'registration_register' %}">Register</a>
    to become a volun<b>treer</b> today!</p>

<h4>Do I need to know a lot about trees to get involved?</h4>
<p>
    No prior experience is required! We will help you learn everything you
    need to know to map street trees.
</p>

<h4>How do I volunteer?</h4>
<p>
    Getting involved is easy! To get started, register online and take our brief
    virtual training course. Then RSVP and attend a field training event
    with NYC Parks or with a Census partner group to gain hands-on field
    knowledge on how to identify and map street trees.
</p>
<p>
    At the training event, we&rsquo;ll have
    staff teaching you how to apply what you&rsquo;ve learned, answer any
    questions you have, supply necessary mapping tools and a Tree Species
    ID guide, and get you mapping right away with other newly trained
    volunteers!
    Start your online training <a href="{% url 'training_summary_pure' %}">here</a>!</p>

<h4>Where can I volunteer to map street trees?</h4>
<p>
    We are hosting events in neighborhoods throughout all five boroughs of
    New York City. Many local organizations are contributing to the
    mapping effort, and you will be able to participate in events hosted
    by TreesCount! partner groups or by NYC Parks. After you&rsquo;ve
    completed your online training, find training and mapping events near
    you <a href="{% url "events_list_page" %}">here</a>.</p>

<h4>What is the difference between a training event and a mapping event?</h4>
<p>
    Training
    events are designed to help you apply what you learned in the virtual
    training course, so you can master the TreeKIT mapping method and the
    Treecorder software before collecting data for TreesCount! 2015. The
    first hour of a training event is spent learning data collection tips
    and helpful mapping reminders. After your training is complete, you
    will map in teams for the duration of the event. Mapping events are
    intended for volun<b>treers</b>
        who have already been to a training event in the field. No
        instruction period is included; volun<b>treers</b>
            will start mapping right away!
</p>

<h4>Do I need to bring anything to a training event?</h4>
<p>
    Just
    a love of trees and a willingness to learn! At the training event,
    you will receive a TreesCount! Gear Pack with a Tree Species ID guide
    and a measuring tape, along with a volunteer badge and lanyard, for
    you to keep and reuse throughout the duration of the census. NYC
    Parks and our partners will provide you with a measuring wheel and a
    tablet for mapping trees and collecting data. These will be collected
    at the end of the event.</p>

<h4>What should I bring to a mapping event?</h4>
<p>
    Please
    bring all the items in your TreesCount! Gear Pack from the training
    event &ndash; you will need your measuring tape, Tree Species ID
    guide, safety vest, and volunteer badge and lanyard!
</p>

<h4>I want to map trees but can&rsquo;t always attend a mapping event. Can
        I map trees independently?</h4>
<p>Yes,
    after you have attended a training event and one additional mapping
    event you can become an independent mapper. You can reserve any
    available block edges for mapping on your own. NYC Parks and
    TreesCount! partner groups will be lending out measuring wheels to
    independent mappers at Loaning Hubs. Once you have your block
    reserved and your measuring wheel borrowed, you&rsquo;ll be able to
    head off on your own street tree mapping adventure! Get started
    reserving your block edges <a href="{% url 'reservations' %}">here</a>
    &ndash; they will be reserved for you for seven days before being
    released back into the pool for another volun<b>treer</b>
    to claim.</p>

<h5>For additional information on NYC Parks, TreesCount! 2015 and past
    TreesCount! Censuses from 1995 and 2005 visit the
    <a href="http://www.nycgovparks.org/trees/treescount">NYC&nbsp;Parks&nbsp;website</a>.</h5>


{% endblock main %}
