{% extends "base_two_frames.html" %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="about" %}
{% endblock %}

{% block aside %}
<h2>About &amp; FAQ</h2>
{% endblock aside %}

{% block main %}

<h4>What is TreesCount! 2015?</h4>
<p>
    TreesCount! is NYC Parks&rsquo; third decadal inventory to map and assess every street tree on every block in New York City.
</p>


<h4>How do I become a voluntreer?</h4>
<p>
    TreesCount! 2015 has officially ended, but there are opportunities year round to get
    involved in caring for the urban forest. Check out NYC Parks’
    <a href="http://www.nycgovparks.org/reg/stewardship">Stewardship page</a>
    to find out more.
</p>

<h4>When can I view the data?</h4>
<p>
    All the street tree data collected during TreesCount! will be given back to YOU in the new
    interactive NYC Street Tree Map that will allow you to view and learn about the trees in your
    neighborhood, and record and share stewardship activities. We invite you to explore the
    beta version of the map at {{ "https://tree-map.nycgovparks.org/"|urlize }}.
</p>

<h5>For additional information on NYC Parks, TreesCount! and past
    TreesCount! Censuses from 1995 and 2005 visit the
    <a href="http://www.nycgovparks.org/trees/treescount">NYC&nbsp;Parks&nbsp;website</a>.</h5>

<h5>Further questions can be directed to {{ "TreesCount@parks.nyc.gov"|urlize }}.</h5>

{% endblock main %}
