{% extends "base_two_frames.html" %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="about" %}
{% endblock %}

{% block aside %}
<h2>About &amp; FAQ</h2>
{% endblock aside %}

{% block main %}

<h4>What is TreesCount! 2015?</h4>
<p>
    TreesCount! 2015 is NYC Parks&rsquo; initiative to map and assess every street tree on every block in New York City.
    <a href="{% url 'registration_register' %}">Register</a> to become a volun<b>treer</b> today!
</p>

<h4>Do I need to know a lot about trees to get involved?</h4>
<p>
    No prior experience is required! We will help you learn everything you need to know to participate.
</p>

<h4>How do I become a voluntreer?</h4>
<p>
    Getting involved is easy! To get started, <a href="{% url 'registration_register' %}">register</a> on our
    website and take our brief online training course. Then, RSVP to and attend a training event with NYC Parks
    or one of our Census partner groups to gain hands-on knowledge about how to assess and map street trees.
</p>

<h4>What happens at a TreesCount! 2015 event?</h4>
<p>
    There are two kinds of events: training and mapping.
</p>
<p>
    Training events are designed to help you apply what you learned in the online training course.
    The first hour of a training event is spent mastering the TreeKIT mapping method and learning to use the Treecorder software.
    After the first hour, you will collect data while mapping in teams.
</p>
<p>
    Mapping events are intended for volun<b>treers</b> who have already been to a training event.
    No instruction period is included, but staff will be present to help you out if you get stuck.
    When you arrive, you will be paired with another volunteer, check out equipment using your volun<b>treer</b> badge,
    and spend the entire event collecting data and mapping.
</p>

<h4>Where can I volunteer to map street trees?</h4>
<p>
    We are hosting events in neighborhoods throughout all five boroughs of New York City.
    Many local organizations are contributing to the mapping effort, and you will be able to
    participate in events hosted by TreesCount! partner groups and by NYC Parks.
    After you’ve completed your online training, find training and mapping events near you <a href="{% url "events_list_page" %}">here</a>.
</p>

<h4>Do I need to bring anything to a training event?</h4>
<p>
    Just a love of trees and a willingness to learn! You will need your TreesCount! username and
    password in order to be checked into the event. At the training event, you will receive a
    TreesCount! Gear Pack with a tree species ID guide, measuring tape, volunteer badge and lanyard, and a safety vest.
    These items are for you to keep and reuse for the duration of the census.
    NYC Parks and our partners will provide you with a measuring wheel and a tablet for mapping trees and collecting data,
    and these will be collected at the end of the event.
</p>

<h4>What should I bring to a mapping event?</h4>
<p>
    Please bring all the items in your TreesCount! Gear Pack from the training event &ndash;
    you will need your measuring tape, Tree Species ID guide, safety vest, and volunteer badge and lanyard!
    Please also remember the username and password you created so that you can be checked into the event
    and receive credit on your profile for the blocks and trees you’ve mapped.
</p>

<h4>I want to map trees but can’t always attend a mapping event. Can I map trees independently?</h4>
<p>
    Yes, after you have attended a training event and one additional training or mapping event, a button will
    appear on your profile and dashboard. Click the button to activate your independent mapper status, and
    then you will be able to reserve and map blocks on your own.
</p>
<p>
    You can reserve any block edges not claimed by a group. Some TreesCount! Partner Groups also allow
    independent mappers in their zones, so check the Group’s Profile page to find out if they allow
    independent mappers and to request permission to map in their area. Once you have your block reserved
    and have borrowed a wheel from a loaning hub, you&rsquo;ll be able to head off on your own street
    tree mapping adventure using your own mobile device!
</p>
<p>
    Get started reserving your block edges <a href="{% url 'reservations' %}">here</a> &ndash; they
    will be reserved for you for seven days before being released back into the pool for another volun<b>treer</b> to claim.
</p>

<h4>What is a loaning hub?</h4>
<p>
    Loaning hubs are locations where independent mappers can check out measuring wheels from NYC Parks and
    TreesCount! Partner Groups for use in mapping on their own.
</p>
<p>
    Wheels are checked out using your volun<b>treer</b> badge and can be checked out for up to one week at a time.
    Wheels must be returned to the same hub from which they were borrowed.
</p>
<p>
    Please visit the <a href="http://www.nycgovparks.org/trees/treescount/individual-mapping">NYC&nbsp;Parks&nbsp;website</a> for
    a current map of loaning hubs, and always call the loaning hub contact number to confirm that wheels are available
    before visiting! Loaning hub locations will be updated periodically throughout the summer.
</p>

<h5>For additional information on NYC Parks, TreesCount! 2015 and past
    TreesCount! Censuses from 1995 and 2005 visit the
    <a href="http://www.nycgovparks.org/trees/treescount">NYC&nbsp;Parks&nbsp;website</a>.</h5>

<h5>Further questions can be directed to {{ "TreesCount@parks.nyc.gov"|urlize }}.</h5>

<h5>If you have an urgent question, please call 212-360-TREE.</h5>

{% endblock main %}
