{% extends "base.html" %}
{% load utils %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="dashboard" %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  {% include 'home/partials/dashboard.html' %}
{% else %}
  {% include 'home/partials/home_public.html' %}
{% endif %}

{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/home.js"|static_url }}"></script>
{% endblock %}

{% block extra_content %}
{% if user.is_authenticated %}
  {% include 'home/partials/species_modal.html' with species_by_name=counts.species_by_name %}
{% else %}
  {% include 'home/partials/species_modal.html' with species_by_name=counts_all.species_by_name %}
{% endif %}

<div class="modal fade" id="users-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Users</h4>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <li><strong class="color--primary">{{ counts_all.user }}</strong> users have registered</li>
          <li><strong class="color--primary">{{ counts_all.attended_events }}</strong> have attended events</li>
          <li><strong class="color--primary">{{ counts_all.individual_mappers }}</strong> are independent mappers</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% if achievements %}
    {% for key, achievement in achievements %}
        {% include "users/partials/achievement_modal.html" %}
    {% endfor %}
{% endif %}

{% endblock extra_content %}
