{% extends "base.html" %}

{% block content %}

<div class="page-dashboard">

    <div class="hero">
        <div class="map" style="background-color: #ddd; height: 400px;">
        </div>
        <div class="hero-box">
            <div class="hero-content">
                <h2 class="hero-heading color--white">Welcome back, tree mapper!</h2>
                <p class="hero-text color--white">
                    In the past week, 405 trees in 12 blocks have been added. We're 43% of our way to our goal!
                </p>
                <div class="hero-link color--white">
                    <a class="color--white" href="{% url 'progress_page' %}">Show me the map →</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if not user.completed_training %}
            <main class="col-sm-12">
                <section class="trainings">{% include "home/partials/training.html" %}</section>
            </main>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}
