{% extends "base_map.html" %}

{% load utils %}

{% block aside %}

  <h2>New Event</h2>
  <p class="pageheading-description-detail">
      Add a new event for your group.
  </p>

{% endblock aside %}

{% block top %}

<div id="map" style="width: 100%; height: 400px"></div>
{% include 'home/partials/legend.html' %}
{% include 'home/partials/location_search.html' %}

{% endblock top %}

{% block page_js %}
  <script type="text/javascript" src="{{ "js/progressPage.js"|static_url }}"></script>
{% endblock page_js %}
