{% extends "base_two_frames.html" %}

{% load utils %}

{% block aside %}
    <div class="pageheading-description block">
        <div class="row">
            <div class="col-xs-12">
                <a href="{% url 'training_summary_pure' %}" class="breadcrumb">
                    <i class="icon-left-open-mini"></i>
                    Training
                </a>
            </div>
            <div class="col-xs-12">
                <h2>{{ quiz.title }}</h2>
            </div>
        </div>
    </div>
{% endblock aside %}

{% block main %}

<input type="hidden" name="quiz-slug" value="{{ quiz_slug }}" />
<input type="hidden" name="correct-answers" value="{{ correct_answers|join:"," }}" />

<h3>
{% if passed_quiz %}
    Great job
{% else %}
    Better luck next time...
{% endif %}
</h3>

<p>You answered <span class="color--primary">{{ score }}/{{ quiz.questions|length }}</span>
    question{{ quiz.questions|length|pluralize }} correctly.</p>

<p>Your best score so far was <span class="color--primary">{{ best_score }}/{{ quiz.questions|length }}</span>.</p>
<hr />
{% for item in quiz_summary %}
{% if item.is_correct %}
    <div class="panel panel-success">
{% else %}
    <div class="panel panel-warning">
{% endif %}
    <div class="panel-heading">
        {{ forloop.counter }}. {{ item.question.text|safe }}
    </div>
    <div class="panel-body">
        <p>
            {% if item.is_correct %}
                <strong class="color--primary">Correct.</strong>
            {% else %}
                <strong class="color--warning">Not Correct.</strong>
            {% endif %}
            You answered:
        </p>
        <ul>
        {% for ans in item.submitted_answers %}
            <li>{{ ans }}</li>
        {% endfor %}
        </ul>
        {% if item.is_correct %}
            <p>{{ item.question.correct_markup|safe }}</p>
        {% else %}
            <p>{{ item.question.incorrect_markup|safe }}</p>
        {% endif %}

    </div>
</div>
{% endfor %}

<hr/>

{% if passed_quiz %}
    <p><a href="{% url 'intro_quiz_mark_progress' %}" class="btn btn-primary">Finish</a></p>
{% else %}
    <p><a href="{% url 'intro_quiz_pure' %}"
          class="btn btn-secondary btn-mobile--max">Try Again</a></p>
{% endif %}

{% endblock main %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/quizCompletePage.js"|static_url }}"></script>
{% endblock page_js %}
