{% extends "base_two_frames.html" %}

{% load utils %}

{% block aside %}
    <div class="pageheading-description block">
        <div class="row">
            <div class="col-xs-12">
                <a href="{% url 'training_summary_pure' %}" class="breadcrumb">
                    <i class="icon-left-open-mini"></i>
                    Training
                </a>
            </div>
            <div class="col-xs-12">
                <h2>{{ quiz.title }}</h2>
            </div>
        </div>
    </div>
{% endblock aside %}

{% block main %}

<form method="POST" action="" class="quiz" data-quiz-slug="{{ quiz_slug }}">
{% csrf_token %}
{% for question in quiz.questions %}
<div class="question
    {% if forloop.first %}active{% else %}hidden{% endif %}"
    data-question="{{ forloop.counter0 }}">
<h3>
    Question {{ forloop.counter }} of {{ quiz.questions|length }}
</h3>
<p>{{ question.text }}</p>

{% if question.is_multiple_choice %}
<p>Please check all applicable answers.</p>
{% endif %}

<div class="hidden alert alert-danger">
    {% if question.is_multiple_choice %}
    <p><strong>Please select at least one of the choices below before moving to the next question.</strong></p>
    {% else %}
    <p><strong>Please select one of the choices below before moving to the next question.</strong></p>
    {% endif %}
</div>

<ul>
{% with question_no=forloop.counter0 %}
    {% for choice in question.choices %}
    <li>
        <input type="{% if question.is_multiple_choice %}checkbox{% else %}radio{% endif %}"
            name="question.{{ question_no }}" id="question.{{ question_no }}.answer.{{ forloop.counter0 }}"
            value="{{ forloop.counter0 }}" />
        <label for="question.{{ question_no }}.answer.{{ forloop.counter0 }}">{{ choice }}</label>
    </li>
    {% endfor %}
{% endwith %}
</ul>
<hr />

<div class="controls clearfix">
{% if not forloop.last %}
    <a href="javascript:void(0)"
       data-question="{{ forloop.counter0 }}"
       class="next btn btn-primary pull-right">Next →</a>
{% else %}
    <input type="submit" value="Submit"
        data-question="{{ forloop.counter0 }}"
        class="submit btn btn-primary pull-right" />
{% endif %}

{% if not forloop.first %}
    <a href="javascript:void(0)"
       data-question="{{ forloop.counter0 }}"
       class="prev btn btn-primary">← Back</a>
{% endif %}
</div>

</div>
{% endfor %}
</form>

{% endblock main %}

{% block page_js %}
<script type="text/javascript" src="{{ "js/quiz.js"|static_url }}"></script>
{% endblock page_js %}
