{% extends "base_two_frames.html" %}

{% load utils %}

{% block aside %}
    <div class="pageheading-description block">
        <div class="row">
            <div class="col-xs-12">
                <a href="{% url 'training_summary_pure' %}" class="breadcrumb">
                    <i class="icon-left-open-mini"></i>
                    Training
                </a>
            </div>
            <div class="col-xs-12">
                <h2>{{ quiz.title }}</h2>
            </div>
        </div>
    </div>
{% endblock aside %}

{% block main %}

{% if passed_quiz %}
<h3>Great job!</h3>
<p>You answered {{ score }}/{{ quiz.questions|length }}
    question{{ quiz.questions|length|pluralize }} correctly.</p>
<p><a href="{% url 'groups_to_follow_pure' %}" class="btn btn-primary">Finish</a></p>

{% else %}
<h3>Better luck next time...</h3>
<p>You answered {{ score }}/{{ quiz.questions|length }}
    question{{ quiz.questions|length|pluralize }} correctly.</p>
<p><a href="{% url 'intro_quiz_pure' %}"
      class="btn btn-primary">Try Again</a></p>

{% endif %}

{% endblock main %}
