{% extends "base_two_frames.html" %}

{% block nav %}
{% include "core/partials/nav.html" with active_page="training" %}
{% endblock %}

{% block aside %}

  <h2>Training</h2>
  <p class="pageheading-description-detail">
    {% if user.online_training_complete %}
    {# when we receive text for this, remove this comment and put it here #}
    {% else %}
    You're almost there! Continue your training to become a mapper.
    {% endif %}
  </p>

{% endblock aside %}

{% block main %}

  {% include "home/partials/training.html" %}

{% endblock main %}
