<form method="POST" id="event-form">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <fieldset class="h4 color--primary">Event details</fieldset>

        <div class="field">
            {{ form.title.label_tag }}
            {{ form.title.errors }}
            {{ form.title }}
        </div>

        <div class="field">
            {{ form.date.label_tag }}
            {{ form.date.errors }}
            {{ form.date }}
        </div>

        <div class="field">
            <label>Time</label>
            {{ form.begins_at_time.errors }}
            {{ form.ends_at_time.errors }}
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 event-time">
                    <div class="input-group">
                        <div class="input-group-addon">Start</div>
                        {{ form.begins_at_time }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 event-time">
                    <div class="input-group">
                        <div class="input-group-addon">End</div>
                        {{ form.ends_at_time }}
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            {{ form.address.label_tag }}
            {{ form.address.errors }}
            <div id="address-search">
                <div class="input-group">
                    {{ form.address }}
                    <span class="input-group-btn">
                        <button class="location-search-box btn btn-default" href="javascript:;" type="button"><i class="icon-search"></i></button>
                    </span>
                </div>
                <div class="state searching">
                    <p>Searching...</p>
                </div>
                <div class="state failure">
                    <p>Sorry, there was a problem finding that location.</p>
                </div>
                <div class="state no-results">
                    <p>Sorry, we could not find a location for that address.</p>
                </div>
                <div class="state results">
                    <ul></ul>
                </div>
            </div>
        </div>

        <input type="hidden" name="lat" value="{{ event.location.y }}">
        <input type="hidden" name="lng" value="{{ event.location.x }}">

        {{ form.location.errors }}
        <div id="map-small" class="map-small"></div>

        <div>
            <a href="#edit-map" data-toggle="tab" class="js-edit">Edit Map</a>
        </div>

        <div class="field">
            {{ form.location_description.label_tag }}
            {{ form.location_description.errors }}
            {{ form.location_description }}
        </div>

        <div class="field">
            {{ form.description.label_tag }}
            {{ form.description.errors }}
            {{ form.description }}
        </div>

        <div class="field">
            {{ form.is_private.label_tag }}
            {{ form.is_private.errors }}
            {{ form.is_private }}
        </div>

        <div class="field">
            {{ form.includes_training.label_tag }}
            {{ form.includes_training.errors }}
            {{ form.includes_training }}
        </div>

        <div class="field">
            {{ form.max_attendees.label_tag }}
            {{ form.max_attendees.errors }}
            {{ form.max_attendees }}
        </div>

        <hr>

        <a href="javascript:;" id="use-my-contact-info" class="pull-right">Use my contact information</a>

        <fieldset class="h4 color--primary">Contact person</fieldset>

        <div class="field">
            {{ form.contact_email.label_tag }}
            {{ form.contact_email.errors }}
            {{ form.contact_email }}
        </div>

        <div class="field">
            {{ form.contact_name.label_tag }}
            {{ form.contact_name.errors }}
            {{ form.contact_name }}
        </div>

        <div>
            <input type="hidden" id="user-contact-name"
                   value="{{ request.user.first_name }} {{request.user.last_name }}" />
            <input type="hidden" id="user-contact-email" value="{{ request.user.email }}" />
        </div>

        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
        <a class="btn btn-link" href="{% url 'group_edit' group_slug=group.slug %}">Cancel</a>

</form>
