<form method="POST" id="event-form">
    <fieldset>
        {% csrf_token %}

        {{ form.errors }}
        {{ form.non_field_errors }}

        <div class="field">
            {{ form.title.errors }}
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="field">
            {{ form.date.errors }}
            {{ form.date.label_tag }}
            {{ form.date }}
        </div>

        <div class="field">
            <label>Time</label>
            <div style="display: inline-block;">
                {{ form.begins_at_time.errors }}
                {{ form.begins_at_time }}
            </div><span>  to  </span>
            <div style="display: inline-block;">
                {{ form.ends_at_time.errors }}
                {{ form.ends_at_time }}
            </div>
        </div>

        <div class="field">
            {{ form.address.errors }}
            {{ form.address.label_tag }}
            {{ form.address }}
        </div>

        <input type="hidden" name="lat" value="{{ event.location.y }}">
        <input type="hidden" name="lng" value="{{ event.location.x }}">

        <div id="map-small" class="map-small"></div>

        <div class="field">
            {{ form.location_description.errors }}
            {{ form.location_description.label_tag }}
            {{ form.location_description }}
        </div>

        <div class="field">
            {{ form.description.errors }}
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <div class="field">
            {{ form.is_private.errors }}
            {{ form.is_private.label_tag }}
            {{ form.is_private }}
        </div>

        <div class="field">
            {{ form.includes_training.errors }}
            {{ form.includes_training.label_tag }}
            {{ form.includes_training }}
        </div>

        <div class="field">
            {{ form.max_attendees.errors }}
            {{ form.max_attendees.label_tag }}
            {{ form.max_attendees }}
        </div>

        <div class="field">
            {{ form.contact_email.errors }}
            {{ form.contact_email.label_tag }}
            {{ form.contact_email }}
        </div>

        <div class="field">
            {{ form.contact_name.errors }}
            {{ form.contact_name.label_tag }}
            {{ form.contact_name }}
        </div>

        <div>
            <input type="hidden" id="user-contact-name"
                   value="{{ request.user.first_name }} {{request.user.last_name }}" />
            <input type="hidden" id="user-contact-email" value="{{ request.user.email }}" />
            <a href="javascript:;" id="use-my-contact-info">Use my contact information</a>
        </div>

        <div style="float:right;">
            <input type="submit" class="btn" value="Save" />
        </div>
        <a class="btn" href="{% url 'group_edit' group_slug=group.slug %}">Cancel</a>

    </fieldset>
</form>
