{% with event=info.event %}

{# If the user can edit the group, there will be a popover menu. Should not show "rightarrow" #}
<a href="{{ event.get_absolute_url }}" class="event block item {% if not user_can_edit_group %} rightarrow{% endif %}">
    <div class="row">
        <div class="event-date col-xs-3">
            <div class="event-month">{{ event.begins_at.date|date:"M" }}</div>
            <div class="event-day h4">{{ event.begins_at.date|date:"d" }}</div>
        </div>
        <div class="event-details col-xs-6">
            <h5 class="event-detail event-detail--title">{{ event.title }}</h5>
            <div class="event-detail">{{ event.begins_at|date:"f A" }} at {{ event.address }}</div>
            <div class="event-detail">{{ event.group.name }}</div>
            <div class="event-detail">{{ event.training_summary }}</div>
            {% if info.user_is_registered %}<div class="event-detail"><b>+ RSVP</b></div>{% endif %}
        </div>
        <div class="event-action col-xs-3">
            {% block extra_markup %}
            {% endblock extra_markup %}
        </div>
    </div>
</a>

{% endwith %}
