{% if event_list.event_infos or event_list.show_when_empty %}

<div data-class="event-list-container">
    {% for filter in event_list.filters %}
    {% if filter.active %}
    <a><b>{{ filter.name }}</b></a>
    {% else %}
    <a href="#" data-class="event-list-action" data-url="{{ filter.url }}">{{ filter.name }}</a>
    {% endif %}
    {% endfor %}

    {% for info in event_list.event_infos %}
        {% include "event/partials/event_section.html" %}
        {% if not forloop.last %}<hr/>{% endif %}
    {% endfor %}

    {% if event_list.load_more_url %}
        <a href="#"
           data-class="event-list-action"
           data-url="{{ event_list.load_more_url }}">Load more events...</a>
    {% endif %}
</div>

{% endif %}
