{% comment %}

The following variables must be in scope:
===
  - user (object)      Model object
  - event (object)     Model object
  - rsvp_count (int)   Number of RSVPd users
  - is_admin (bool)    Is this user a group admin?
  - is_rsvped (bool)   Is this user RSVPd to this event?
{% endcomment %}
<div class="col-xs-6">
    <p>
        {{ rsvp_count }} / {{ event.max_attendees }}
        RSVP{{ rsvp_count|pluralize:"S" }}
    </p>
</div>
<div class="col-xs-6 text-right">
{% if can_rsvp %}
    {% if not user.is_authenticated %}
    <a id="rsvp"
       href="{% url "login" %}?next={{ event.get_absolute_url }}"
       class="btn btn-switch">RSVP</a>
    {% elif is_admin %}
    <a href="{{ event_edit_url }}"
       class="btn btn-switch"><i class="icon-cog"></i>Admin</a>
    {% elif not event.includes_training and not user.training_complete %}
    <a id="rsvp"
       href="{% url "training_instructions" %}"
       class="btn btn-switch btn-rsvp">RSVP</a>
    {% elif is_rsvped %}
    <a id="rsvp"
       href="#"
       data-verb="DELETE"
       data-url="{{ rsvp_url }}"
       class="btn btn-switch btn-rsvp active">RSVPed</a>
    {% else %}
    <a id="rsvp"
       href="#"
       data-verb="POST"
       data-url="{{ rsvp_url }}"
       class="btn btn-switch btn-rsvp">RSVP</a>
    {% endif %}
{% else %}
<a id="rsvp" href="#" class="btn btn-switch disabled">At Capacity</a>
{% endif %}
</div>
