{% comment %}

The following variables must be in scope:
===
  - user (object)      Model object
  - event (object)     Model object
  - rsvp_count (int)   Number of RSVPd users
  - is_admin (bool)    Is this user a group admin?
  - is_rsvped (bool)   Is this user RSVPd to this event?
{% endcomment %}
<div class="col-xs-4">
    <h1 class="rsvp-count-total pull-left color--primary nomargin">{{ rsvp_count }}</h3>
    <div class="rsvp-count-context">
         of {{ event.max_attendees }}<br>
        <span class="h6">RSVPS</span>
    </div>
</div>
<div class="col-xs-8 text-right">
    {% if is_admin %}
        <a href="{{ event_edit_url }}"
           class="btn btn-secondary"><i class="icon-cog"></i>Edit</a>
    {% endif %}
    {% if can_rsvp %}
        {% if not user.is_authenticated %}
            <a id="rsvp"
               href="{% url "login" %}?next={{ event.get_absolute_url }}"
               class="btn btn-switch">RSVP</a>
        {% elif not event.includes_training and not user.training_complete %}
            <a id="rsvp"
               href="{% url "training_instructions" %}"
               class="btn btn-switch btn-rsvp">RSVP</a>
        {% elif is_rsvped %}
            <a id="rsvp"
               href="#"
               data-verb="DELETE"
               data-url="{{ rsvp_url }}"
               class="btn btn-switch btn-rsvp active">RSVPed</a>
        {% else %}
            <a id="rsvp"
               href="#"
               data-verb="POST"
               data-url="{{ rsvp_url }}"
               class="btn btn-switch btn-rsvp">RSVP</a>
        {% endif %}
    {% else %}
        <a id="rsvp" href="#" class="btn btn-switch disabled">At Capacity</a>
    {% endif %}
</div>
