
.icon-globe:before { content: '\e800'; } /* '' */
.icon-flow-tree:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-bell:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */
.icon-docs:before { content: '\e808'; } /* '' */
.icon-trash:before { content: '\e809'; } /* '' */
.icon-tag:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-right-open-big:before { content: '\e80e'; } /* '' */
.icon-export:before { content: '\e80f'; } /* '' */
.icon-left-open-big:before { content: '\e810'; } /* '' */
.icon-eye:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-left-open-mini:before { content: '\e813'; } /* '' */
.icon-dot-3:before { content: '\e814'; } /* '' */
.icon-leaf:before { content: '\e815'; } /* '' */
.icon-right-open-mini:before { content: '\e816'; } /* '' */
.icon-record:before { content: '\e817'; } /* '' */
.icon-down-open-big:before { content: '\e818'; } /* '' */
.icon-spin4:before { content: '\e819'; } /* '' */