{% extends "skeleton.html" %}
{% load utils %}

{% block body %}
    <header class="left-content">
    {% block nav %}
        {% include "core/partials/nav.html" %}
    {% endblock nav %}
    </header>
    <header class="main-header">
        <nav class="nav-main clearfix">
            <div class="nav-left">
                <button class="nav-menubutton nav-left" type="button" data-target="" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="brand nav-left">
                    <a href="{% url 'home_page' %}"><img src="{{ 'img/logo-treescount.png'|static_url }}" srcset="{{ 'img/logo-treescount@2x.png'|static_url }} 2x" alt="TreesCount! 2015 logo" /></a>
                </div>
            </div>
            <div class="nav-right nav-account">
                {% if request.user.is_authenticated %}
                <a href="{% url 'auth_logout' %}">Logout</a>
                {% else %}
                {% block login_link %}
                <a href="{% url 'auth_login' %}?next={{ request.get_full_path|urlencode }}">Login</a>
                {% endblock %}
                | <a href="{% url 'registration_register' %}">Register</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <div class="overlay-menued"></div>
    <div class="right-content">
        {% block content %}
        {% endblock content %}
    </div>
    {# This block exists for placing elements that need to be children of the body, like bootstrap modals #}
    {% block extra_content %}
    {% endblock extra_content %}

    {% block footer %}
        <footer>
            <div class="container text-center">
                <div class="row">
                    <div>
                        <img class="section-about-logo" src="{{ 'img/logo-nycparks.png'|static_url }}" srcset="{{ 'img/logo-nycparks@2x.png'|static_url }} 2x" alt="NYC Parks Logo" />
                        <p>A project of New York City <strong>Department&nbsp;of&nbsp;Parks&nbsp;&amp;&nbsp;Recreation</strong></p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}
{% endblock body %}
