{% extends "base.html" %}
{% load utils %}

{% block content %}

<div class="page-map page-action-bar page-new-survery">

	{% block top %}
    {% endblock top %}
	
	<div class="container">
        <div class="row">
            <aside class="pageheading-details block map-action-sidebar col-md-4">

                {% block aside %}
                {% endblock aside %}

            </aside>
            <div class="map-container">

                {% block main %}
                {% endblock main %}

            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block footer %}
{# Map pages hide the footer to maximize viewable area #}
{% endblock footer%}
