{% extends "base.html" %}
{% load utils %}

{% block content %}

<div class="page-group">

    {% block top %}
    {% endblock top %}

    <div class="container">
        <div class="row">
            <aside class="pageheading-details block col-sm-4">

                {% block aside %}
                {% endblock aside %}

            </aside>
            <main class="col-sm-8">

                {% block main %}
                {% endblock main %}

            </main>
        </div>
    </div>

</div>

{% endblock %}
